.container-flex-box {
    margin-top:30px;
    padding: 10px;
    /*background-color: #E7EAFF; */
    /*border: 1px solid blue; */
    border-radius: 25px;
    display: -webkit-box;     /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;        /* Firefox 19- */
    display: -ms-flexbox;     /* IE 10 */
    display: -webkit-flex;    /* Chrome */
    display: flex;            /* Opera 12.1, Firefox 20+ */

    /* iOS 6-, Safari 3.1-6 */
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-lines: multiple;  /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Firefox 19- */
    -moz-flex-flow: row wrap;
    -moz-justify-content: space-between;
    -moz-box-lines: multiple; /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Chrome */
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;

    /* IE10 */
    -ms-flex-flow: row wrap;
    -ms-justify-content: space-between;

    /* Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
}

.item-flex-box{
    margin: 10px;
    width: 30%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid;
    -webkit-box-flex: auto;    /* iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.0;        /* Firefox 19- */
    -webkit-flex: auto;        /* Chrome */
    -ms-flex: auto;            /* IE10 */
    flex: auto;                /* Opera 12.1, Firefox 20+ */
}

.single-element-in-row {
    width: 300px !important;
}

@media screen and (max-width: 768px) {
    .item-flex-box {
        width: 100%;
    }

    .single-element-in-row {
        width: 300px !important;
    }
}
