
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 600px;
    /*background: url("https://www.dellemc.com/content/dam/uwaem/production-design-assets/en/infographics/callaway/images/section08/Overlay.png"); */
}

.column-content p {
    font-family: Verdana, Arial, tahoma, helvetica, arial,sans-serif;
    font-size: 1.2em;
    line-height: 1.7em;
    color: #000000;
    margin-bottom:1.7em;
}

.sidebar-neurosuite a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.nav-wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar-neurosuite {
    min-width: 250px;
    max-width: 250px;
    background: #23527c;
    color: #fff;
    transition: all 0.3s;
    font-weight: 500;
    position: fixed;
    height: 100%;
}

/*
.content_nav {
    width: 83%;
    margin-left: 300px;
    margin-right: 30px;
}
*/

.container_datatable {
    width: 95%;
}



table.dataTable th {
    background-color: #b3e0ff;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 5px 2px 2px 5px;
}


input.search-field-table{
    display: block; padding: 0; margin: 0; width: 100%;
}



.container-sep-top {
    margin-top: 20px;
}

.container-sep-top-small {
    margin-top: 10px;
}


.container-sep-bottom {
    margin-bottom: 20px;
}

.container-sep-left {
    margin-left: 20px;
}

.container-padding-bottom {
    padding-bottom: 50px;
}

.container-center{
    text-align: center;
}

.vertical-center {
    vertical-align: center;
}

.container-center-justified {
    margin-left: 15px;
    margin-right: 15px;
}

.container-center-limited{
    width: 60%;
    margin: 20px auto auto auto;
}


.container-center-limited-30 {
    width: 30%;
    margin: 20px auto auto auto;
}

.container-center-limited-40 {
    width: 40%;
    margin: 20px auto auto auto;
}

.container-center-limited-50{
    width: 50%;
    margin: 20px auto auto auto;
}


.container-center-limited-70 {
    width: 65%;
    margin: 20px auto auto auto;
}

.container-center-limited-80 {
    width: 75%;
    margin: 20px auto auto auto;
}

.container-center-limited-90 {
    width: 85%;
    margin: 20px auto auto auto;
}



.sidebar-neurosuite.active {
    min-width: 140px;
    max-width: 140px;
    text-align: center;
    overflow-y: hidden;
}

.sidebar-neurosuite.active .sidebar-header h3 {
    display: none;
}

.sidebar-neurosuite.active .sidebar-header strong {
    display: block;
}

.sidebar-neurosuite ul li a {
    text-align: left;
}

.sidebar-neurosuite.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.sidebar-neurosuite.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.sidebar-neurosuite.active ul ul a {
    padding: 10px !important;
}

.sidebar-neurosuite.active a[aria-expanded="false"]::before, .sidebar-neurosuite.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.sidebar-neurosuite .sidebar-header {
    padding: 20px;
    background: #23527c;
}

.sidebar-neurosuite .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

.sidebar-neurosuite ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar-neurosuite ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar-neurosuite ul li a:hover {
    color: #fff;
    background: #0055aa;
}
.sidebar-neurosuite ul li a i {
    margin-right: 10px;
}

.sidebar-neurosuite ul.collapse-li > li > a{
    color: #4dd0e1 !important;
    font-size: 1.1em !important;
}

.sidebar-neurosuite ul.not-collapse > li > a{
    color: inherit;
    font-size: 1.3em !important;
}

.sidebar-neurosuite ul.not-collapse li.active > a {
    color: #23527c;
    background: #fff;
}

.sidebar-neurosuite ul.collapse-li > li.active > a{
    color: #000;
    background: #23527c;
}




/*
.sidebar-neurosuite ul a[aria-expanded="true"] {
    color: #4f83cc;
    background: #0000ff;
}
*/

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #01579b;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #4f83cc;
}

a.article, a.article:hover {
    background: #01579b !important;
    color: #fff !important;
}

.column-sidebar{
    overflow: auto;
    overflow-y: scroll;
}

.column-content {
    overflow-y: scroll;
    width: auto;
    margin-bottom: 100px;
}


.content-div  {
    padding-top:0px;
}



p.error {
    color: red;
}

.error-color {
    color: red !important;
}

.success-color {
    color: green !important;
}


.neuromorpho_logo{
    width: 40%;
    height: 40%;
}


.neuromorpho_loading_logo{
    height: 11%;
    width: 11%;
}

.neuromorpho_loading_logo_standalone{
    height: 40px;
    width: 50px;
}

label {
    font-weight: 600;
}

.clickable{
    cursor: pointer;
}























.sidebar-neurosuite {
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 80px;
    left: 0;
    padding-top: 0px;
    overflow: auto;
    overflow-y: scroll;
}

.CTAs {
    margin-bottom: 100px;
}

.column-content {
    margin-left: 270px; /* Same as the width of the sidenav */
    padding: 0px 10px;
    overflow-y: hidden;
}



#sidebarCollapse{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}


.hide-element {
    display: None !important;
}

.glyphicon-ok{
    color: green;
}

.glyphicon-remove{
    color: red;
}


.modal-center {
    text-align: center;
    padding: 0!important;
}

.modal-center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-center-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



.on-mouse-show-hand {
    cursor: pointer;
}


.no-border {
    border: 0px !important;
}

.table-small-border {
    border: 1px solid #47748b;
}

.table-not-scroll-x {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.table-headers-center th {
    text-align: center;
}

.img-hbp-dendrite-arborization-simulation-demo3D {
    width: 380px;
    height: 100%;
}

.section-border-right {
    border-right: 2px solid #4f83cc;
}

.section-border-left {
    border-left: 2px solid #4f83cc;
}

.label-info {
    background-color: #006666;
}



.underline {
    text-decoration: underline;
}

.margin-small-left {
    margin-left: 10px;
}


.section-input-field {
    margin-top: 20px;
}


.form-group-horizontal {

}

.label-group-horizontal {
    width: 250px;
    text-align: right;
    margin-right: 15px;
}

.input-group-horizontal {
    width: 75px;
    margin-right: 5px;
}

.not-bold {
    font-weight: 400;
}

.left-google-icon {
    margin-left: -8px;
}

.label-with-checkbox {
    display: inline-block;
    width: 180px;
}


.selectize-small .selectize-input  {
    width: 250px; !important;
    font-weight: 400;
}

.selectize-single-value .selectize-input  {
    width: 250px; !important;
    font-weight: 400;
}

.selectize-single-value-large .selectize-input  {
    width: 375px; !important;
    font-weight: 400;
}

.selectize-single-value-medium .selectize-input  {
    width: 230px; !important;
    font-weight: 500;
}

.selectize-single-value-small .selectize-input  {
    width: 180px; !important;
    font-weight: 500;
}

.selectize-single-value-tiny .selectize-input  {
    width: 120px; !important;
    font-weight: 500;
}


.selectize-bivariate-value .selectize-input  {
    width: 325px; !important;
    font-weight: 500;
}

.selectize-multi-value .selectize-input  {
    width: 100%; !important;
    font-weight: 500;
}


.selectize-half-multi-value .selectize-input  {
    width: 50%; !important;
    font-weight: 500;
}

.selectize-small-multi-value .selectize-input  {
    width: 25%; !important;
    font-weight: 500;
}

.img-size-40 {
    width: 40%;
    height: 40%;
}

/* Horizontal screens very wide*/
@media screen and (max-width: 991px) {

    .column-content {
        padding: 0px 10px;
        overflow-y: scroll;
    }

    .sidebar-neurosuite{
        top:140px;
        overflow:auto;
        overflow-y: scroll;

    }


}

/* Horizontal screens wide*/
@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    .column-content {
        margin-left: 5px;
        overflow-y: scroll;
    }



    .sidebar-neurosuite {
        min-width: 100px;
        max-width: 120px;
        font-size: 70%;
    }

    .sidebar-header h4, h3{
        font-size: 150%;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }


    .sidebar-neurosuite.active {
        display: none;
        min-width: 0px;
        max-width: 0px;
    }

    ul.CTAs {
        padding: 0px;
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 10px !important;
        background: #01579b; !important;
    }

    .column-content {
        margin-left: 140px; /* Same as the width of the sidenav */
        padding: 0px 10px;
        overflow-y: scroll;
    }

    .sidebar-neurosuite{
        top:110px;
        display:block;
        overflow:auto;
        overflow-y: scroll;

    }


}

.section-report-title {
    color: #286090;
}

.section-report-content {
    position: relative;
    padding: 10px;
    padding-top: 0px;
    border: 2px solid #47748b;
}

.buttons-download-report {
    margin-right: 2px;
    margin-top: 2px;
    position: relative;
    float: right;
    z-index: 2;
}

.dropdown-menu-export{
    font-size: 18px;
}

.dropdown-menu-export .export-icon {
    margin-right: 20px;
}

.icon-submenu {
    font-size: 24px;
    margin-right: 10px;
}

.icon-margin-left {
    margin-left: 10px;
}

.icon-margin-right {
    margin-right: 10px;
}

.dt-buttons {
    margin-bottom: 5px;
}

.buttons-copy {
    margin-left: 50px;
}



.half-screen-div-left {
    float: left;
    width: 50%
}

.half-screen-div-right {
    float: right;
    width: 50%
}

.inputs-same-line {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
    text-align: center;
}

.inputs-same-line label input {
    display: block;
    width: 50%;
    height: 50%;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}


.notify-icon {
    margin-right: 10px;
}

.warning-icon {
    font-size:30px;
    color:red
}

.warning-icon-orange {
    font-size:20px;
    color: orange;
}

.button-info-dark {
    background-color: #17a2b8;
}

.button-info-dark:hover {
    background-color: #17759c;
}

.container-width-70{
    width: 70%;
}

.p-no-margin {
    margin-bottom: 0px !important;
}

.link-box-rounded {
    font-size: 15px;
    border: 2px solid #337ab7;
    border-radius: 3px;
    padding: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.link-heading-panel {
    color: inherit;
}

.button-margin-bottom {
    margin-bottom: 7px;
}

.float-right {
    float: right;
}

.hr-bold {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #4f83cc; /* old IE */
    background-color: #4f83cc; /* Modern Browsers */
}

.hr-no-margin {
    border: none;
    height: 1px;
    margin: 0px !important;
    /* Set the hr color */
    color: #eeeeee; /* old IE */
    background-color: #eeeeee; /* Modern Browsers */
}

.p-margin-small {
    margin-bottom: 10px !important;
}

.p-margin-medium {
    margin-bottom: 15px !important;
}

.neuron_png_thumbnail {
    width: 90px;
    height: 90px;
}

.modal-body-margins {
    margin-left: 15px;
    margin-right: 15px;
}

.input-form-label {
    width: 250px;
    margin-left: 10px;
}

.last-section-page {
    padding-bottom: 200px;
}

.center-google-icon {
    vertical-align: text-bottom;
}

.center-checkbox-vertical {
    vertical-align: text-bottom;
}


.noUi-connect {
    background: #2980b9;
}


.slider-range .noUi-handle {
    background: #FFFFFF;
    height: 25px;
    width: 15px !important;
    border: 1px solid black;
    left: -10px !important;
}

.slider-range .noUi-handle:before, .noUi-handle:after {
    content: none !important;
    display: none !important;
}

.slider-range .noUi-base {
    border: 0.1px solid #009999;
    border-radius: 3px;
    background: #e6ffff;
}

.slider-range .noUi-pips{
    font-weight: 300;
    color: #505050;
}

.slider-range .noUi-tooltip {
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 700;
}

.input-below-slider {
    width: 65px;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
}

.disabled-div {
    background-color: #ccffff;
    opacity: .6;
    pointer-events:none;
}

::backdrop
{
    background-color: white;
}

.dark-background{
    background-color: #E1E2E1;
}

.steps-div{
    background-color: whitesmoke;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 18em;
}

.step-div{
    margin-top: 2em;
}

.dark-blue-background{
    background-color: #001d4f;
    color: whitesmoke;
    font-size: 0.9em;
}

.middle-dark-blue-background{
    background-color: #23527c;
    color: whitesmoke;
    font-size: 0.9em;
}

.instruction_button {
    width: 220px;
}

.instructions_logo {
    height: 9em;
    margin-top: 4em;
}

/* Horizontal screens */
@media screen and (max-width: 597px) {

    .column-content {
        margin-left: 140px; /* Same as the width of the sidenav */
        padding: 0px 10px;
        overflow-y: scroll;
    }

    .sidebar-neurosuite{
        top:160px;
        display:block;
        overflow:auto;
        overflow-y: scroll;

    }




}


/* Vertical screens */
@media screen and (max-width: 463px) {

    .column-content {
        margin-left: 140px; /* Same as the width of the sidenav */
        padding: 0px 10px;
        overflow-y: scroll;
    }

    .sidebar-neurosuite{
        top:240px;
        overflow:auto;
        overflow-y: scroll;

    }

}


/*
@media (max-width: 768px) {
    .sidebar-neurosuite {
        min-width: 100px;
        max-width: 120px;
        text-align: center;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    .sidebar-neurosuite.active {
        margin-left: -80px !important ;
    }

    .sidebar-neurosuite .sidebar-header h3, .sidebar-neurosuite .CTAs {
        display: none;
    }

    .sidebar-neurosuite .sidebar-header strong {
        display: block;
    }

    .sidebar-neurosuite ul li a {
        padding: 20px 10px;
    }

    .sidebar-neurosuite ul li a span {
        font-size: 0.85em;
    }
    .sidebar-neurosuite ul li a i {
        margin-right:  0;
        display: block;
    }

    .sidebar-neurosuite ul ul a {
        padding: 10px !important;
    }

    .sidebar-neurosuite ul li a i {
        font-size: 1.3em;
    }


}

*/
