.text-primary, h {
    color: #000000 !important;
}

.progress {
    width:35%;
    background:#00bbff;
    height: 30px;
    margin: 20px auto 20px auto;
}

.bar {
    height: 30px;
    width:0%;
    text-align:right;
}

.bar-text {
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    line-height: 30px;
    vertical-align: middle;
}


p.warning {
    color: red;
    font-weight: 500;
}

#estimated-time-finish {
    font-weight: 700;
    margin-right: 10px;
}