{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block global__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Global | NeuroSuites{% endblock title %}</title>

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>

        <!-- Page Content Holder -->
        <div class="column-content">
            <h3>Global:</h3>

        </div>

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
