{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block microscopic_images__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Microscopy tools for neuroscience images | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="Access to our online tools for analyze neuroscience microscopy images .
            Use Multimap, an extensible application to create, visualize and analyze spatial data on maps.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/micro_images/index_microscopic_images.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_select_software_micro.html" with li_active="instructions" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h3>Instructions:</h3>

            <p>Select the software to analyze the microscopy images on the left sidebar</p>


            <div class="panel-multimap panel panel-primary">
                <div class="panel-heading ">
                    <h4 id="" class="">MultiMap - Application to visualize, edit and analyze spatial data</h4>
                </div>
                <div class="panel-body">
                    <p>Multimap is an extensible application to create, visualize and analyze spatial data on maps.<br>
                        Maps can be both geographical and non-geographical maps (for example maps created from biological images).</p>

                    <p>MultiMap was originally created by <a href="https://gherardovarando.github.io/">Gherardo Varando</a>.<br>
                        <a href="https://github.com/ComputationalIntelligenceGroup/MultiMap">MultiMap repository.</a>
                    </p>
                    <p class="reference-multimap">Varando, G., Benavides-Piccione, R., Muñoz, A., Kastanauskaite, A., Bielza, C., Larrañaga, P., & DeFelipe, J. (2018).<br> MultiMap: A tool to automatically extract and analyze spatial microscopic data from large stacks of confocal microscopy images.<br> Frontiers in Neuroanatomy, 12, 37.<br><a class="link-multiline" href="https://www.frontiersin.org/articles/10.3389/fnana.2018.00037">https://www.frontiersin.org/articles/10.3389/fnana.2018.00037</a></p>
                    <img src="{%  static "neurosuite/img/multimap_demo.png" %}" />
                </div>
            </div>

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
