{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block microscopic_images__content %}
        <head xmlns="http://www.w3.org/1999/html">
            <meta charset="utf-8">
            <title>{% block title %}MultiMap tool for neuroscience microscopy images | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="Multimap is an extensible application to create, visualize and analyze spatial data on maps.
            Maps can be both geographical and non-geographical maps (for example maps created from biological images).">
            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/micro_images/multimap.css" %}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css"/>
            <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.css" />
            <link href="{%  static "/Leaflet.zoominfo/src/L.Control.Zoominfo.css" %}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.coordinates@0.1.5/dist/Leaflet.Coordinates-0.1.5.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.2/css/bootstrap-colorpicker.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-toolbar@0.4.0-alpha.1/dist/leaflet.toolbar.min.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw-toolbar@0.3.0-alpha.1/dist/leaflet.draw-toolbar.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/loading_worker_task.css" %}" rel="stylesheet" type="text/css" />

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.3.7/papaparse.min.js"></script>
            <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="  crossorigin=""></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
            <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/vendor/jquery.ui.widget.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/jquery.iframe-transport.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/jquery.fileupload.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/leaflet.coordinates@0.1.5/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.2/js/bootstrap-colorpicker.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/leaflet-toolbar@0.4.0-alpha.1/dist/leaflet.toolbar.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/leaflet-draw-toolbar@0.3.0-alpha.1/dist/leaflet.draw-toolbar.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
            <script src="{%  static "neurosuite/js/utils/notify_messages.js" %}"></script>
            <script src="{%  static "leaflet_image/leaflet-image.js" %}"></script>
            <script src="{%  static "leaflet_toolbar_colorpicker/colorpicker.js" %}"></script>
            <script src="{%  static "leaflet_toolbar_textinput/textinput.js" %}"></script>
            <script src="{%  static "progress_bar_upload/progress_bar_upload.js" %}"></script>
            <script src="{%  static "Leaflet.zoominfo/src/L.Control.Zoominfo.js" %}"></script>
            <script src="{%  static "leaflet-multilevel/leaflet-multilevel.js" %}"></script>
            <script src="{%  static "leaflet-csvtiles/leaflet-csvtiles.js" %}"></script>
            <script src="{%  static "leaflet-map-builder/leaflet-map-builder.js" %}"></script>
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="{%  static "neurosuite/js/micro_images/multimap.js" %}"></script>

        </head>

        <body>
        {% include "sidebar_select_software_micro.html" with li_active="multimap" %}

        <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />
        <input type="hidden" id="configuration_json_received" value="{{ configuration_json_received }}" />

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 class="container-center">MultiMap</h2>

            <p>MultiMap is an extensible application to visualize, edit and analyze spatial data on maps.<br>
                Maps can be both geographical and non-geographical maps (for example maps created from biological images).</p>

            <p>MultiMap desktop application (see section below) was originally created by <a href="https://gherardovarando.github.io/">Gherardo Varando</a>.</p>

            <span><button class="btn btn-md btn-primary" data-toggle="modal" data-target="#modal-recommended-image-sources">Recommended image sources</button></span>
            <span><button class="btn btn-md btn-info button-info-dark" data-toggle="modal" data-target="#modal-frequent-questions">Frequent questions</button></span>

            <div class="container-sep-top section-report" id="multimap_app">
                <div class="section-report-content">
                    <h3 class="section-report-title">MultiMap</h3>
                    <p>For slices layers: ctrl + up arrow or down arrow to increase/decrease the slice level. (Slice level is shown in the bottom left)</p>

                    <div class="dropup buttons-hide-without-map hide-element">
                        <div class="dropdown buttons-download-report">
                            <button class="btn btn-md btn-primary dropdown-toggle dropdown-menu-export" type="button" id="dropdown-menu-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-download-alt export-icon"></span>
                                <span class="text-button-export">Export map...</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-menu-export">
                                <li><a id="export-map-json" format="json" class="button-export" href="#"><span class="fa fa-file-text-o icon-submenu"></span>Export full map to JSON</a></li>
                                <li><a id="export-drawing-layer-json" format="json" class="button-export" href="#"><span class="fa fa-file-text-o icon-submenu"></span>Export drawing layer to JSON</a></li>
                                <li><a id="export-map-image" class="button-export" href="#"><span class="fa fa-image icon-submenu"></span>Export map as image</a></li>

                                <form id="form-export-map-image" method="POST" action="/micro/screenshot_element/">
                                    {% csrf_token %}
                                    <input type="hidden" id="full_html_client" name="full_html_client" />
                                    <input type="hidden" id="element_id_client" name="element_id_client" value="premap" />
                                    <input type="hidden" id="screenshot_name" name="screenshot_name" value="exported_map_image" />
                                    <input type="hidden" id="configuration_map_json_image" name="configuration_map_json_image" />
                                    <input type="hidden" id="configuration_name_json_image" name="configuration_name_json_image" />
                                </form>
                            </ul>
                        </div>
                    </div>

                    <div class="dropup buttons-hide-without-map hide-element">
                        <div class="dropdown buttons-download-report" app_id="{{ app_id }}" section_report_id="{{ section_report_id }}">
                            <button class="btn btn-md btn-primary dropdown-toggle dropdown-menu-export" type="button" id="dropdown-menu-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="text-button-export">{{ text_export_button }}</span>
                                <span class="text-button-export">Tools...</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-menu-export">
                                <li><a id="tool-points-detection" tool="points-detection" class="multimap-tools" data-toggle="modal" data-target="#modal-image-tool-points" href="#"><span class="fa fa-circle icon-submenu"></span>Points detection</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="button-group-load-layer" class="dropup buttons-hide-without-map hide-element">
                        <div class="dropdown buttons-download-report" app_id="{{ app_id }}" section_report_id="{{ section_report_id }}">
                            <span id="layer-filename" class="hide-element">Layer name</span>
                            <input  type="file" class="hide-element chunked_upload" id="load-drawing-layer-json" name="the_file" />
                            <button class="btn btn-md btn-primary dropdown-toggle dropdown-menu-export" type="button" id="input-file-layer-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-open"></span>
                                <span class="text-button-export">{{ text_export_button }}</span>
                                <span class="text-button-export">Load layer...</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-menu-export">
                                <li><a id="load-layer-image" format="image" source="computer" data-toggle="modal" data-target="#modal-layer-image-computer" class="button-export" href="#"><span class="fa fa-file-image-o icon-submenu"></span>Load image from your computer</a></li>
                                <li><a id="load-layer-image-url-modal" class="button-export" data-toggle="modal" data-target="#modal-layer-image-url" href="#"><span class="fa fa-file-image-o icon-submenu"></span>Load image from web</a></li>
                                <li><a format="json" onclick="document.getElementById('load-drawing-layer-json').click();" class="button-export" href="#"><span class="fa fa-file-text-o icon-submenu"></span>Load drawing layer in JSON</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="dropup">
                        <div class="dropdown buttons-download-report" app_id="{{ app_id }}" section_report_id="{{ section_report_id }}">
                            <span id="map-filename" class="hide-element">Map name</span>
                            <input type="file" style="display:none;" id="input-file-map-json" name="input-file-map-json"/>
                            <button class="btn btn-md btn-primary dropdown-toggle dropdown-menu-export" type="button" id="input-file-map-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="glyphicon glyphicon-open"></span>
                                <span class="text-button-export">{{ text_export_button }}</span>
                                <span class="text-button-export">Load map...</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdown-menu-export">
                                <li><a id="load-map-image" format="image" source="computer" data-toggle="modal" data-target="#modal-image-computer" class="button-export" href="#"><span class="fa fa-file-image-o icon-submenu"></span>Load image from your computer</a></li>
                                <li><a id="load-map-image-url-modal" class="button-export" data-toggle="modal" data-target="#modal-image-url" href="#"><span class="fa fa-file-image-o icon-submenu"></span>Load image from web</a></li>
                                <li><a id="load-map-json" format="json" onclick="document.getElementById('input-file-map-json').click();" class="button-export" href="#"><span class="fa fa-file-text-o icon-submenu"></span>Load JSON map</a></li>
                            </ul>
                        </div>
                    </div>


                    <div id="modal-recommended-image-sources" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Recommended image sources</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Full list of neuroimaging repositories: <br>
                                        <a href="https://en.wikipedia.org/wiki/List_of_neuroscience_databases">https://en.wikipedia.org/wiki/List_of_neuroscience_databases</a>
                                        <br>
                                        Click on the following sections to view the steps for viewing their images.
                                    </p>
                                    <div id="panel-recommended-brainmaps" class="item-flex-box panel panel-primary">
                                        <div id="panel-heading-brainmaps" class="panel-heading clickable panel-heading-recommended-sources">
                                            <h5 class="heading-panel-recommended-sources">Brainmaps.org<img class="image-heading-recommended-sources" src="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_logo.gif" %}"/></h5>
                                            <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        </div>
                                        <div class="panel-body neuron-overview-panel-body">
                                            <div class="container-center-justified">
                                                <p>Enter in <a target="_blank"  href="http://brainmaps.org">Brainmaps.org</a><br>
                                                    1 - Select a specie on the left sidebar<br>
                                                    2 - Select a dataset
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_datasets.png" %}"><img src="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_datasets.png" %}"/></a>
                                                    <br><br>

                                                    Click on the jpg icon to open the image
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_one_dataset.png" %}"><img src="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_one_dataset.png" %}"/></a>
                                                    <br><br>

                                                    Copy the url from the top of the page <br>
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_copy_url.png" %}"><img width="80%" src="{%  static "neurosuite/img/multimap_recommended_image_sources/brainmaps_copy_url.png" %}"/></a>
                                                    <br><br>

                                                    Click the on the "Load image from web button" <br>
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_open.png"%}"><img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_open.png"%}"/> </a> <br>
                                                    <br><br>

                                                    Paste the url on the text box
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/load_image_from_web_text.png"%}"></a><img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_image_from_web_text.png"%}"/> </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item-flex-box panel panel-primary">
                                        <div class="panel-heading clickable panel-heading-recommended-sources">
                                            <h5 class="heading-panel-recommended-sources">Allen Institute<img id="panel-heading-image-allen" class="image-heading-recommended-sources" src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_logo.png" %}"/></h5>
                                            <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        </div>
                                        <div class="panel-body neuron-overview-panel-body">
                                            <div class="container-center-justified">
                                                <p>Enter in <a target="_blank"  href="http://brain-map.org/">Allen Brain Atlas</a> <br>
                                                    1 - Click on the Data button <br>
                                                    2 - Select mouse or human brain
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_data_mouse_human.jpg" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_data_mouse_human.jpg" %}"/></a>
                                                    <br><br>
                                                    3 - (1) Select ISH data. (2) Select a type of search. (3) Filter the data and obtain the results, click on them.
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_search_results.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_search_results.png" %}"/></a>
                                                    <br><br>
                                                    4 - While viewing one image, click on the upper right corner.
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_overview.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_overview.png" %}"/></a>
                                                    <br><br>
                                                    5 - In the new window, click again the upper right corner.
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_download.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_download.png" %}"/></a>
                                                    <br><br>
                                                    6 - Finally, on the "Download type" select "Entire image", and in the "Downsample factor" select "none".
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_download_entire.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/allen_mouse_image_download_entire.png" %}"/></a>
                                                    <br><br>
                                                    Then you can upload the image by clicking the "Load image from your computer" in the "Load Map" button or in the "Load layer" button (if you want to include the image as part of the existing map). <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_open.png" %}"/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="panel-recommended-broadinstitute" class="item-flex-box panel panel-primary">
                                        <div id="panel-heading-broadinstitute" class="panel-heading clickable panel-heading-recommended-sources">
                                            <h5 class="heading-panel-recommended-sources">Broad institute<img class="image-heading-recommended-sources" src="{%  static "neurosuite/img/multimap_recommended_image_sources/broad_institute_logo.png" %}"/></h5>
                                            <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                        </div>
                                        <div class="panel-body neuron-overview-panel-body">
                                            <div class="container-center-justified">
                                                <p>Enter in <a target="_blank"  href="https://data.broadinstitute.org/bbbc/image_sets.html">Broad institute's site</a>
                                                    and select a dataset

                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/broad_institute_search.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/broad_institute_search.png" %}"/> </a>
                                                    <br><br>

                                                    Click on the download link to download the images from the dataset <br>
                                                    <a href="{%  static "neurosuite/img/multimap_recommended_image_sources/broad_institute_image_download.png" %}"> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/broad_institute_image_download.png" %}"/> </a>
                                                    <br>
                                                    Then, in this site, you can upload the image by clicking the "Load image from your computer" in the "Load Map" button or in the "Load layer" button (if you want to include the image as part of the existing map). <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_open.png" %}"/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="modal-frequent-questions" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg"">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Frequent questions</h3>
                            </div>
                            <div class="modal-body">
                                <h4 class="question-multimap">How can I upload my own image?</h4>
                                <p>Click the <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_button.png"%}"/> button and select whatever option you want.</p>

                                <h4 class="question-multimap">Can I upload images from other websites?</h4>
                                <p>Yes, you can view any image. Furthermore, you don't need to download the images from the internet.
                                    You can upload the images by copy and pasting the url of the image. <br><br>
                                    1 - Copy the url of the image you want to upload <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/copy_url.png"%}"/> <br>
                                    <br>
                                    2 - Paste the url on the text box when you click the on the "Load image from web button" <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_open.png"%}"/> <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/copy_url.png"%}"/> <br>
                                </p>

                                <h4 class="question-multimap">Can I draw figures and include annotations on the map?</h4>
                                <p>Yes, once you have loaded a map, click the icons on the left side to start drawing <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/leaflet_draw_icons.png"%}"/> <br>
                                    To include annotations and change the colour of the figures, click in a figure and click in the icons inside the figure <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/leaflet_edit_figure.png"%}"/>.
                                </p>

                                <h4 class="question-multimap">What are the layers?</h4>
                                <p>A layer is an image or a set of figures. You can upload multiple layers in the same map.
                                    In order to do it, first load a map. <br>

                                    Then the  <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_layer_button.png"%}"/>  button will show up and you
                                    can upload another image, that will be another layer. You can activate/deactivate the layers
                                    on the upper right corner on the map,  clicking the layer <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/leaflet_layer_change.png" %}"/> button.
                                </p>

                                <h4 class="question-multimap">I loaded my map but I want to include multiple images into it</h4>
                                <p>Review the previous question: "What are the layers?"</p>

                                <h4 class="question-multimap">I loaded my map but I want to load a new one</h4>
                                <p>Click the <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_button.png"%}"/> button and select whatever option you want</p>

                                <h4 class="question-multimap">How can I count the number of points in my image?</h4>
                                <p> 1 - Click on <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/tools_points_detection.png"%}"/> button <br>
                                    <br>
                                    2 - Once the processing is completed, click on the layer <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/leaflet_layer_change.png" %}"/> button, and select the points layer to view the points: <img class="image-question-multimap" src="{%  static "neurosuite/img/multimap_recommended_image_sources/tools_points_result.png"%}"/>. The first number
                                    in the layer's name indicates how many points are in the image.
                                </p>

                                <h4 class="question-multimap">Why my uploaded images are only available for 1 hour?</h4>
                                <p>In order to mantain our web server disk space we must delete old data</p>

                                <h4 class="question-multimap">But what can I do to mantain my images for more than 1 hour?</h4>
                                <p>1 - Export your drawing layer (click in "Export map...">"Export drawing layer as JSON") <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/export_map_button.png"%}"/><br>
                                    2 - Upload your image again using the <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_map_button.png"%}"/> button<br>
                                    3 - Import your existing drawing layer (click in "Load layer..." > "Load drawing layer in JSON")  <img src="{%  static "neurosuite/img/multimap_recommended_image_sources/load_layer_button_open.png"%}"/> "
                                </p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modal-image-computer" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Load image from computer</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-sep-top" id="upload-neurons">
                                    <!------------JQUERY UI UPLOAD------------------------------------------------>
                                    {% csrf_token %}
                                    <input id="chunked_upload_map" type="file" name="the_file">
                                    <div id="loading_map_image hide-element">
                                        <p class="status_load_map_image"><span class="status_text_load_map_image"></span><i class="loading_map_image_spinner fa fa-spinner fa-spin hide-element"></i></p>
                                        <p class="status_extra_load_map_image hide-element"></p>

                                        <div class="progress_bar_status_load_map_image progress hide-element">
                                            <div class="bar progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                                                <span class="bar-text"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="load_map_image_text_complete hide-element"></p>
                                    <!----------------------------------------------------------------------------->
                                    <!--
                                        <div class="file-loading">
                                            {{ csrf_token }}
                                            <input id="input-image-computer" name="input-image-computer" type="file">
                                        </div>
                                        -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modal-layer-image-computer" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Load layer image from computer</h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-sep-top" id="upload-neurons">
                                    <!------------JQUERY UI UPLOAD------------------------------------------------>
                                    {% csrf_token %}
                                    <input id="chunked_upload_layer" class="chunked_upload" type="file" name="the_file">
                                    <div id="loading_map_image hide-element">
                                        <p class="status_load_map_image"><span class="status_text_load_map_image"></span><i class="loading_map_image_spinner fa fa-spinner fa-spin hide-element"></i></p>
                                        <p class="status_extra_load_map_image hide-element"></p>

                                        <div class="progress_bar_status_load_map_image progress hide-element">
                                            <div class="bar progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                                                <span class="bar-text"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="load_map_image_text_complete hide-element"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="modal-image-url" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Load image from web</h4>
                            </div>
                            <form id="form-load-map-image-url" method="POST" action="/micro/load_map_image_url_multimap/">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="input-image-url">URL of the image:</label>
                                        <input id="image_url_download_multimap" name="image_url_download_multimap" type="text" class="form-control" placeholder="Paste the url here" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="load-map-image" type="submit" format="image" source="url" class="btn btn-primary">Continue</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

                <div id="modal-layer-image-url" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Load layer from web</h4>
                            </div>
                            <form id="form-load-layer-image-url" method="POST" action="/micro/load_layer_image_url_multimap/">
                                <input type="hidden" id="configuration_json_in_html" name="configuration_json_in_html" />
                                <input type="hidden" id="configuration_name_in_html" name="configuration_name_in_html" />
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="input-image-url">URL of the image:</label>
                                        <input id="image_url_layer_download_multimap" name="image_url_layer_download_multimap" type="text" class="form-control" placeholder="Paste the url here" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="load-layer-image-url-submit" type="submit" format="image" source="url" class="btn btn-primary">Continue</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>

                <div id="modal-image-tool-points" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Algorithm points detection options</h4>
                            </div>
                            <form id="form-tool-points-multimap" method="POST" action="/micro/tool_points_multimap/">
                                {% csrf_token %}
                                <input type="hidden" id="actual_image_id" name="actual_image_id" />
                                <input type="hidden" id="actual_image_name" name="actual_image_name" />
                                <input type="hidden" id="configuration_map_json" name="configuration_map_json" />
                                <input type="hidden" id="configuration_name_json" name="configuration_name_json" />
                                <div class="modal-body">
                                    <p>In order to run this tool, please be sure only one layer is selected</p>
                                    <div id="tools-points-options" class="container-center">
                                        <div class="form-group form-inline">
                                            <label for="input-image-url">Minimum radius:</label>
                                            <input id="tool_points_minimum_radius" name="tool_points_minimum_radius" type="number" min="1" max="15" value="1" />
                                            <label for="input-image-url">Maximum radius:</label>
                                            <input id="tool_points_maximum_radius" name="tool_points_maximum_radius" type="number" min="1" max="15" value="5" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input-image-url">By:</label>
                                            <input id="tool_points_by" name="tool_points_by" type="number" min="0" placeholder="" value="1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input-image-url">Threshold method:</label>
                                            <select id="tool_points_threshold_method" name="tool_points_threshold_method">
                                                <option value="Default">Default</option>
                                                <option value="1">Huang</option>
                                                <option value="Huang">Intermodes</option>
                                                <option value="IsoData">IsoData</option>
                                                <option value="Li">Li</option>
                                                <option value="MaxEntropy">MaxEntropy</option>
                                                <option value="Mean">Mean</option>
                                                <option value="MinError(l)">MinError(l)</option>
                                                <option value="Minimum">Minimum</option>
                                                <option value="Moments" selected="selected" >Moments</option>
                                                <option value="Otsu">Otsu</option>
                                                <option value="Percentile">Percentile</option>
                                                <option value="RenyiEntropy">RenyiEntropy</option>
                                                <option value="Shambhag">Shambhag</option>
                                                <option value="Triangle">Triangle</option>
                                                <option value="Yen">Yen</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="input-image-url">Minimum:</label>
                                            <input id="tool_points_minimum" name="tool_points_minimum" type="number" min="0" value="1" />
                                            <label for="input-image-url">Maximum:</label>
                                            <input id="tool_points_maximum" name="tool_points_maximum" type="number" min="-1" value="-1" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input-image-url">Fraction:</label>
                                            <input id="tool_points_fraction" name="tool_points_fraction" type="number" min="0" max="1" value="0.500" step=".001" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input-image-url">Tollerance:</label>
                                            <input id="tool_points_tollerance" name="tool_points_tollerance" type="number" min="0" value="0" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="tools-points-continue" format="image" source="url" class="btn btn-primary">Continue</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>



                <div id="premap" crossorigin="anonymous">
                    <div id="main_map" class="main_map" crossorigin="anonymous"></div>
                </div>

            </div>
        </div>

        <div id="banner-multimap-desktop-app">
            <h3>MultiMap desktop application</h3>
            <p>We encourage the users to also download our desktop application that provides a rich set of tools to analyze all these kind of maps.<br>
                It is also possible to export a map from this web application, modify it in the desktop application and viceversa.<br>
            </p>

            <p><strong>Downloads: </strong><a href="https://github.com/ComputationalIntelligenceGroup/MultiMap/releases">https://github.com/ComputationalIntelligenceGroup/MultiMap/releases</a></p>
            <p>Documentation: <a href="https://computationalintelligencegroup.github.io/MultiMap-documentation/">https://computationalintelligencegroup.github.io/MultiMap-documentation/</a></p>
            <p>Source code repository: <a href="https://github.com/ComputationalIntelligenceGroup/MultiMap">https://github.com/ComputationalIntelligenceGroup/MultiMap/</a></p>
            <p><i>Varando, G., Benavides-Piccione, R., Muñoz, A., Kastanauskaite, A., Bielza, C., Larrañaga, P., & DeFelipe, J. (2018).<br> MultiMap: A tool to automatically extract and analyze spatial microscopic data from large stacks of confocal microscopy images.<br> Frontiers in Neuroanatomy, 12, 37. <a href="https://www.frontiersin.org/articles/10.3389/fnana.2018.00037">https://www.frontiersin.org/articles/10.3389/fnana.2018.00037</a></i></p>
            <a href="https://github.com/ComputationalIntelligenceGroup/MultiMap/releases"> </a>

            <video id="video-multimap-desktop-demo" controls>
                <source src="{%  static "neurosuite/img/multimap_desktop_demo.webm" %}" type="video/webm" />
                Your browser does not support HTML5 video.
            </video>
        </div>

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
