<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar-select-neurons">

        <div class="sidebar-header">
            <h4>Microscopy images</h4>
            <h3>Select the software analyzer</h3>
        </div>

        <ul class="list-unstyled components not-collapse">
             <li id="multimap">
                <a href="/micro/multimap">Multimap</a>
            </li>

        </ul>

        <ul class="list-unstyled CTAs  not-collapse">
            <li id="instructions"><a href="/micro/" >Instructions</a></li>
        </ul>
    </nav>
</div>

<script>
    <!-- jQuery CDN -->
    var fixed_menu = true;
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $({{li_active}}).toggleClass('active');
    });
</script>
