/*-----------------------------------------------------------------------------------*/
/*	GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
::selection {background: #000; color:#fff;}
::-moz-selection {background: #000; color:#fff;}


.breadcrumbs_block ::selection {background: #fff; color:#000;}
.breadcrumbs_block ::-moz-selection {background: #fff; color:#000;}

.cleancode_block ::selection {background: #fff; color:#000;}
.cleancode_block ::-moz-selection {background: #fff; color:#000;}


body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 13px;
	line-height: 20px;
	color: #666;
	background-color:#fff;
}
#page {overflow-x:hidden; position:relative; z-index:5;}

.preloader_hide {opacity:0;}
#preloader {position:fixed; left:50%; top:50%; width:32px; height:32px; margin:-16px 0 0 -16px; display:block;}

section {background-color:#fff;}

.container {
	padding-left:0;
	padding-right:0;
}

#menu-neurosuites {
	width: 75% !important;
}

.parallax {
	background-position:0 0;
	width:100%;
	background-attachment:fixed !important;
}

a, textarea {
	vertical-align:top;
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.icon-margin-left {
    margin-left: 10px;
}


textarea {resize: none;}

img {
	outline:0;
	vertical-align:top;
	border:0;
	max-width:100.1%;
	height:auto;
}

a {color:#999; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}

a:hover, a:focus {
	color:#333;
}

.menu_block a:hover, a:focus {
	text-decoration: none !important;
}


.href-no-style {
    text-decoration: none;
    color: inherit;
}

.href-no-style:hover {
    text-decoration: none;
    color: inherit;
}

.margbot0 {margin-bottom:0;}
.margbot5 {margin-bottom:5px !important;}
.margbot10 {margin-bottom:10px;}
.margbot20 {margin-bottom:20px;}
.margbot25 {margin-bottom:25px;}
.margbot30 {margin-bottom:30px !important;}
.margbot40 {margin-bottom:40px;}
.margbot50 {margin-bottom:50px;}
.margbot60 {margin-bottom:60px;}
.margbot70 {margin-bottom:70px;}
.margbot80 {margin-bottom:80px;}

.pad0 {padding:0 !important;}
.padbot0 {padding-bottom:0 !important;}
.padbot10 {padding-bottom:10px !important;}
.padbot20 {padding-bottom:20px !important;}
.padbot30 {padding-bottom:30px !important;}
.padbot40 {padding-bottom:40px !important;}
.padbot50 {padding-bottom:50px !important;}
.padbot60 {padding-bottom:60px !important;}
.padbot70 {padding-bottom:70px !important;}
.padbot80 {padding-bottom:80px !important;}
.padtop0 {padding-top:0 !important;}

.overlay {
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(48,166,124,0.5);
}
.relative_block {position:relative; z-index:5;}








/*-----------------------------------------------------------------------------------*/
/*	TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
hr {border-color:#ededed;}

ul, ol {padding:0; margin:0;}
li {padding:0; margin:0; list-style:none;}

p {margin:0 0 20px;}


h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family: 'Roboto', sans-serif;
	text-transform:none;
	font-weight:300;
	color:#333;
}
h1 {margin:0 0 26px; line-height:46px; font-size:46px;}
h2 {margin:0 0 26px; line-height:40px; font-size:40px;}
h2 b {font-weight:500;}
h3 {margin:0 0 21px; line-height:25px; font-size:22px;}
h3 b {font-weight:900;}
h4 {margin:0 0 34px; line-height:25px; font-size:20px;}
h4 b {font-weight:500;}
h5 {margin:0 0 15px; line-height:20px; font-size:15px;}
h6 {margin:0 0 15px; line-height:20px; font-size:12px;}

.center {text-align:center;}
.right {text-align:right;}

.color_text {color:#30a67c;}
.color_dark {color:#505050;}
.color_light {color:#979797;}
.color_white {color:#fff;}
.color_red {color:#c10707;}
.color_yellow {color:#fec400;}

.color_bg {background:#30a67c;}

/* __________ blockquote __________ */
blockquote {position:relative; margin: 0 0 13px; padding:0 0 0 47px; border:0; font-style:italic; font-size:16px; color:#979797;}
blockquote:before {content:'“'; position:absolute; left:15px; top:13px; font-style:italic; font-size:70px; color:#979797;}










/* __________ breadcrumb __________ */
.breadcrumbs_block {
	padding:81px 0;
	background-image:url(../images/clean_code_bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.breadcrumbs_block h2 {
	margin-bottom:15px;
	line-height:80px;
	font-size:80px;
	color:#fff;
}
.breadcrumbs_block p {
	margin:0;
	line-height:34px;
	font-size:26px;
	color:#999;
}










/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
header {
	position:relative;
	height:80px;
	background-color:#fff;
}





/* __________ Logo __________ */
.logo {float:left;}
.logo a {
	text-transform:uppercase;
	line-height:80px;
	font-size:26px;
	color:#333;
}
.logo a span {
	display:inline-block;
	padding-right:18px;
}
.logo a span.b1 {font-weight:900;}
.logo a span.b2 {font-weight:700;}
.logo a span.b3 {font-weight:400;}
.logo a span.b4 {font-weight:300;}
.logo a span.b5 {font-weight:100;}


#neuroSuite_logo_withText {
	height: 55px;
}

#neuroSuite_logo_withText_slogan_border_blank {
	width: 195px;;
	height: 150px;
}

/* __________ Menu __________ */
.menu_block {
	position:fixed;
	z-index:99;
	left:0;
	top:0;
	right:0;
	height:80px;
	width:100%;
	background-color:#fff;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}

.link-no-decorated:hover {
	text-decoration: none !important;
}

#version-number-menu {
	margin-top: 2px;
	color: black;
	font-weight: 500;
	display: inline-block !important;
}

#version-number-menu-link {
	font-family: 'Poppins', sans-serif !important;
	text-transform: none;
	font-size: 14px;
	padding-right: 0px !important;
	display: block !important;
}

.navmenu ul li {
	position:relative;
	display:inline-block;
}
.navmenu ul li a {
	display:block;
	margin:0 0 0 -3px;
	padding:30px 20px;
	text-transform:uppercase;
	font-weight:700;
	line-height:20px;
	font-size:18px;
	color:#666;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.navmenu li:hover a {
	font-weight:900;
	color:#000000;
}


.navmenu li.active a {
	font-weight:900;
	color:#01579b;
}

/* Sub menu */
.sub-menu ul {
	display: none;
	position: absolute;
	z-index: 9990;
	width: 180px;
	left: 50%;
	top: 100%;
	padding: 0;
	margin: 0 0 0 -90px;
}
.sub-menu.last ul {right:0; left:auto;}
.sub-menu ul:before {
	content:'';
	position:absolute;
	left:50%;
	top:-6px;
	margin-left:-5px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 6px solid #1c1c1c;
}

.sub-menu ul li  {
	margin:0;
	padding:0;
	width:100%;
	border-top: 0;
}
.sub-menu ul li a {
	position:relative;
	margin:0;
	padding: 15px 5px 14px 21px;
	font-weight:400;
	text-align:left;
	font-size:12px;
	color:#999 !important;
	background:#1c1c1c;
	border-bottom:1px solid #282828;
}
.sub-menu ul li:last-child a {border-bottom:0;}

.sub-menu ul li.active a, .sub-menu ul li a:hover {color:#fff !important; background:#161616;}







/*-----------------------------------------------------------------------------------*/
/*	SEARCH FORM TOP
/*-----------------------------------------------------------------------------------*/
#search-form form {
	position:relative;
	height:40px;
	margin:20px 0 20px 19px;
	padding-left:49px;
	border-left:1px solid #ccc;
	font-family: FontAwesome;
}
#search-form form:before {
	content: "\f002";
	position:absolute;
	left:29px;
	top:-2px;
	height:40px;
	line-height:40px;
	font-size:15px;
	color:#cccc;
}

#search-form input {
	width:42px;
	margin:0;
	padding:11px 0;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	line-height:20px;
	font-size: 13px;
	color: #999;
	background: none;
	border: 0;
	box-shadow: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#search-form input:focus {
	width:140px;
	padding: 11px 20px 11px 0;
}









/*-----------------------------------------------------------------------------------*/
/*	HOME
/*-----------------------------------------------------------------------------------*/
#home {position:relative;}



/*-----------------------------------------------------------------------------------*/
/*	CONTENT
/*-----------------------------------------------------------------------------------*/
.content-div  {
	padding-top:20px;
}


.form-contact textarea {
	width: 60%;
	border: 2px solid #ccc;
	background-color: #f8f8f8;
	border-radius: 4px;
}




/*-----------------------------------------------------------------------------------*/
/*	Menu for small screens (mobile)
/*-----------------------------------------------------------------------------------*/
@media (min-width:1401px) and  (max-width: 1770px) {
	.menu_block {
		position: fixed;
		height: 80px;
	}

	#content-neurosuite {
		margin-top: 60px;
	}

	#menu-neurosuites {
		width: 1400px !important;
	}

}

@media (min-width:868px) and  (max-width: 1400px) {
	#menu-neurosuites {
		width: 870px !important;
	}

	.menu_block {
		position:relative;
		z-index:9999;
		left:0;
		top:0;
		right:0;
		height:80px;
		width:100%;
		background-color:#fff;
		box-shadow:0 2px 3px rgba(0,0,0,0.1);
	}

	.navmenu ul li {
		position:relative;
		display:inline-block;
	}
	.navmenu ul li a {
		display:block;
		margin:0 0 0 -3px;
		padding:40px 15px;
		text-transform:uppercase;
		font-weight:900;
		line-height:0px;
		font-size:14px;
		color:#666;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.navmenu li:hover a,
	.navmenu li.active a {
		color:#333;
	}





	#neuroSuite_logo_withText {
		height: 40px;
	}

	#neuroSuite_logo_withText_slogan_border_blank {
		width: 195px;;
		height: 150px;
	}

	#version-number-menu-link {
		font-size: 11px;
	}

	#version-number-menu {
		font-weight: 400;
	}

}


@media (max-width: 867px) {
	#menu-neurosuites {
		width: 95% !important;
	}

	.menu_block {
		position:relative;
		z-index:9999;
		left:0;
		top:0;
		right:0;
		height:80px;
		width:100%;
		background-color:#fff;
		box-shadow:0 2px 3px rgba(0,0,0,0.1);
	}

	.navmenu ul li {
		position:relative;
		display:inline-block;
	}
	.navmenu ul li a {
		display:block;
		margin:0 0 0 -3px;
		padding:40px 15px;
		text-transform:uppercase;
		font-weight:900;
		line-height:0px;
		font-size:11px;
		color:#666;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	}
	.navmenu li:hover a,
	.navmenu li.active a {
		color:#333;
	}

	#neuroSuite_logo_withText {
		alignment: center;
		align-content: center;
		height: 30px;
	}

	#neuroSuite_logo_withText_slogan_border_blank {
		width: 195px;;
		height: 150px;
	}

	#version-number-menu-link {
		font-size: 11px;
	}

	#version-number-menu {
		font-weight: 400;
	}

}

/*-----------------------------------------------------------------------------------*/
/*	Menu for extra wide screens
/*-----------------------------------------------------------------------------------*/
@media (min-width:2200px)  {
	#menu-neurosuites {
		width: 1181px !important;
	}
	.menu_block {
		position: fixed;
		height: 140px;
	}

	#content-neurosuite {
		margin-top: 60px;
	}

}


