{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block biophysical_models__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}New biophysicals models | NeuroSuites{% endblock title %}</title>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/biophysical_models/create_biophys_models.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/biophysical_models/create_biophys_models.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_create_biophys_models.html" with li_active="instructions" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <form id="form-create-biophys-model" method="POST" action="/biophys/create-biophys-model" >
                {% csrf_token %}
                <input type="hidden" id="model-parameters-json" name="model-parameters-json" />

                <div class="container-center">
                    <h2>Create new biophysicals models</h2>
                </div>

                <div class="section-report container-sep-top" id="section-select-model-type">
                    <div class="section-report-content container-center">
                        <h3 class="section-report-title">1. Model type</h3>

                        <div id="section-input-features">
                            <p class="p-no-margin">Model: </p>
                            <select id="select-model-type" class="selectize-single-value selectize-small">
                                <option value="no_model">No biophysical model</option>
                                <option value="single_compartment">Single compartment</option>
                                <option value="multi_compartment">Multi compartment</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="section-report last-section-page" id="section-select-parameters-optimization">
                    <div class="section-report-content container-center">
                        <h3 class="section-report-title">2. Model parameters optimization</h3>

                        <div id="model-parameters-no_model" class="hide-element model-parameters">
                            <h4>No biophysical model selected</h4>
                            <p>You can continue to the next section in order to create a machine learning model to predict<br>
                                the electrophysiological features with the morphological features.</p>

                            <p>This option will then be useful to create biophysical models when you only have morphological data</p>
                        </div>

                        <div id="model-parameters-single_compartment" class="hide-element model-parameters">
                            <h4>Single compartment parameters</h4>

                            <p class="p-no-margin">Parameters to optimize: </p>
                            <select id="select-model-multi-parameters" class="selectize-multi-value selectize-half-multi-value">

                            </select>
                        </div>

                        <div id="model-parameters-multi_compartment" class="hide-element model-parameters">
                            <h4>Multi compartment parameters</h4>

                            <p class="p-no-margin">Parameters to optimize: </p>
                            <select id="select-model-single-parameters" class="selectize-multi-value selectize-half-multi-value">

                            </select>
                        </div>

                    </div>
                </div>

                <div id="section-continue" class="container-sep-top container-center hide-element">
                    <button type="button" class="continue-button btn btn-success">Continue</button>
                </div>

            </form>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
