{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block biophysical_models__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Biophysical models | NeuroSuites{% endblock title %}</title>

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/biophysical_models/index_biophysical_models.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/biophysical_models/index_biophysical_models.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_biophys_input.html" with li_active="instructions" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h2>Select the input data</h2>
            </div>
            <div class="container-center">
                <div class="container-center">
                    <h3>Instructions:</h3>
                    <p>Select the input data on the <strong>left sidebar</strong>:</p>
                </div>
            </div>
            <hr />
            <div class="container-center">
                <h4>Once you have selected the input data, you will have complete access to the following tools:</h4>
            </div>
            {% include "list_biophys_tools.html" %}
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
