{% load cms_tags staticfiles %}

<div class="container-flex-box">

    <div class="item-flex-box panel panel-primary">
        <div class="panel-heading ">
            <h4 id="" class="">Predict physiological data based on morphology data</h4>
        </div>
        <div class="panel-body">
            <p>Predict physiological data based on morphology data
            </p>
            <div class="container-center">
                <img src="{%  static "neurosuite/img/biophysical_models/neuroviewer_individual_demo.png" %}" />
            </div>
        </div>
    </div>

    <div class="item-flex-box panel panel-primary">
        <div class="panel-heading ">
            <h4 id="" class="">Predict morphological data based on physiological data</h4>
        </div>
        <div class="panel-body">
            <p>Predict morphological data based on physiological data
            </p>
            <div class="container-center">
                <img class="container-center" src="{%  static "neurosuite/img/biophysical_models/electro_data_example.png" %}" />
            </div>
        </div>
    </div>

    <div class="item-flex-box panel panel-primary">
        <div class="panel-heading ">
            <h4 id="" class="">Analyse your biophysical models interactively</h4>
        </div>
        <div class="panel-body">
            <p>Visualization, stimuli responses, etc with frameworks like Geppetto.
            </p>
            <div class="container-center">
                <img class="container-center" src="{%  static "neurosuite/img/biophysical_models/gepetto_example.png" %}" />
            </div>
        </div>
    </div>

    <div class="item-flex-box panel panel-primary">
        <div class="panel-heading ">
            <h4 id="" class="">Export your biophysical models</h4>
        </div>
        <div class="panel-body">
            <p>Export biophysical models in NWBL. Export stimuli in NeuroML format.
            </p>
            <div class="container-center">
                <img class="container-center" src="{%  static "neurosuite/img/biophysical_models/neuroml_example.png" %}" />
            </div>
        </div>
    </div>

</div>