{% load cms_tags staticfiles %}

<div class="container-flex-box">

    <div class="item-flex-box panel panel-primary">
        <div class="panel-heading ">
            <h4 id="" class=""><a class="link-heading-panel" href="/biophys/ml_new_model_ann/">Artificial neural networks</a></h4>
        </div>
        <div class="panel-body">
            <p>
                An ANN is based on a collection of connected units or nodes called artificial neurons, which loosely model the neurons in a biological brain. Each connection, like the synapses in a biological brain, can transmit a signal from one artificial neuron to another. An artificial neuron that receives a signal can process it and then signal additional artificial neurons connected to it.
            </p>
            <div class="container-center">
                <img class="img-size-40" src="{%  static "neurosuite/img/biophysical_models/neural_network_example.jpg" %}" />
            </div>
        </div>
    </div>



</div>