{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block biophysical_models__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}New machine learning model | NeuroSuites{% endblock title %}</title>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/biophysical_models/ml_create_model.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/biophysical_models/ml_create_model.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_ml_create_model.html" with li_active="instructions" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h2>Create new machine learning model</h2>
            </div>


            {% include "list_ml_models.html" %}

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
