{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block biophysical_models__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Artificial neural network learning | NeuroSuites{% endblock title %}</title>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/biophysical_models/ml_new_model_ann.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/biophysical_models/ml_new_model_ann.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_ml_create_model.html" with li_active="li_neural_networks" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h2>Create new neural network model</h2>
            </div>

            <div class="section-report" id="section-select-features-ann">
                <div class="section-report-content container-center">
                    <h3 class="section-report-title">1. Select datasets and features</h3>


                    <div class="section-input-field">
                        <p class="p-no-margin">Predictor dataset: </p>
                        <div class="select-deselect-buttons">
                            <button type="button" select-field="select-dataset" class="btn btn-default select-all-button">Select all</button>
                            <button type="button" select-field="select-dataset" class="btn btn-default deselect-all-button">Deselect all</button>
                        </div>
                        <select id="select-dataset" class="selectize-multivalue selectize-half-multi-value" placeholder="Select one or more datasets..." choose_value_elem="section-input-features"
                                selectize_value_elem="dataset-features" waiting_div_elem="waiting-values-dataset-features">
                            {% for field in datasets %}
                                <option value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="section-input-field">
                        <p class="p-no-margin">Output dataset: </p>
                        <div class="select-deselect-buttons">
                            <button type="button" select-field="select-dataset" class="btn btn-default select-all-button">Select all</button>
                            <button type="button" select-field="select-dataset" class="btn btn-default deselect-all-button">Deselect all</button>
                        </div>
                        <select id="select-dataset" class="selectize-multivalue selectize-half-multi-value" placeholder="Select one or more datasets..." choose_value_elem="section-input-features"
                                selectize_value_elem="dataset-features" waiting_div_elem="waiting-values-dataset-features">
                            {% for field in datasets %}
                                <option value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                    </div>




                    <div class="container-sep-top container-center">
                        <div id="waiting-continue-upload-dataset-bn" class="container-center hide-element">
                            <p class="p-no-margin">Loading dataset...</p>
                            <div id="progress-upload-dataset-bn">
                                {% include "loading_worker_task_inline.html" with progress_id="progress-upload-dataset-bn" %}
                            </div>
                        </div>
                        <p id="error-continue-upload-dataset-bn" class="error-color"></p>
                        <h4 id="success-continue-upload-dataset-bn" class="success-color hide-element">Data uploaded</h4>
                        <h4 id="success-upload-additional-parameters-bn" class="success-color hide-element">Additional parameters uploaded</h4>
                    </div>

                </div>


            </div>
        </div>


        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
