{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block biophysical_models__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Select morpho and electro | Biophysical models - NeuroSuites{% endblock title %}</title>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.3.0/Hyphenator.min.js"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>            <!-- Panel collapse must be after the .js of this html -->
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="{%  static "neurosuite/js/biophysical_models/select_morpho_electro.js" %}"></script>


            <!-- Our Custom CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css">
            <link href="{%  static "neurosuite/css/biophysical_models/select_morpho_electro.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_biophys_input.html" with li_active="morpho_and_electro" %}

        <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h2>Select the input data</h2>
            </div>
            <div class="container-center">


                <div class="container-sep-top container-center">
                    <p class="text-in-center">Thanks to the Allen Institute team for providing the <a href="http://alleninstitute.github.io/AllenSDK/cell_types.html">SDK</a> that allows this interface to get the data.</p>
                </div>

                <form id="form-load-morpho-electro-allen" method="POST" action="/biophys/load_morpho_electro_allen" >
                    {% csrf_token %}
                    <input type="hidden" id="query-values-json" name="query-values-json" />
                    <input type="hidden" id="custom-options-json" name="custom-options-json" />

                    <div id="filter-allen-cell-types" class="container-flex-box">
                        {% for category in fields_by_categories %}

                            <div id="search-panel-{{ category.name }}" class="item-flex-box panel panel-primary">
                                <div id="panel-heading-{{ category.name }}" class="category-{{ category.name }} panel-heading clickable ">
                                    <h3 id="panel-title-{{ category.name }}" class="panel-title">{{ category.verbose_name }}</h3>
                                    <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                </div>
                                <div class="panel-body morpho-electro-allen-panel-body">
                                    <ul class="list-group items-search-panel">

                                        {% for field in category.fields %}
                                            {%  if field.custom_option %}
                                                <li id="{{ field.name }}" custom_option="true" name="{{ field.name }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                                                    {% else %}
                                                <li id="{{ field.name }}" custom_option="false" name="{{ field.name }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                                            {% endif %}
                                        <span class="glyphicon-chevron-span" id="label-li-{{ field.name }}">{{ field.verbose_name }}</span>
                                        <span class="pull-right glyphicon-chevron-span"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                        </li>
                                            <div id="{{ field.name }}" class="collapse list-group-submenu">
                                                <div id="loading-{{ field.name }}" class="loading-submenu container-center">
                                                    <img class="morpho-electro-allen_loading_logo" src="{%  static "neurosuite/img/neuroSuite_loading_logo.gif" %}" alt="Loading..." />
                                                    <span>Loading...</span>
                                                </div>
                                                <div id="error-{{ field.name }}" class="error-submenu">
                                                    <p>Error loading the field values...</p>
                                                </div>
                                                <div id="content-{{ field.name }}" id-field="{{ field.name }}" field-verbose-name="{{ field.verbose_name }}" category-class="category-{{ category.name }}" category-verbose-name="{{ category.verbose_name }}" class="content-submenu">
                                                    {%  if field.name == "limit_number_results" %}
                                                        <div class="wrap-{{ field.name }} container-sep-left" id="wrap-{{ field.name }}">
                                                            <label>Get only the first <input class="input-{{ field.name }}" type="number" min="0" value="10" id="input-{{ field.name }}"> results</label>
                                                        </div>
                                                    {%  elif field.name == "sort_results" %}
                                                        <div class="wrap-{{ field.name }}" id="wrap-{{ field.name }}">
                                                            <div class="container-sep-left">
                                                                <label>Order:</label>
                                                            </div>
                                                            <select class="select-values-field" id="select-values-order-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                            <div class="container-sep-left">
                                                                <label>Sort by field:</label>
                                                            </div>
                                                            <select class="select-values-field" id="select-values-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                        </div>
                                                    {% else %}
                                                        <div class="radio-numeric-values-field radio-group-inline" id="radio-numeric-values-{{ field.name }}">
                                                            <!--
                                                        <label class="radio-inline radio-range-numeric-field"><input checked type="radio" id="radio-range-numeric-{{ field.name }}" name="radio-numeric-values-{{ field.name }}">Range</label>
                                                        <label class="radio-inline radio-exact-numeric-field"><input type="radio" id="radio-exact-numeric-{{ field.name }}" name="radio-numeric-values-{{ field.name }}">Exact value</label>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.morpho-electro-allen.org/apiReference.html">morpho-electro-allen.org API</a></span>
                                                        </div>
                                                        <div class="radio-date-values-field radio-group-inline" id="radio-date-values-{{ field.name }}">
                                                            <!--
                                                        <label class="radio-inline radio-range-date-field"><input checked type="radio" id="radio-range-date-{{ field.name }}" name="radio-date-values-{{ field.name }}">Range</label>
                                                        <label class="radio-inline radio-exact-date-field"><input type="radio" id="radio-exact-date-{{ field.name }}" name="radio-date-values-{{ field.name }}">Exact date</label>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.morpho-electro-allen.org/apiReference.html">morpho-electro-allen.org API</a></span>
                                                        </div>
                                                        <div class="wrap-select-values-field" id="wrap-select-values-{{ field.name }}">
                                                            <select class="select-values-field" id="select-values-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                        </div>
                                                        <div class="wrap-range-numeric-values-field" id="wrap-range-numeric-values-{{ field.name }}">
                                                            <!--
                                                        <div class="range-numeric-values-field" id="range-numeric-values-{{ field.name }}"></div>
                                                        <div class="input-range-numeric-group container-center">
                                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-1-{{ field.name }}">
                                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-2-{{ field.name }}" >
                                                        </div>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.morpho-electro-allen.org/apiReference.html">morpho-electro-allen.org API</a></span>
                                                        </div>
                                                        <div class="wrap-datepicker-range-field" id="wrap-datepicker-range-field-{{ field.name }}">
                                                            <!--
                                                        <span class="datepicker-range-value" id="datepicker-range-value-{{ field.name }}">From the beggining</span>
                                                        <input type="text" class="datepicker-values-field" id="datepicker-values-{{ field.name }}" />
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.morpho-electro-allen.org/apiReference.html">morpho-electro-allen.org API</a></span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <div class="container-sep-top">
                        <button type="button" class="continue-button btn btn-success">Continue</button>
                    </div>

                </form>


            </div>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
