<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar-new-biophys-models">

        <div class="sidebar-header">
            <h3>Create new biophysical models</h3>
        </div>

        <ul class="list-unstyled components not-collapse">
            <li id="biophysical_models">
                <a href="/biophys/select_biophysical_models"></a>
            </li>

        </ul>
    </nav>
</div>

<script>
    <!-- jQuery CDN -->
    var fixed_menu = true;
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $({{li_active}}).toggleClass('active');
    });
</script>
