<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar-select-neurons">

        <div class="sidebar-header">
            <h4>Step 1</h4>
            <h3>Select the data input</h3>
        </div>

        <ul class="list-unstyled components not-collapse">
            <li id="biophysical_models">
                <a href="/biophys/select_biophysical_models">Biophysical models</a>
            </li>
            <li id="morpho_and_electro">
                <a href="/biophys/select_morpho_electro">Morpho + electro</a>
            </li>
            <li id="morpho">
                <a href="/biophys/select_morpho">Only morpho</a>
            </li>
            <li id="electro">
                <a href="/biophys/select_electro">Only electro</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs  not-collapse">
            <li id="instructions"><a href="/biophys/" >Instructions</a></li>
        </ul>
    </nav>
</div>

<script>
    <!-- jQuery CDN -->
    var fixed_menu = true;
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $({{li_active}}).toggleClass('active');
    });
</script>
