<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar-ml-create-model">

        <div class="sidebar-header">
            <h3>Create machine learning model</h3>
            <h4>Models available:</h4>
        </div>

        <ul class="list-unstyled components not-collapse">
            <li id="li_neural_networks">
                <a href="/biophys/ml_new_model_ann/">Artificial neural networks</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs  not-collapse">
            <li id="instructions"><a href="/biophys/" >Instructions</a></li>
        </ul>
    </nav>
</div>

<script>
    <!-- jQuery CDN -->
    var fixed_menu = true;
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $({{li_active}}).toggleClass('active');
    });
</script>
