
.chernoff-faces-image {
    border: 2px solid #47748b;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 350px;
}

.center-plot {
    display: inline-block !important;
    text-align: center !important;
}


.icon-fa-medium {
    font-size: 28px;
}