<div class="dropdown buttons-download-report" app_id="{{ app_id }}" section_report_id="{{ section_report_id }}">
    {% if not dropdown %}
        <div class="dropup">
    {% endif %}
    <button class="btn btn-md btn-primary dropdown-toggle dropdown-menu-export" type="button" id="dropdown-menu-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-download-alt export-icon"></span>
        {% if text_export_button %}
            <span class="text-button-export">{{ text_export_button }}</span>
        {% else %}
            <span class="text-button-export">Export...</span>
        {% endif %}
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-menu-export">
        {% if export_excel_id  %}
            <li><a id="{{ export_excel_id }}" format="excel" class="button-export" href="#"><span class="fa fa-file-excel-o icon-submenu"></span>Export to Excel</a></li>
        {% endif %}
        {% if export_csv_id  %}
            <li><a id="{{ export_csv_id }}" format="csv" class="button-export" href="#"><span class="fa fa-file-text-o icon-submenu"></span>Export to CSV</a></li>
        {% endif %}
        {% if export_pdf_id  %}
            <li><a id="{{ export_pdf_id }}" format="pdf" class="button-export" href="#"><span class="fa fa-file-pdf-o icon-submenu"></span>Export to PDF</a></li>
        {% endif %}
        {% if export_image_id  %}
            <li><a id="{{ export_image_id }}" format="image" class="button-export" href="#"><span class="fa fa-file-picture-o icon-submenu"></span>Export to image</a></li>
        {% endif %}
    </ul>
    {% if not dropdown %}
        </div>
    {% endif %}

    <form id="report-{{ section_report_id }}" method="POST" action="" >
        {% csrf_token %}
        <input type="hidden" id="app" name="app" />
        <input type="hidden" id="section" name="section"/>
        <input type="hidden" id="format" name="format"/>
    </form>
</div>