{% load cms_tags staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link href="{%  static "jquery_json_viewer/jquery_json_viewer.css" %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
    <script src="{%  static "jquery_json_viewer/jquery_json_viewer.js" %}"></script>
    <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_neuron_overview.js" %}"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>


</head>

<style>

    .node {
        cursor: pointer;
    }

    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }

    .node text {
        font: 10px sans-serif;
    }

    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }

</style>



<body>

<table id="table-neuron-overview-l-measure" class="table-with-footer table-scroll-y">
    <thead>
    <tr>
        {%  for key,value in neurostr_validator_output.0.items %}
            <th class="neuron-data-field-name">{{ key|safe }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    </tr>
    {%  for test in neurostr_validator_output %}
        <tr>
            {%  for key,value in test.items %}
                {% if key == "pass" %}
                    {% if value %}
                        <td><p class="hide-element">Yes</p><span class="glyphicon glyphicon-ok"></span></td>
                    {% else %}
                        <td><p class="hide-element">No</p><span class="glyphicon glyphicon-remove"></span></td>
                    {% endif %}
                {% elif  key == "results"%}

                    <td>
                        <div class="results_rest">
                            <textarea style="display: None;" type="hidden" class="neurostr_json_result_string">{{ value|safe }}</textarea>
                            <pre class="json-renderer"></pre>
                        </div>
                    </td>
                {% else %}
                    <td>{{ value|safe }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


<div id="example">
    <h3>Results diagram</h3>
</div>

</body>
