<div id="sample-{{ subgroup_id }}-query-filters">
    <h4>Filters</h4>
    <table class="table" id="sample-{{ subgroup_id }}-query-table">

        <tbody id="sample-{{ subgroup_id }}-query-list">
        </tbody>
    </table>
</div>

<div id="sample-{{ subgroup_id }}-query-custom-options">
    <h4>Custom options</h4>
    <table class="table" id="sample-{{ subgroup_id }}-query-custom-options-table">

        <tbody id="sample-{{ subgroup_id }}-query-custom-options-list">
        </tbody>
    </table>
</div>