{% load cms_tags staticfiles %}


<div class="container-flex-box">
    {% for category in fields_by_categories %}

        <div id="search-panel-{{ category.name }}" class="item-flex-box panel panel-primary">
            <div id="panel-heading-{{ category.name }}" class="category-{{ category.name }} panel-heading clickable ">
                <h3 id="panel-title-{{ category.name }}" class="panel-title">{{ category.verbose_name }}</h3>
                <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body neuromorpho-panel-body">
                <ul class="list-group items-search-panel">

                    {% for field in category.fields %}
                        {%  if field.custom_option %}
                            <li id="{{ field.name }}-{{ subgroup_id }}" field-name="{{ field.name }}" custom_option="true" name="{{ field.name }}-{{ subgroup_id }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                                {% else %}
                            <li id="{{ field.name }}-{{ subgroup_id }}" field-name="{{ field.name }}" custom_option="false" name="{{ field.name }}-{{ subgroup_id }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                        {% endif %}
                    <span class="glyphicon-chevron-span" id="label-li-{{ field.name }}-{{ subgroup_id }}">{{ field.verbose_name }}</span>
                    <span class="pull-right glyphicon-chevron-span"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </li>
                        <div id="{{ field.name }}-{{ subgroup_id }}" class="collapse list-group-submenu">
                            <div id="loading-{{ field.name }}-{{ subgroup_id }}" class="loading-submenu container-center">
                                <img class="neuromorpho_loading_logo" src="{%  static "neurosuite/img/neuroSuite_loading_logo.gif" %}" alt="Loading..." />
                                <span>Loading...</span>
                            </div>
                            <div id="error-{{ field.name }}-{{ subgroup_id }}" class="error-submenu">
                                <p>Error loading the field values...</p>
                            </div>
                            <div id="content-{{ field.name }}-{{ subgroup_id }}" id-field="{{ field.name }}-{{ subgroup_id }}" name-field="{{ field.name }}" field-verbose-name="{{ field.verbose_name }}" category-class="category-{{ category.name }}" category-verbose-name="{{ category.verbose_name }}" class="content-submenu">
                                {%  if field.name == "limit_number_results" %}
                                    <div class="wrap-{{ field.name }}-{{ subgroup_id }} container-sep-left" id="wrap-{{ field.name }}-{{ subgroup_id }}">
                                        <label>Get only the first <input class="input-{{ field.name }}-{{ subgroup_id }}" type="number" min="0" value="10" id="input-{{ field.name }}-{{ subgroup_id }}"> results</label>
                                    </div>
                                {%  elif field.name == "sort_results" %}
                                    <div class="wrap-{{ field.name }}-{{ subgroup_id }}" id="wrap-{{ field.name }}-{{ subgroup_id }}">
                                        <div class="container-sep-left">
                                            <label>Order:</label>
                                        </div>
                                        <select class="select-values-field" id="select-values-order-{{ field.name }}-{{ subgroup_id }}" placeholder="Select or type a value..."></select>
                                        <div class="container-sep-left">
                                            <label>Sort by field:</label>
                                        </div>
                                        <select class="select-values-field" id="select-values-{{ field.name }}-{{ subgroup_id }}" placeholder="Select or type a value..."></select>
                                    </div>
                                {% else %}
                                    <div class="radio-numeric-values-field radio-group-inline" id="radio-numeric-values-{{ field.name }}-{{ subgroup_id }}">
                                        <label class="radio-inline radio-range-numeric-field"><input checked type="radio" id="radio-range-numeric-{{ field.name }}-{{ subgroup_id }}" name="radio-numeric-values-{{ field.name }}-{{ subgroup_id }}">Range</label>
                                        <label class="radio-inline radio-exact-numeric-field"><input type="radio" id="radio-exact-numeric-{{ field.name }}-{{ subgroup_id }}" name="radio-numeric-values-{{ field.name }}-{{ subgroup_id }}">Exact value</label>
                                    </div>
                                    <div class="radio-date-values-field radio-group-inline" id="radio-date-values-{{ field.name }}-{{ subgroup_id }}">
                                        <label class="radio-inline radio-range-date-field"><input checked type="radio" id="radio-range-date-{{ field.name }}-{{ subgroup_id }}" name="radio-date-values-{{ field.name }}-{{ subgroup_id }}">Range</label>
                                        <label class="radio-inline radio-exact-date-field"><input type="radio" id="radio-exact-date-{{ field.name }}-{{ subgroup_id }}" name="radio-date-values-{{ field.name }}-{{ subgroup_id }}">Exact date</label>
                                    </div>
                                    <div class="wrap-select-values-field" id="wrap-select-values-{{ field.name }}-{{ subgroup_id }}">
                                        <select class="select-values-field" id="select-values-{{ field.name }}-{{ subgroup_id }}" placeholder="Select or type a value..."></select>
                                    </div>
                                    <div class="wrap-range-numeric-values-field" id="wrap-range-numeric-values-{{ field.name }}-{{ subgroup_id }}">
                                        <div class="range-numeric-values-field" id="range-numeric-values-{{ field.name }}-{{ subgroup_id }}"></div>
                                        <div class="input-range-numeric-group container-center">
                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-1-{{ field.name }}-{{ subgroup_id }}">
                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-2-{{ field.name }}-{{ subgroup_id }}" >
                                        </div>
                                    </div>
                                    <div class="wrap-datepicker-range-field" id="wrap-datepicker-range-field-{{ field.name }}-{{ subgroup_id }}">
                                        <span class="datepicker-range-value" id="datepicker-range-value-{{ field.name }}-{{ subgroup_id }}">From the beggining</span>
                                        <input type="text" class="datepicker-values-field" id="datepicker-values-{{ field.name }}-{{ subgroup_id }}" />

                                    </div>
                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endfor %}

</div>
