{% load cms_tags staticfiles %}

<head>

    <!-- Our Custom CSS -->
    <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_neuron3D_neuroviewer.css" %}" rel="stylesheet" type="text/css" />



    <!-- <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/jquery.min.js" %}"></script> -->

    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/hand.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/babylon.js" %}"></script>
    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/babylon.gridMaterial.js" %}"></script>

    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/system.src.js" %}"></script>

    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/interact.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/scripts/vendor/bootstrap.min.js" %}"></script>

    <script type="text/javascript" src="{%  static "neuroviewer/example/dist/system.config.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{%  static "neuroviewer/example/dist/css/neuroviewer.control.css" %}">
    <!-- <link rel="stylesheet" type="text/css" href="{%  static "neuroviewer/example/dist/css/bootstrap.min.css" %}"> -->
    <link rel="stylesheet" type="text/css" href="{%  static "neuroviewer/example/dist/css/awesome-bootstrap-checkbox.css" %}">
</head>

{%  with neuron_name=neuron.name %}
    <input type="hidden" id="neuron_name_{{ neuron.name }}" value={{ neuron.name }}>
{% endwith %}
<input type="hidden" id="neuron_data_file_{{ neuron.name }}" value={{ neuron.data_file_b64 }}>
<input type="hidden" id="neuron_data_file_extension_{{ neuron.name }}" value={{ neuron.data_file.extension }}>


<p id="error_loading_neuron">There was an error loading this neuron. Try another neuron.</p>


<canvas neuron_name="{{ neuron.name }}" id="canvas_{{ neuron.name }}" class="renderCanvas"></canvas>
