<div id="modal-filter-sample-{{ subgroup_id }}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Filter sample {{ subgroup_id }}</h3>
            </div>
            <div class="modal-body-filter-sample">

                <div id="placeholder-filter-subgroup">
                    {% include "display_filter_subgroup.html" with fields_by_categories=fields_by_categories subgroup_id=subgroup_id %}
                </div>

                <div>
                    <p>
                        Note: If your discrete dataset or continuous datasets have more than 100 features,
                        for efficiency purposes only the 100 first features of each dataset are displayed here.
                    </p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="continue-select-subgroup-{{ subgroup_id }}" subgroup-id="{{ subgroup_id }}" type="button" class="btn btn-primary continue-select-subgroup">Continue</button>
            </div>
        </div>
    </div>
</div>