{% load cms_tags staticfiles %}



{% if gabaclassifier_output.result.error %}
    <p class="p-no-margin"><span class="glyphicon glyphicon-remove icon-margin-right"></span>Interneuron class not found:</p>
{% else %}
    <p class="p-no-margin"><span class="glyphicon glyphicon-ok icon-margin-right"></span>Interneuron class found:</p>
{% endif %}

<div id="gabaclassifier_neuron_result" class="section-report-content container-center">

    {% if gabaclassifier_output.result.error and gabaclassifier_output.result.exception %}
        <p id="result_class_gabaclassifier" class="p-no-margin">{{ gabaclassifier_output.result.exception}}</p>
    {% endif %}

    {% if gabaclassifier_output.result.error and not gabaclassifier_output.result.exception  %}
        <p><strong>Test errors</strong></p>
        <table class="table-scroll-y">
            <thead>
            <tr>
                <th>Test number</th>
                <th>Description</th>
                <th>Pass</th>
            </tr>
            </thead>
            <tbody>
            {% for test in gabaclassifier_output.result.test_errors %}
                <tr>
                    <td>{{ test.number }}</td>
                    <td>{{ test.description }}</td>
                    {% if test.result %}
                        <td><p class="hide-element">Yes</p><span class="glyphicon glyphicon-ok"></span></td>
                    {% else %}
                        <td><p class="hide-element">No</p><span class="glyphicon glyphicon-remove"></span></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if not gabaclassifier_output.result.error %}
        <p  id="result_class_gabaclassifier" class="p-no-margin">{{ gabaclassifier_output.result.class_interneuron }} (<strong>{{ gabaclassifier_output.result.class_verbose }})</strong> </p>
    {% endif %}

</div>

<hr>

<p>Possible classes: (Click <a href="https://doi.org/10.1038/nrn1519">here</a> to learn more about the interneuron classes)</p>
<table class="table-scroll-y">
    <thead>
    <tr>
        <th>Short name</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {% for short_name,name in gabaclassifier_output.possible_interneuron_classes.items %}
        <tr>
            <td>{{ short_name }}</td>
            <td>{{ name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>