{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=0.7">
            <title>{% block title %}Export datasets | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_stats.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/export_datasets.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />


            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
            <script src="{%  static "neurosuite/js/utils/notify_messages.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.3.0/Hyphenator.min.js"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/export_datasets.js" %}"></script>


        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_export_datasets" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <input type="hidden" value="{{csrf_token}}" id="csrf_token">
        <input type="hidden" value="{{dataset_name}}" id="dataset_name">

        <!-- Page Content Holder -->
        <div class="column-content container-center">

            {% if not datasets %}
                <h4>No datasets available yet. Run a tool that creates a dataset first.</h4>
            {% else %}
                <h4>Select the dataset and features:</h4>

                <div class="section-input-field last-section-page">
                    <p class="p-no-margin">Dataset: </p>
                    <div class="select-deselect-buttons">
                        <button type="button" select-field="select-dataset" class="btn btn-default select-all-button">Select all</button>
                        <button type="button" select-field="select-dataset" class="btn btn-default deselect-all-button">Deselect all</button>
                    </div>
                    <select id="select-dataset" class="selectize-single-value selectize-half-single-value" placeholder="Select one dataset..."
                            waiting_div_elem="waiting-export-dataset">
                        {% for field in datasets %}
                            <option value="{{ field }}">{{ field }}</option>
                        {% endfor %}
                    </select>

                    <div id="waiting-export-dataset" class="container-center hide-element">
                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                    </div>

                    <p id="error-export-dataset"  class="container-center hide-element error-color"></p>

                    <div id="continue-export-buttons" class="hide-element">
                        <!--
                        <button type="button" file-format="csv" class="btn btn-primary button-export-dataset">Export as CSV</button>
                        -->
                        <button type="button" file-format="parquet.gzip" class="btn btn-success icon-margin-left button-export-dataset">Export as Apache Parquet</button>
                    </div>
                    <a id="dataframe_exported_download" class="hidden-element" href="" download target="_blank"></a>
                </div>
            {% endif %}

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}
