{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Morphometric analyzer of neurons | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="You can upload your own neurons files or you can select the neurons in the NeuroMorpho.org database.
            Then you can use our multiple online tools to analyze the neurons.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/instructions.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        {% include "sidebar_select_neurons.html" with li_active="instructions" %}

        <!-- Page Content Holder -->
        <div class="column-content dark-background">
            <div class="container-center">
                <h2>Instructions</h2>
            </div>
            <div class="row dark-blue-background">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12 ">
                    <div class="container-center">
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8 ">
                        <div class="row">
                            <div class="container-center">
                                <span>
                                    <img class="instructions_logo" src="{%  static "neurosuite/img/neuroSuite_logo_negative.png" %}" alt="NeuroSuites logo" />
                                </span>
                            </div>
                        </div>

                    </div>
                     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">

                        <div class="container-center">
                            <span>
                                <a href="/morpho/select_upload_neurons"><button class="btn btn-success instruction_button" type="button">Upload your own dataset</button></a>
                            </span>
                            <br>
                            <span>
                                The following file types are supported: swc, dat, asc or json
                            </span>
                            </br>
                            </br>
                            </br>
                            <span>
                                <a href="/morpho/select_without_neurons"> <button class="btn btn-info instruction_button" type="button">Continue without a dataset</button> </a>
                            </span>
                            <span>
                                if you want to use the following software without selecting neurons: <a href="/morpho/morpho_spineSimulation">3DspineS</a>, <a href="/morpho/morpho_somaMS">3DSomaMS</a>, <a href="/morpho/morpho_synapsesSA">3DSynapsesSA</a>, <a href="/morpho/morpho_hbp_dendrite_arborization_simulation">Dendrite arborization simulation</a>
                            </span>
                            </br>
                            </br>
                             <span>
                                <a href="/morpho/select_demo_neurons"><button class="btn btn-info instruction_button" type="button">Demo data</button></a>
                            </span>
                            <span>
                                to analyze some random neurons in order to understand how NeuroSuites works.
                            </span>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
             <ul class="list-group">
                <li class="list-group-item"><strong><a href="/morpho/select_neuromorpho_neurons">NeuroMorpho.org</a>:</strong> search through the NeuroMorpho.org database to get neurons.</li>
            </ul>

            <hr />

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 steps-div">
                    <div class="container-center step-div">
                        <svg class="bi bi-file-check" width="8em" height="8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"/>
                          <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        <br>
                        <h4>Step 1</h4>
                        Select or not a dataset
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 steps-div">
                    <div class="container-center step-div">
                        <svg class="bi bi-clipboard-data" width="8em" height="8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                          <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                          <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        </svg>
                        <br>
                        <h4>Step 2</h4>
                        Select an application and analyze the data
                    </div>
                </div>
            </div>
            <br>

            <div class="container-center">
                <h2>List of applications</h2>
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                     <button id="all" type="button" class="btn btn-primary btn-lg">All</button>
                  </div>
                  <div class="btn-group" role="group">
                     <button id="neuro" type="button" class="btn btn-primary btn-lg">Neuroscience</button>
                  </div>
                  <div class="btn-group" role="group">
                     <button id="general" type="button" class="btn btn-primary btn-lg">General Purpose</button>
                  </div>
                    <div class="btn-group" role="group">
                     <button id="with-data" type="button" class="btn btn-primary btn-lg">With dataset</button>
                  </div>
                <div class="btn-group" role="group">
                     <button id="no-data" type="button" class="btn btn-primary btn-lg">Without dataset</button>
                  </div>
             </div>

            <div class="dark-blue-background">
                {% include "list_morpho_tools.html" %}
            </div>

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
