{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Morphometric tools of neurons | NeuroSuites{% endblock title %}</title>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/index_morpho.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>
        <!-- Sidebar Holder -->
        {% include "sidebar_morpho_analyzer.html" with li_active="instructions" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h2 class="container-center">Select the software analyzer</h2>
                {% if empty_input_data %}
                    <div class="container-center-limited panel-set-neurons-loaded">
                        <p class="containter-center-vertically"><span class="label-set-neurons-loaded">No input data selected.</span> You still can run the tools at the left sidebar.</p>
                    </div>
                {% else %}
                    {% if has_input_dataset %}
                        <div class="container-center-limited panel-set-neurons-loaded">
                            <p class="containter-center-vertically"><span class="label-set-neurons-loaded">Dataset loaded!</span> We recommend you to click in the <a href="/morpho/morpho_data_stats_discrete">Discrete stats tab</a> or <a href="/morpho/morpho_data_stats_continuous">Continuous stats tab</a>  to take a look at your data.</p>
                        </div>
                    {% else %}
                        <div class="container-center-limited panel-set-neurons-loaded">
                            <p class="containter-center-vertically"><span class="label-set-neurons-loaded">Set of neurons loaded!</span> We recommend you to click in the <a href="/morpho/morpho_overview">Overview tab</a> to take a look at your set of neurons.</p>
                        </div>
                    {% endif %}
                {% endif %}
                <hr />
                <h4>Instructions</h4>

                {% if empty_input_data %}
                    <p>To have access to all the tools, you will need to select a data source with neurons reconstruction data (NeuroMorpho.org)</p>
                    <p>Or you can upload your own dataset (in CSV or multiple files in SWC or JSON) to have access to some of the tools.</p>
                {% else %}
                    {% if has_input_dataset %}
                        <p>To analyze <strong>individually each neuron</strong> of your set, select the the <a href="/morpho/morpho_overview">Overview tab</a> and then click on the Analyze button.</p>
                        <figure>
                            <a href="/morpho/morpho_overview/"><img style="width: 60%; height: 60%" src="{%  static "neurosuite/img/overview_demo.png" %}" /></a>
                            <figcaption>Overview example tab</figcaption>
                        </figure>
                        <br>
                        <p>To analyze <strong>all your set of neurons</strong> at the same time, select one of the following software on the <strong>left sidebar</strong>:</p>
                    {% else %}
                        <p>To have access to all the tools, you will need to select a data source with neurons reconstruction data (NeuroMorpho.org)</p>
                    {% endif %}
                {% endif %}
            </div>

            <hr />
            <div class="container-center">
                <h4>The following tools are available:</h4>
            </div>
            {% include "list_morpho_tools.html" %}
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
