{% load cms_tags staticfiles %}

<div class="container-flex-box">
    {% if not display == "only_without_neurons" %}
        <div class="item-flex-box panel panel-primary neuro with-data app">
            <div class="panel-heading ">
                <h4 id="" class="">L-Measure - Extract morphological measurements</h4>
            </div>
            <div class="panel-body">
                <p>This tool allows researchers to extract quantitative morphological measurements from neuronal reconstructions.<br><br>
                    Neuronal reconstructions are typically obtained from brightfield or fluorescence microscopy preparations using
                    applications such as Neurolucida, Eutectic, or Neuron_Morpho, or can be synthesized via computational simulations.
                </p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="http://cng.gmu.edu:8080/Lm/help/index.htm">L-Measure documentation</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/l_measure_all_demo.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro with-data app">
            <div class="panel-heading ">
                <h4 id="" class="">NeuroViewer - 3D Neuron reconstruction</h4>
            </div>
            <div class="panel-body">
                <p>
                    3D Neuron reconstruction visualization package</p>
                <p>NeuroSTR was originally created by Luis Rodriguez-Lujan.</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/lrodriguezlujan/neuroviewer">NeuroViewer repository</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/neuroviewer_individual_demo.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro with-data app">
            <div class="panel-heading ">
                <h4 id="" class="">NeuroSTR - Validator, format converter</h4>
            </div>
            <div class="panel-body">
                <p>NeuroSTR is a neuroanatomy toolbox for C++. It reads and processes three-dimensional neuron reconstructions
                    in the most common file formats and offers a huge set of functions and utilities to work with them.
                </p>
                <p>NeuroSTR was originally created by Luis Rodriguez-Lujan and is currently maintained by Bojan Mihaljevic.</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#validator">NeuroSTR validator documentation.</a><br></span>
                        <span class="link-box-rounded"><a target="_blank" href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#converter">NeuroSTR format converter documentation.</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/neurostr_validator_neuron_demo.png" %}" />
                <img src="{%  static "neurosuite/img/neurostr_converter_demo.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro with-data app">
            <div class="panel-heading ">
                <h4 id="" class="">3DBasalRM - Repair cut-points in the basal arborization</h4>
            </div>
            <div class="panel-body">
                <p>Data-driven repairing model that detects cut-points in the basal arborization
                    and then repairs them using a growth model built from complete three-dimensional
                    neuron reconstructions.<br>
                    As result a neuron in JSON format is returned</p>
                <p>3DBasalRM was originally created by Sergio Luengo.</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/3DBasalRM/blob/master/vignettes/2.Reparation.Rmd">3DBasalRM documentation.</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/3dbasalrm_demo.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro with-data app">
            <div class="panel-heading ">
                <h4 id="" class="">GabaClassifier - Interneuron classifier</h4>
            </div>
            <div class="panel-body">
                <p>Classifies the given interneuron morphology into one of the 7 possible classes.<br><br>
                    The model has been trained with layer L2/3 to layer L6 interneurons and thus only interneurons from those layers are allowed as input.<br>
                    Click <a href="https://doi.org/10.1038/nrn1519">here</a> to learn more about the interneuron classes)</p>
                <p>GabaClassifier was originally created by Bojan Mihaljevic</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/gabaclassifier">GabaClassifier documentation.</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/gabaclassifier_output.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary general with-data app">
            <div class="panel-heading">
                <h4 id="" class="">Statistics engine</h4>
            </div>
            <div class="panel-body">
                <p>
                    Discrete and continuous data are supported.
                    <br>
                    <br>
                    Descriptive statistics:univariate, bivariate and multivariate analysis and visualization.
                    <br>
                    Inferential statistics: confidence intervals, hypothesis testing (one sample t-test, two dependent and independent samples t-test), find fittest distribution.
                    <br>
                    <br>
                    Interactive plots with <a href="https://plot.ly/#/">Plotly</a> (histograms, probability density functions,
                    box plots, 2D and 3D scatter plots, Chernoff faces, Radar charts, Parallel coordinates, Andrew curves and much more!), custom options, exporting formats, etc.
                    <br>
                    Everything online.
                    <br>
                    <br>
                    Check out the Data stats or L-Measure tool in the Morphometric Analyzer to see it in action.
                </p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://plot.ly/python/">Plotly documentation for Python</a></span>
                    </p>
                </div>
                <div class="container-center">
                    <img src="{%  static "neurosuite/img/probability_density_functions_plot.png" %}" />
                </div>
            </div>
        </div>

        <div class="item-flex-box panel panel-primary general with-data app">
            <div class="panel-heading">
                <h4 id="" class="">Machine learning</h4>
            </div>
            <div class="panel-body">
                <p>
                    <a href="/morpho/ml_bayesian_networks/" target="_blank">Bayesian Networks</a>: structure and parameters learning for continuous and discrete datasets. Full visualization and inference for continuous BNs.
                    <br>
                    <br>

                    <a href="/morpho/ml_probabilistic_clustering" target="_blank">Probabilistic clustering graphical models</a>: full visualization and inference for continuous models.

                    <br>
                    <br>
                    Everything online.
                    <br>
                    <br>
                    Check out the Machine learning section in the Morphometric Analyzer to see it in action.
                </p>
                <div class="container-center">
                    <img src="{%  static "neurosuite/img/bns/net1_hubs_prunning.png" %}" />
                </div>
            </div>
        </div>



    {% endif %}

    {% if display == "only_without_neurons" or not display %}
        <div class="item-flex-box panel panel-primary neuro no-data app">
            <div class="panel-heading ">
                <h4 id="" class=""><a class="link-heading-panel" href="/morpho/morpho_spineSimulation">3DspineS - Dendritic spine simulation</a></h4>
            </div>
            <div class="panel-body">
                <p>This mathematical approach could provide a useful tool for theoretical predictions on the functional
                    features of human pyramidal neurons based on the morphology of dendritic spines.<br>
                    This tool was trained with human cortical pyramidal neurons.</p>
                <p>3DspineS was originally created by Sergio Luengo.</p>
                <p>
                    <i>Luengo-Sanchez, S., Fernaud-Espinosa, I., Bielza, C., Benavides-Piccione, R., Larrañaga, P., & DeFelipe, J. (2018).
                        <br>
                        3D morphology-based clustering and simulation of human pyramidal cell dendritic spines.
                        <br>
                        PLOS Computational Biology, 14(6), e1006221.
                        <a href="https://doi.org/10.1371/journal.pcbi.1006221">https://doi.org/10.1371/journal.pcbi.1006221</a>
                    </i>
                </p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/3DspineS">3DspineS documentation</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/3dspine3.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro no-data app">
            <div class="panel-heading ">
                <h4 id="" class=""><a class="link-heading-panel" href="/morpho/morpho_somaMS">3DSomaMS - Delimit the neuronal soma</a></h4>
            </div>
            <div class="panel-body">
                <p>The definition of the soma is fuzzy, as there is no clear line demarcating the soma of the labeled
                    neurons and the origin of the dendrites and axon. Thus, the morphometric analysis of the neuronal
                    soma is highly subjective.
                </p>
                <p>This software provides a mathematical definition and an automatic segmentation method to delimit the
                    neuronal soma. We applied this method to the characterization of pyramidal cells, which are the most
                    abundant neurons in the cerebral cortex. Thus, this software is a means of characterizing pyramidal
                    neurons in order to objectively compare the morphometry of the somata of these neurons in different
                    cortical areas and species.
                </p>
                <p>3DSomaMS was originally created by Sergio Luengo and Luis Rodriguez-Lujan (GUI).</p>
                <p>
                    <i>Luengo-Sanchez, S., Bielza, C., Benavides-Piccione, R., Fernaud-Espinosa, I., DeFelipe, J., & Larrañaga, P. (2015).
                        <br>
                        A univocal definition of the neuronal soma morphology using Gaussian mixture models.
                        <br>
                        Frontiers in Neuroanatomy, 9, 137.
                        <a href="https://doi.org/10.3389/fnana.2015.00137">https://doi.org/10.3389/fnana.2015.00137</a>
                    </i>
                </p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href,
                                ="https://github.com/ComputationalIntelligenceGroup/3DSomaMS">3DSomaMS repository</a></span>
                        <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSomaMS/3DSomaMS_User_Guide.pdf" %}">3DSomaMS User's guide</a></span>
                        <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSomaMS/3DSomaMS_tutorial_v1.0.pptx" %}">3DSomaMS Tutorial</a></span>
                    </p>
                </div>
                <img src="{%  static "neurosuite/img/3DSomaMS_demo3D.png" %}" />
            </div>
        </div>

        <div class="item-flex-box panel panel-primary neuro no-data app">
            <div class="panel-heading ">
                <h4 id="" class=""><a class="link-heading-panel" href="/morpho/morpho_synapsesSA">3DSynapsesSA - Analyze spatial distribution of cortical synapses</a></h4>
            </div>
            <div class="panel-body">
                <p>3DSynapsesSA is a tool designed to process and analyze patterns in the three-dimensional spatial
                    distribution of cortical synapses. It brings a variety of both innovative and well-known techniques
                    from the spatial statistics field.</p>
                <p>This tool allows you to: <br>
                    <i class="fa fa-square icon-margin-right "></i>Process and visualize data from cortical synapses for error checking<br>
                    <i class="fa fa-square icon-margin-right "></i>Model the spatial distribution of the synapses<br>
                    <i class="fa fa-square icon-margin-right "></i>Replicate, via simulation, samples of cortical synapses<br>
                    <i class="fa fa-square icon-margin-right "></i>Compare several indicators obtained from data of different layers<br>
                </p>
                <p>3DSynapsesSA was originally created by Laura Antón-Sánchez and Luis Rodriguez-Lujan (GUI).</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/3DSynapsesSA">3DSynapsesSA repository</a></span>
                        <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSynapsesSA/3DSynapsesSA_users_guide_v1.1.pdf" %}">3DSynapsesSA User's guide</a></span>
                        <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSynapsesSA/3DSynapsesSA_tutorial_v1.1.pptx" %}">3DSynapsesSA Tutorial</a></span>
                    </p>
                </div>
                <div class="container-center">
                    <img src="{%  static "neurosuite/img/3DSynapsesSA_demo3D.png" %}" />
                </div>
            </div>
        </div>

        <div class="item-flex-box panel panel-primary single-element-in-row neuro no-data app">
            <div class="panel-heading">
                <h4 id="" class=""><a class="link-heading-panel" href="/morpho/morpho_hbp_dendrite_arborization_simulation">Dendrite arborization simulation - Generate synthetic dendrite arborization</a></h4>
            </div>
            <div class="panel-body">
                <p>Generation of synthetic neurons with soma and dendrites.</p>
                <p>Dendrite arborization simulation was originally created by Pablo Fernández González</p>
                <div class="container-center">
                    <p class="p-no-margin">
                        <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/hbp-dendrite-arborization-simulation">Dendrite arborization simulation repository</a></span>
                    </p>
                </div>
                <div class="container-center">
                    <img class="img-hbp-dendrite-arborization-simulation-demo3D" src="{%  static "neurosuite/img/hbp-dendrite-arborization-simulation-demo3D.png" %}" />
                </div>
            </div>
        </div>
    {% endif %}

</div>