<thead>
<tr>
    <th>Neuron</th>
    <th>File type</th>
    {% if neurons_user.0.additional_data %}
        {% for field in fields_to_display %}
            <th>{{ field }}</th>
        {% endfor %}
    {% endif %}
    <th>Analyze</th>
</tr>
</thead>
<tbody>
{% for neuron in neurons_user %}
    <tr id={{ neuron.name }}>
    <td>{{ neuron.name }}</td>
    <td>{{ neuron.data_file.extension }}</td>
    {% for field in fields_to_display %}
        {%  for key,value in neuron.additional_data.items %}
            {% if key == field %}
                {% if key == "png_url" %}
                    <td class="container-center"><img class="neuron_png_cell_table clickable" src="{{ value }}"></td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <td>
        <form id="view_3D_form" action="/morpho/morpho_neuron_overview" target="_blank" method="post">
            {% csrf_token %}
            <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
            <button type="submit" id='overview_{{ neuron.name }}' class="btn btn-primary overvew" >Analyze</button>
        </form>
    </td>
{% endfor %}
</tr>
</tbody>