{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=0.7">
            <title>{% block title %}Supervised classification | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            {#            <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" type="text/css" />#}
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_stats.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/plots/global_plots.css" %}" rel="stylesheet" type="text/css" />

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css" />

            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer/theme.min.css" media="all" rel="stylesheet" type="text/css" />

            <link href="{%  static "neurosuite/css/loading_worker_task.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/ml_supervised_classification.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/ml_non_probabilistic_clustering.css" %}" rel="stylesheet" type="text/css" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
            <script src="{%  static "neurosuite/js/utils/notify_messages.js" %}"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            {% comment %}
            <script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>
{% endcomment %}
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_stats.js" %}"></script>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/purify.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer/theme.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/es.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.1/moment-duration-format.min.js"></script>
            <script src="{%  static "neurosuite/js/select_neurons/filter_session_neurons.js" %}"></script>
            <!-- Panel collapse must be after the .js of this html -->
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.3.0/Hyphenator.min.js"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "sigmajs/v1_2_1/sigma.min.js" %}"></script>
            <script src="{%  static "sigmajs/v1_2_1/plugins/sigma.plugins.dragNodes.min.js" %}"></script>
            <script src="{%  static "sigmajs/v1_2_1/plugins/sigma.layout.forceAtlas2.min.js" %}"></script>
            <script src="{%  static "sigmajs/v1_2_1/plugins/sigma.renderers.edgeLabels.min.js" %}"></script>
            <script src="{%  static "sigmajs/v1_2_1/plugins/sigma.exporters.svg.min.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.3/screenfull.min.js"></script>
            <script src="{%  static "neurosuite/js/utils/loading_worker_task_inline.js" %}"></script>
            <script src="{%  static "neurosuite/js/utils/slider_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/utils/miscellaneous.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/ml_non_probabilistic_clustering.js" %}"></script>

        </head>

 <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="ml_non_supervised_classification" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <input type="hidden" value="{{csrf_token}}" id="csrf_token">
        <input type="hidden" value="{{dataset_name}}" id="dataset_name">

        <!-- Page Content Holder -->
        <div class="column-content">

            <h2 class="container-center">Non probabilistic clustering</h2>

            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#section-feature-preprocessing" aria-controls="section-feature-preprocessing" data-toggle="tab" role ="tab">1. Feature selection and pre-processing </a>
                    </li>
                    <li role="presentation">
                        <a href="#section-algorithm" aria-controls="section-algorithm" data-toggle="tab" role ="tab">2. Clustering algorithm</a>
                    </li>
                    <li role="presentation">
                        <a href="#section-results" aria-controls="section-results" data-toggle="tab" role ="tab">3. Clustering result</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="section-feature-preprocessing">
                    <div class="section-report" id="section-select-db">
                        <div class="section-report-content ">
                            <h4 class="section-report-title">1. Features selection</h4>

                            <div class="row container-center">
                                <div id="section-select-dataset" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <h4>Manual predictor features selection:</h4>
                                    {% if datasets|length == 0%}
                                        <p class="container-center">No data available. If you want to upload your dataset please go <a href="/morpho/select_upload_neurons">here</a> and then come back here.</a></p>
                                    {% else %}
                                        <div class="section-input-field">
                                            <p class="p-no-margin">Discrete or continuous: </p>
                                            <div class="select-deselect-buttons">
                                                <button type="button" select-field="select-dataset-predictor" class="btn btn-default select-all-button">Select all</button>
                                                <button type="button" select-field="select-dataset-predictor" class="btn btn-default deselect-all-button">Deselect all</button>
                                            </div>
                                            <select id="select-dataset-predictor" class="select-dataset selectize-multivalue" placeholder="Select one or more datasets..." choose_value_elem="section-input-dataset-predictor-features"
                                                    selectize_value_elem="select-dataset-predictor-features" waiting_div_elem="waiting-values-dataset-predictor-features">
                                                {% for field in datasets %}
                                                    <option value="{{ field }}">{{ field }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="section-input-dataset-predictor-features" class="hide-element">
                                            <div class="section-input-field">
                                                <div id="waiting-values-dataset-predictor-features" class="container-center hide-element">
                                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                                </div>

                                                <p class="p-no-margin">Features: </p>
                                                <div class="select-deselect-buttons">
                                                    <button type="button" select-field="select-dataset-predictor-features" class="btn btn-default select-all-lazy-button">Select all</button>
                                                    <button type="button" select-field="select-dataset-predictor-features" class="btn btn-default deselect-all-lazy-button">Deselect all</button>
                                                </div>
                                                <select id="select-dataset-predictor-features" class="dataset-features selectize-multivalue" placeholder="Select multiple features...">
                                                    <option value=""></option>
                                                </select>
                                                <p id="select-dataset-predictor-features-all" class="hide-element success-color p-no-margin">All features selected</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div id="section-preprocessing-features" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-left" container-center section-input-field">
                                    <h4>Features preprocessing:</h4>

                                    <div id="section-selected-algorithms" class="section-input-field">
                                        <p class="p-no-margin">Fill missing values (if any): </p>
                                        <select id="select-filling-algorithm" class="selectize-single-value-initialized selectize-small"  placeholder="Filling algorithm">
                                            <option value="rows_deletion">Rows deletion</option>
                                            <option value="mean">Mean</option>
                                        </select>
                                    </div>

                                    <div class="section-input-field">
                                        <span class="p-no-margin">
                                            <p class="p-no-margin">
                                                <label class="not-bold on-mouse-show-hand" for="remove-non-variant-features">
                                                    <input id="remove-non-variant-features" type="checkbox" checked="checked" class="on-mouse-show-hand checkbox-cross-validation learning-parameter">Remove constant features
                                                </label>
                                            </p>
                                        </span>
                                    </div>

                                    <div class="section-input-field">
                                         <div id="section-normalize-values" class="checkbox">
                                            <p class="p-no-margin">
                                                <label>
                                                    <input id="checkbox-normalize-values" type="checkbox"> Normalize values:
                                                </label>
                                            </p>
                                         </div>
                                        <select id="select-normalizing-algorithm" class="selectize-single-value-initialized selectize-small"  placeholder="Normalizing algorithm">
                                            <option value="max_min">Max-min</option>
                                            <option value="from_0_to_1">From 0 to 1</option>
                                        </select>
                                    </div>

                                    <div class="section-input-field">
                                        <div id="section-discretize-method" class="checkbox">
                                            <span class="p-no-margin">
                                                <p class="p-no-margin">
                                                    <label>
                                                        <input id="checkbox-dataset-discretize" type="checkbox">Discretize continuous values
                                                    </label>
                                                </p>
                                            </span>

                                            <span id="discretize-methods">
                                                <select id="select-dataset-discretize-method" class="selectize-single-value" placeholder="Select discretize method">
                                                    <option value="equal_width">Equal width</option>
                                                    <option value="equal_frequency">Equal frequency</option>
                                                    <option value="fayyad_irani">Fayyad & Irani's MDL</option>
                                                </select>
                                            </span>
                                        </div>


                                        <div id="discretize-parameters-equal_width" class="hide-element discretize-parameters">
                                            <label for="n_bins" class="label-group-horizontal">Max number of bins: </label>
                                            <input id="n_bins" type="number" min="2" max="999" step="1" value="5" class="discretize-parameter input-group-horizontal"/>
                                        </div>
                                        <div id="discretize-parameters-equal_frequency" class="hide-element discretize-parameters">
                                            <label for="n_bins" class="label-group-horizontal">Max number of bins: </label>
                                            <input id="n_bins" type="number" min="2" max="999" step="1" value="5" class="discretize-parameter input-group-horizontal"/>
                                        </div>
                                        <div id="discretize-parameters-fayyad_irani" class="hide-element discretize-parameters">
                                            <p class="p-no-margin">This algorithm requires a <br> discrete class feature</p>
                                        </div>

                                        <div id="section-nbins-for-equal-width-discretization" class="hide-element">
                                            <label for="nbins-for-equal-width-discretization" class="label-group-horizontal">Select the first top features: </label>
                                            <input id="nbins-for-equal-width-discretization" type="number" min="1" step="1" value="4" class="discretize-parameter input-group-horizontal"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <hr>

                            <div class="row container-center">
                                <div class="container-sep-top">
                                    <button id="continue-button-features-selection" type="button" class="btn btn-default">Continue</button>
                                </div>
                            </div>

                            <div class="container-sep-top container-center">
                                <div id="waiting-continue-features-selection" class="container-center hide-element">
                                    <p class="p-no-margin">Loading dataset...</p>
                                    <div id="progress-upload-dataset">
                                        {% include "loading_worker_task_inline.html" with progress_id="progress-upload-dataset" %}
                                    </div>
                                </div>
                                <p id="error-continue-features-selection" class="error-color"></p>
                                <h4 id="success-continue-features-selection" class="success-color hide-element">Data uploaded</h4>
                            </div>

                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="section-algorithm">
                    <div id="section-learning-algorithm" class="section-report last-section-page hide-element">
                        <div class="section-report-content">
                            <h4 class="section-report-title">2. Clustering algorithm</h4>

                            <div class="row container-center">
                                <div id="section-select-learning-algorithm" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <h4>Select the learning algorithm:</h4>

                                    <div id="section-selected-algorithms" class="section-input-field">
                                        <p class="p-no-margin">Selected algorithms: </p>
                                        <select id="select-learning-algorithm" class="selectize-single-value-initialized"  placeholder="Algorithm selected">
                                            <optgroup label="Hierarchical clustering">
                                                <option value="agglomerative">Agglomerative</option>
                                            </optgroup>
                                            <optgroup label="Partitional clustering">
                                                <option value="k-means">K-means</option>
                                                <option value="dbscan">Dbscan</option>
                                                <option value="spectral">Spectral</option>
                                                <option value="birch">BIRCH</option>
                                                <option value="optics">OPTICS</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div id="section-select-algorithm-parameters" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-left hide-element">
                                    <!-- Non-probabilistic: -->
                                    <div id="learning-parameters-agglomerative" class="learning-algorithm-parameters">
                                        <p><strong>Agglomerative hierarchical</strong> Algorithm hyperparameters</p>
                                        <div class="form-horizontal">

                                            <div id="agglomerative-parameters">

                                                 <div id="section-input-features" class="form-group-horizontal">
                                                    <p class="p-no-margin">Number of clusters criteria: </p>
                                                    <select id="agglomerative_criteria" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                        <option value="distance">distance</option>
                                                        <option value="k">K</option>
                                                    </select>
                                                </div>

                                                <div id="section-input-features" class="form-group-horizontal hide-element criteria-param k-param">
                                                    <label for="agglomerative_k" class="">K: </label>
                                                    <input id="agglomerative_k" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                                </div>

                                                <div id="section-input-features" class="form-group-horizontal hide-element criteria-param d-param">
                                                    <label for="agglomerative_max_d" class="">max distance: </label>
                                                    <input id="agglomerative_max_d" type="number" min="0" value="50" step="0.5" class="learning-parameter input-group-horizontal"/>
                                                </div>

                                                </br>

                                                <div id="section-input-features" class="form-group-horizontal">
                                                    <p class="p-no-margin">Linkage: </p>
                                                    <select id="agglomerative_linkage" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                        <option value="ward">Ward</option>
                                                        <option value="complete">complete</option>
                                                        <option value="average">average</option>
                                                        <option value="single">single</option>
                                                        <option value="centroid">centroid</option>
                                                    </select>
                                                </div>

                                                <div id="section-input-features" class="form-group-horizontal">
                                                    <p class="p-no-margin">Distance: </p>
                                                    <select id="agglomerative_distance" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                        <option value="euclidean">Euclidean</option>
                                                        <option value="hamming">Hamming</option>
                                                        <option value="manhattan">Manhattan</option>
                                                        <option value="cosine">cosine</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <hr>

                                            <div id="section-input-features" class="container-center backend-selection-div">
                                                <p class="p-no-margin">Backend: </p>
                                                <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                    <option value="scipy">Scipy</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="learning-parameters-k-means" class="learning-algorithm-parameters">
                                        <p><strong>K means</strong> Algorithm hyperparameters</p>
                                        <div class="form-horizontal">

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <label for="kmeans_k" class="">K: </label>
                                                <input id="kmeans_k" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                            </div>

                                            <hr>

                                            <div id="section-input-features" class="container-center backend-selection-div">
                                                <p class="p-no-margin">Backend: </p>
                                                <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                    <option value="scikit-learn">Scikit-learn</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="learning-parameters-dbscan" class="learning-algorithm-parameters">
                                         <p><strong>Dbscan</strong> Algorithm hyperparameters</p>
                                         <div id="section-input-features" class="form-group-horizontal">
                                            <label for="dbscan_eps" class="">epsilon: </label>
                                            <input id="dbscan_eps" type="number" min="0.1" value="0.5" step="0.1" class="learning-parameter input-group-horizontal"/>
                                         </div>

                                        <br>

                                         <div id="section-input-features" class="form-group-horizontal">
                                            <label for="dbscan_min_samples" class="">min samples: </label>
                                            <input id="dbscan_min_samples" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                         </div>

                                        <br>

                                        <div id="section-input-features" class="form-group-horizontal">
                                            <p class="p-no-margin">Distance: </p>
                                            <select id="dbscan_metric" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                <option value="euclidean">Euclidean</option>
                                                <option value="manhattan">Manhattan</option>
                                                <option value="cosine">cosine</option>
                                            </select>
                                        </div>

                                         <div id="section-input-features" class="container-center backend-selection-div">
                                             <p class="p-no-margin">Backend: </p>
                                             <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                 <option value="scikit-learn">Scikit-learn</option>
                                             </select>
                                         </div>
                                    </div>

                                    <div id="learning-parameters-affinity" class="learning-algorithm-parameters">
                                          <p><strong>Affinity propagation</strong> Algorithm hyperparameters</p>
                                          <div id="section-input-features" class="form-group-horizontal">
                                             <label for="affinity_damping" class="">damping: </label>
                                             <input id="affinity_damping" type="number" min="0.5" value="0.5" max="1" step="0.1" class="learning-parameter input-group-horizontal"/>
                                          </div>

                                          <div id="section-input-features" class="container-center backend-selection-div">
                                             <p class="p-no-margin">Backend: </p>
                                             <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                 <option value="scikit-learn">Scikit-learn</option>
                                             </select>
                                          </div>
                                    </div>

                                    <div id="learning-parameters-spectral" class="learning-algorithm-parameters">
                                         <p><strong>Spectral clustering</strong> Algorithm hyperparameters</p>

                                         <div id="section-input-features" class="form-group-horizontal">
                                            <p class="p-no-margin">Number of clusters selection: </p>
                                            <select id="spectral_clusters_selection" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                <option value="auto">auto</option>
                                                <option value="manual">manual</option>
                                            </select>
                                         </div>

                                         <br>

                                         <div id="section-input-features" class="form-group-horizontal optional-k hide-element">
                                            <label for="spectral_k" class="">Number of clusters: </label>
                                            <input id="spectral_k" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                         </div>

                                         <br>

                                         <div id="section-input-features" class="form-group-horizontal">
                                            <label for="spectral_n_components" class="">Number of components: </label>
                                            <input id="spectral_n_components" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                         </div>

                                         <div id="section-input-features" class="container-center backend-selection-div">
                                             <p class="p-no-margin">Backend: </p>
                                             <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                 <option value="scikit-learn">Scikit-learn</option>
                                             </select>
                                         </div>
                                    </div>

                                    <div id="learning-parameters-birch" class="learning-algorithm-parameters">
                                        <p><strong>BIRCH</strong> Algorithm hyperparameters</p>
                                        <div class="form-horizontal">

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <label for="birch_k" class="">K: </label>
                                                <input id="birch_k" type="number" min="1" value="3" step="1" class="learning-parameter input-group-horizontal"/>
                                            </div>

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <label for="birch_threshold" class="">Threshold: </label>
                                                <input id="birch_threshold" type="number" min="0" value="0.5" step="0.1" class="learning-parameter input-group-horizontal"/>
                                            </div>

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <label for="birch_branching_factor" class="">Branching factor: </label>
                                                <input id="birch_branching_factor" type="number" min="2" value="50" step="1" class="learning-parameter input-group-horizontal"/>
                                            </div>

                                            <hr>

                                            <div id="section-input-features" class="container-center backend-selection-div">
                                                <p class="p-no-margin">Backend: </p>
                                                <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                    <option value="scikit-learn">Scikit-learn</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="learning-parameters-optics" class="learning-algorithm-parameters">
                                        <p><strong>OPTICS</strong> Algorithm hyperparameters</p>
                                        <div class="form-horizontal">

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <label for="optics_min_samples" class="">Min samples: </label>
                                                <input id="optics_min_samples" type="number" min="1" value="5" step="1" class="learning-parameter input-group-horizontal"/>
                                            </div>

                                            <div id="section-input-features" class="form-group-horizontal">
                                                <p class="p-no-margin">Distance: </p>
                                                <select id="optics_metric" class="learning-parameter selectize-single-value-initialized selectize-small">
                                                    <option value="euclidean">Euclidean</option>
                                                    <option value="manhattan">Manhattan</option>
                                                    <option value="cosine">cosine</option>
                                                </select>
                                            </div>

                                            <hr>

                                            <div id="section-input-features" class="container-center backend-selection-div">
                                                <p class="p-no-margin">Backend: </p>
                                                <select id="backend" class="learning-parameter algorithm-backend-selection selectize-single-value-initialized selectize-small">
                                                    <option value="scikit-learn">Scikit-learn</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="container-continue-learn-algorithms" class="container-sep-top container-center">
                                        <button id="continue-learn-algorithms" type="button" class="btn btn-default">Continue</button>
                                    </div>

                                    <div class="container-sep-top container-center">
                                        <div id="waiting-continue-learn-algorithms" class="container-center hide-element">
                                            <p class="p-no-margin">Running learning algorithms...</p>
                                            <div id="progress-supervised-class-learning-algorithms">
                                                {% include "loading_worker_task_inline.html" with progress_id="progress-supervised-class-learning-algorithms" %}
                                            </div>
                                        </div>
                                        <p id="error-continue-learn-algorithms" class="error-color"></p>
                                        <h4 id="success-continue-learn-algorithms" class="success-color hide-element">
                                            Learning phase done
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div role="tabpanel" class="tab-pane" id="section-results">
                <div id="section-cluster-results" class="section-report last-section-page hide-element">
                    <div class="section-report-content">
                        <h4 class="section-report-title">3. Clustering result</h4>

                        <div class="row container-center">
                            <div id="section-clusters-summary" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div id="cluster-results" class="clusters-table col-xs-12 col-sm-12 col-md-4 col-lg-4">

                                    <br>

                                    <br>

                                    <table id="table-clusters" class="table table-hover table-striped">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>

                                    <br>

                                </div>

                                <div id="cluster-options" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                                </div>

                                <div id="div-download" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a href="/morpho/ml_non_probabilistic_download_clusters/" target="_blank">
                                        <button id="btn-download-data2" class="btn btn-success" format="csv" >Download data with clusters</button>
                                    </a>
                                </div>

                                <div id="partitional-big-cluster-results" class="clusters-table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table id="big-table-clusters" class="table table-hover table-striped">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>


                                <div id="partitional-cluster-centroids" class="clusters-table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table id="table-centroids" class="table table-hover table-striped">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                            </div>

                            <div id="section-cluster-plot" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h4>Plots:</h4>

                                <div id="cluster-plot">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "sidebar_show_hide_button.html" %}
 </body>
{% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}
