{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Neuron overview | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_neuron_overview.css" %}" rel="stylesheet" type="text/css" />

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_neuron_overview.js" %}"></script>
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_format_converter_neurostr.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_neuron3D_neuroviewer.js" %}"></script>
        </head>

        <body data-spy="scroll" data-target="#sidebar_neuron_overview" data-offset="-900">

        <!-- Sidebar Holder -->
        {% include "sidebar_neuron_overview.html" with li_active="li-section-details" neuron=neuron %}

        <div class="column-content" id="content_nav_neuron_overview">

            {% include "sidebar_show_hide_button.html" %}

            <h3 class="container-center">Overview neuron {{ neuron.name }}</h3>



            <div class="container-flex-box">

                <div id="section_details" class="section-neuron-overview"></div>
                <div class="item-flex-box panel panel-primary">
                    <div class="panel-heading clickable">
                        <h4 id="" class="">Details</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>Data in the neuron file:</p>
                        </div>
                        <div id="table-neuron-overview-div">
                            <table id="table-neuron-overview-details" class="table-with-footer table-scroll-y">
                                <thead>
                                <tr>
                                    <th>Field</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="neuron-data-field-name">Neuron name</td>
                                    <td>{{ neuron.name }}</td>
                                </tr>
                                <tr>
                                    <td class="neuron-data-field-name">File type</td>
                                    <td>{{ neuron.data_file.extension }}</td>
                                </tr>
                                {%  for key,value in neuron.additional_data.items %}
                                    <tr>
                                        <td class="neuron-data-field-name">{{ key|safe }}</td>
                                        <td>{{ value|safe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="section_l_measure" class="section-neuron-overview"></div>
                <div id="panel_l_measure" class="item-flex-box panel panel-primary">
                    <div id="" class="panel-heading clickable">
                        <h4 id="" class="">L-Measure</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>This tool allows researchers to extract quantitative morphological measurements from neuronal reconstructions<br>
                                <a href="http://cng.gmu.edu:8080/Lm/help/index.htm">L-Measure documentation.</a></p>
                        </div>
                        <table id="table-neuron-overview-l-measure" class="table-with-footer table-scroll-y">
                            <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tr>
                            {%  for key,value in features_l_measure.items %}
                                <tr>
                                    <td class="neuron-data-field-name">{{ key|safe }}</td>
                                    <td>{{ value|safe }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="section_neuroviewer" class="section-neuron-overview"></div>
                <div id="panel-neuroviewer" class="item-flex-box panel panel-primary">
                    <div id="panel-heading-neuroviewer" class="panel-heading clickable">
                        <h4 id="" class="">Neuroviewer</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>3D Neuron reconstruction visualization. Be patient while loading.<br>
                                <a href="https://github.com/lrodriguezlujan/neuroviewer">NeuroViewer repository.</a>
                            </p>
                        </div>
                        {% include "display_neuron_neuroviewer.html" with neuron=neuron %}
                    </div>
                </div>

                <div id="section_neurostr_validator" class="section-neuron-overview"></div>
                <div class="item-flex-box panel panel-primary">
                    <div id="" class="panel-heading clickable">
                        <h4 id="" class="">Neurostr - Validator</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>NeuroSTR is a neuroanatomy toolbox for C++. It reads and
                                processes three-dimensional neuron reconstructions in the
                                most common file formats and offers a huge set of functions
                                and utilities to work with them.<br>
                                <a href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#validator">NeuroSTR validator documentation.</a>
                            </p>
                        </div>
                        {% include "display_neuron_neurostr_validator.html" with neurostr_validator_output=neurostr_validator_output %}
                    </div>
                </div>

                <div id="section_gabaclassifier" class="section-neuron-overview"></div>
                <div class="item-flex-box panel panel-primary">
                    <div id="" class="panel-heading clickable">
                        <h4 id="" class="">GabaClassifier - Interneuron classifier</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>Classifies the given interneuron morphology into one of the 8 possible classes.
                                <br>
                                <br>
                                The model has been trained with layer L2/3 to layer L6 interneurons and thus only interneurons from those layers are allowed as input.
                                <br>
                                <a href="https://github.com/ComputationalIntelligenceGroup/gabaclassifier">GabaClassifier documentation.</a>
                            </p>

                            {% include "display_neuron_gabaclassifier.html" with gabaclassifier_output=gabaclassifier_output %}

                        </div>
                    </div>
                </div>

                <div id="section_neurostr_format_converter" class="section-neuron-overview"></div>
                <div class="item-flex-box panel panel-primary">
                    <div id="" class="panel-heading clickable">
                        <h4 id="" class="">Neurostr - Format converter</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>Convert <strong>swc, dat, asc, json</strong> to <strong>swc, json</strong><br>
                                If the format select is the same as the actual format, the original file will be retrieved.<br>
                                <a href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#converter">NeuroSTR format converter documentation.</a>
                            </p>
                            <form id="convert-form-{{ neuron.name }}" neuron-name="{{ neuron.name }}" action="/morpho/morpho_format_converter_neuron_neurostr/" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="neuron-name-form" name="neuron_name" value={{ neuron.name }} />
                                <input type="hidden" id="output-format-form" name="output_format" />
                                <span>
                                    <label class="checkbox-inline" class="checkbox-correct"><input type="checkbox" value="" name="correct">Correct</label>
                                </span>
                                <span>
                                   <label class="checkbox-inline" class="checkbox-simplify"><input type="checkbox" value="" name="simplification_algorithm">Simplification algorithm</label>
                                </span>
                                <span>
                                    <button id='convert_format_swc' neuron-name="{{ neuron.name }}" format_convert="swc" class="btn btn-primary convert_format_neuron" >Convert to swc</button>
                                </span>
                                <span>
                                    <button id='convert_format_json' neuron-name="{{ neuron.name }}" format_convert="json" class="btn btn-success convert_format_neuron" >Convert to json</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="section_3DBasalRM" class="section-neuron-overview"></div>
                <div class="item-flex-box panel panel-primary">
                    <div id="" class="panel-heading clickable">
                        <h4 id="" class="">3DBasalRM - Repair basal arborization</h4>
                        <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>
                    <div class="panel-body neuron-overview-panel-body">
                        <div class="container-center-justified">
                            <p>Data-driven repairing model that detects cut-points in the basal arborization
                                and then repairs them using a growth model built from complete three-dimensional
                                neuron reconstructions
                                As result a neuron in JSON format is returned<br>
                                <a href="https://github.com/ComputationalIntelligenceGroup/3DBasalRM/blob/master/vignettes/2.Reparation.Rmd">3DBasalRM documentation.</a>
                            </p>
                            <span>
                            <form id="view_repaired_neuron_form" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                <button id='view_repaired_{{ neuron.name }}' class="btn btn-primary view_repaired_neuron" >View repaired neuron</button>
                            </form>
                                </span>
                            <span>
                            <form id="download_repaired_neuron_form" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                <input type="hidden" name="download_neuron" value="True">
                                <input type="hidden" name="output_format" value="swc">
                                <button id='download_repaired_{{ neuron.name }}_swc' class="btn btn-info active download_repaired_neuron" >Download repaired neuron as swc</button>
                            </form>
                            </span>
                            <span>
                            <form id="download_repaired_neuron_form_json" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                <input type="hidden" name="download_neuron" value="True">
                                <input type="hidden" name="output_format" value="json">
                                <button id='download_repaired_{{ neuron.name }}_json' class="btn btn-success download_repaired_neuron" >Download repaired neuron as json</button>
                            </form>
                            </span>
                        </div>
                    </div>
                </div>





            </div>


        </div>


        </body>

    {% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}

