{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}NeuroSTR format converter | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_format_converter_neurostr.js" %}"></script>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_format_converter_neurostr.js" %}"></script>

        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="neurostr_format_converter" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">NeuroSTR format converter</h2>
            <p>Convert <strong>swc, dat, asc, json</strong> to <strong>swc, json</strong></p>
            <p>If the format select is the same as the actual format, the original file will be retrieved.</p>

            {% if neurons_user %}

                <div id="download_all_converted" class="container-sep-bottom">
                    <h4>Download all:</h4>
                    <form id="convert-form-all" action="/morpho/morpho_all_format_converter_neurostr/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="output-format-all" name="output_format" />
                        <span>
                            <label class="checkbox-inline" class="checkbox-correct"><input type="checkbox" value="" name="correct">Correct</label>
                        </span>
                        <span>
                            <label class="checkbox-inline" class="checkbox-simplify"><input type="checkbox" value="" name="simplification_algorithm">Simplification algorithm</label>
                        </span>
                        <span>
                            <button id='convert_format_swc_all' format_convert="swc" class="btn btn-primary convert_format_all" >Convert all to swc</button>
                        </span>
                        <span>
                            <button id='convert_format_json_all' format_convert="json" class="btn btn-success convert_format_all" >Convert all to json</button>
                        </span>
                    </form>
                </div>
            {% endif %}

            <div class="section-report" id="section-neurostr-format-converter">
                <div class="section-report-content">
                    <h3 class="section-report-title">Convert neurons format</h3>
                    <form id="convert-form-" neuron-name="" action="/morpho/morpho_format_converter_neuron_neurostr/" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="neuron-name-form" name="neuron_name" />
                        <input type="hidden" id="output-format-form" name="output_format" />

                        <table id="table-neurons-format-converter" class="table-with-footer">
                            <thead>
                            <tr>
                                <th>Neuron</th>
                                <th>Correct errors</th>
                                <th>Simplification algorithm</th>
                                <th>Convert to swc</th>
                                <th>Convert to json</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for neuron in neurons_user %}
                                <tr>
                                    <td>{{ neuron.name }}</td>

                                    <td>
                                        <label class="checkbox-inline" class="checkbox-correct"><input type="checkbox" value="" name="correct">Correct</label>
                                    </td>
                                    <td>
                                        <label class="checkbox-inline" class="checkbox-simplify"><input type="checkbox" value="" name="simplification_algorithm">Simplification algorithm</label>
                                    </td>
                                    <td>
                                        <button id='convert_format_swc_{{ neuron.name }}' neuron-name="{{ neuron.name }}" format_convert="swc" class="btn btn-primary convert_format_neuron" >Convert to swc</button>
                                    </td>
                                    <td>
                                        <button id='convert_format_json_{{ neuron.name }}' neuron-name="{{ neuron.name }}" format_convert="json" class="btn btn-success convert_format_neuron" >Convert to json</button>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>

                </div>
            </div>
        </div>
        <hr>



        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
