{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}3DSynapsesSA Analyze spatial distribution of cortical synapses | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <meta name="description" content="This mathematical approach could provide a useful tool for theoretical predictions on the functional
            features of human pyramidal neurons based on the morphology of dendritic spines.
            This tool was trained with human cortical pyramidal neurons.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/shiny_iframes.css" %}" rel="stylesheet" type="text/css" />
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_synapsesSA" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">3DSynapsesSA - Analyze spatial distribution of cortical synapses</h2>
            <br>
            <div class="container-center-limited-50">
                <p>3DSynapsesSA is a tool designed to process and analyze patterns in the three-dimensional spatial <br>
                    distribution of cortical synapses. It brings a variety of both innovative and well-known techniques <br>
                    from the spatial statistics field.
                </p>
                <p>This tool allows you to: <br>
                    <i class="fa fa-square icon-margin-right "></i>Process and visualize data from cortical synapses for error checking<br>
                    <i class="fa fa-square icon-margin-right "></i>Model the spatial distribution of the synapses<br>
                    <i class="fa fa-square icon-margin-right "></i>Replicate, via simulation, samples of cortical synapses<br>
                    <i class="fa fa-square icon-margin-right "></i>Compare several indicators obtained from data of different layers<br>
                </p>
                <p>
                    <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/3DSynapsesSA">3DSynapsesSA repository</a></span>
                    <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSynapsesSA/3DSynapsesSA_users_guide_v1.1.pdf" %}">3DSynapsesSA User's guide</a></span>
                    <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSynapsesSA/3DSynapsesSA_tutorial_v1.1.pptx" %}">3DSynapsesSA Tutorial</a></span>
                </p>
            </div>
            <a type="button" target="_blank" href="{{ url_shiny_app }}" class="btn btn-default button-margin-bottom float-right">Show in full screen</a>

            <iframe id="iframe_full_screen" src="{{ url_shiny_app }}"></iframe>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
