{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}3DBasalRM | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_overview.css" %}" rel="stylesheet" type="text/css" />

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_format_converter_neurostr.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_overview.js" %}"></script>

        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_3DBasalRM" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">3DBasalRM</h2>
            <div class="">
                <p>Data-driven repairing model that detects cut-points in the basal arborization
                    and then repairs them using a growth model built<br> from complete three-dimensional
                    neuron reconstructions.<br>
                    As result a neuron in JSON format is returned</p>

                <p>3DBasalRM was originaly created by Sergio Luengo</p>


                <p><span class="error-color">Warning:</span> This tool was trained with human neurons. Predictions with another species may not be completely accurate or may be not possible.</p>
            </div>
            {% if neurons_user %}
                <div id="download_all_converted" class="container-sep-bottom">
                    <h4>Download all repaired neuron:</h4>
                    <span>
                        <form id="repair-form-all-swc" action="/morpho/morpho_repair_all_neurons_3DBasalRM/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="output_format_all_json_swc" value="swc" name="output_format" />
                            <button id='repair_swc_all' class="btn btn-info active" >Download all repaired neuron as swc</button>
                        </form>
                    </span>
                    <span>
                        <form id="repair-form-all-json" action="/morpho/morpho_repair_all_neurons_3DBasalRM/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="output_format_all_json" value="json" name="output_format" />
                            <button id='repair_json_all' class="btn btn-success" >Download all repaired neuron as json</button>
                        </form>
                    </span>
                </div>
            {% endif %}

            <div class="section-report" id="section-neurostr-format-converter">
                <div class="section-report-content">
                    <h3 class="section-report-title">Repair basal arborization</h3>
                    <table id="table-neurons-3DBasalRM" class="table-with-footer table-neurons-overview">
                        <thead>
                        <tr>
                            <th>Neuron</th>
                            <th>File type</th>
                            {% if neurons_user.0.additional_data %}
                                {% for field in fields_to_display %}
                                    <th>{{ field }}</th>
                                {% endfor %}
                            {% endif %}
                            <th>View repaired neuron</th>
                            <th>Download repaired neuron as swc</th>
                            <th>Download repaired neuron as json</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for neuron in neurons_user %}
                            <tr>
                                <td>{{ neuron.name }}</td>
                                <td>{{ neuron.data_file.extension }}</td>
                                {% for field in fields_to_display %}
                                    {%  for key,value in neuron.additional_data.items %}
                                        {% if key == field %}
                                            {% if key == "png_url" %}
                                                <td class="container-center"><img class="neuron_png_cell_table clickable" src="{{ value }}"></td>
                                            {% else %}
                                                <td>{{ value }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <td>
                                    <form id="view_repaired_neuron_form" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                        <button id='view_repaired_{{ neuron.name }}' class="btn btn-primary view_repaired_neuron" >View repaired neuron</button>
                                    </form>
                                </td>
                                <td>
                                    <form id="download_repaired_neuron_form" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                        <input type="hidden" name="download_neuron" value="True">
                                        <input type="hidden" name="output_format" value="swc">
                                        <button id='download_repaired_{{ neuron.name }}_swc' class="btn btn-info active download_repaired_neuron" >Download repaired neuron as swc</button>
                                    </form>
                                </td>
                                <td>
                                    <form id="download_repaired_neuron_form_json" action="/morpho/morpho_repair_neuron_3DBasalRM" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                        <input type="hidden" name="download_neuron" value="True">
                                        <input type="hidden" name="output_format" value="json">
                                        <button id='download_repaired_{{ neuron.name }}_json' class="btn btn-success download_repaired_neuron" >Download repaired neuron as json</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr>


        <div class="modal fade modal-center" id="neuron_png_modal" tabindex="-1" role="dialog" aria-labelledby="neuron_png_modal" aria-hidden="true">
            <div class="modal-dialog modal-center-dialog" data-dismiss="modal">
                <div class="modal-content"  >
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="neuron_png_full" >
                    </div>
                    <div class="modal-footer">
                        <p class="text_neuron_png_modal"></p>
                    </div>
                </div>
            </div>
        </div>


        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
