{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}NeuroSTR morphometric analyzer | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>

        <!-- Sidebar Holder -->

        {% include "sidebar_morpho_analyzer.html" with li_active="neurostr_morpho_analyzer" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-fluid">
                <h3>NeuroSTR morphometric analyzer:</h3>
            </div>
        </div>


        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
