{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}3DspineS Dendritic spine simulation | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <meta name="description" content="This mathematical approach could provide a useful tool for theoretical predictions on the functional
            features of human pyramidal neurons based on the morphology of dendritic spines.
            This tool was trained with human cortical pyramidal neurons.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_spineSimulation.css" %}" rel="stylesheet" type="text/css" />
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_spineSimulation" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">3DspineS - Dendritic spine simulation</h2>
            <div class="">
                <p>This mathematical approach could provide a useful tool for theoretical predictions on the functional<br>
                    features of human pyramidal neurons based on the morphology of dendritic spines.<br>
                    This tool was trained with human cortical pyramidal neurons.<br>
                    <a href="https://github.com/ComputationalIntelligenceGroup/3DspineS">3DspineS documentation</a>
                </p>
                <p>
                    <i>Luengo-Sanchez, S., Fernaud-Espinosa, I., Bielza, C., Benavides-Piccione, R., Larrañaga, P., & DeFelipe, J. (2018).
                        <br>
                        3D morphology-based clustering and simulation of human pyramidal cell dendritic spines.
                        <br>
                        PLOS Computational Biology, 14(6), e1006221.
                        <a href="https://doi.org/10.1371/journal.pcbi.1006221">https://doi.org/10.1371/journal.pcbi.1006221</a>
                    </i>
                </p>
            </div>

            <iframe id="iframe_spine_simulation" src="{{ url_shiny_app }}"></iframe>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
