{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Download your data | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_download_your_data.js" %}"></script>

        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_download_your_data" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">Download your data</h2>
            <p>Download all your reconstruction files or metadata (additional data).</p>

            {% if exists_neurons_user %}

                <div class="container-sep-bottom">

                    {% if exists_neurons_additional_data %}
                        <form id="download-metadata-form" action="/morpho/morpho_run_download_metadata/" method="post">
                            {% csrf_token %}
                            <p class="p-margin-small">
                                <button id='download-metadata' format_convert="swc" class="btn btn-success" >Download metadata files</button>
                            </p>
                        </form>
                        <form id="convert-form-all" action="/morpho/morpho_download_all_original_swc_neuromorpho/" method="post">
                            {% csrf_token %}
                            <p class="p-margin-small">
                                <button id='download-swc-original' format_convert="swc" class="btn btn-default" >Download original NeuroMorpho SWC files</button>
                            </p>
                        </form>
                        <form id="convert-form-all" action="/morpho/morpho_all_format_converter_neurostr/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="output-format-all" value="swc" name="output_format" />
                            <input type="hidden" id="from_download_tab" value="True" name="from_download_tab" />
                            <p class="p-margin-small">
                                <button id='download-swc' format_convert="swc" class="btn btn-primary" >Download converted NeuroSuites SWC files</button>
                            </p>
                        </form>
                        <!--
                        <form id="download-all-data-form" action="/morpho/morpho_download_your_data/" method="post">
                            {% csrf_token %}
                            <p class="p-margin-small">
                                <button id='download-all-data' format_convert="swc" class="btn btn-success" >Download SWC and metadata files</button>
                            </p>
                        </form>
                        -->
                    {% else %}
                        <form id="convert-form-all" action="/morpho/morpho_all_format_converter_neurostr/" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="output-format-all" value="swc" name="output_format" />
                            <input type="hidden" id="from_download_tab" value="True" name="from_download_tab" />
                            <p class="p-margin-small">
                                <button id='download-swc' format_convert="swc" class="btn btn-success" >Download SWC files</button>
                            </p>
                        </form>
                    {% endif %}


                </div>

            {% endif %}
        </div>
        <hr>



        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
