<div class="stats-section">
    <div class="section-report-content">

        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#section-descriptive" aria-controls="section-descriptive" data-toggle="tab" role ="tab">Descriptive statistics </a>
                </li>
                <li role="presentation">
                    <a href="#section-inferential" aria-controls="section-inferential" data-toggle="tab" role ="tab">Inferential statistics </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="section-descriptive">

                <h3 class="section-report-title">Descriptive statistics for categorical data</h3>
                <p class="container-center">
                    <span class="fa fa-edit icon-margin-right"></span>To edit the charts or export the charts with custom size, click on the <span class="fa fa-save icon-margin-right"></span>("Edit in chart studio") button in the chart.
                    <br>
                    <span class="fa fa-share icon-margin-right"></span>To export as CSV, and share the charts, follow these instructions: <a href="https://help.plot.ly/save-share-and-export-in-plotly/">https://help.plot.ly/save-share-and-export-in-plotly/</a>
                    <br>
                    <span class="fa fa-copy icon-margin-right"></span>To copy a scatter point value, just click on it. The value will be automatically copied to your clipboard.
                </p>

                <hr class="hr-bold">

                 <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#section-univariate" aria-controls="section-descriptive" data-toggle="tab" role ="tab">Univariate statistics </a>
                        </li>
                        <li role="presentation">
                            <a href="#section-bivariate" aria-controls="section-inferential" data-toggle="tab" role ="tab">Bivariate statistics </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="section-univariate">

                        <div id="univariate-discr-stats container-center">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">show_chart</i>
                                    Univariate statistics
                                </h4>
                                <p><span class="fa fa-bar-chart icon-margin-right"></span>Bar charts, Pie charts<!--, PMF (Probability mass function) -->
                                    <br>
                                    <span class="fa fa-table icon-margin-right"></span>Descriptive statistics (frequencies, proportions)
                                </p>
                            </div>
                            <div class="div-select-features container-center">
                                <div id="all-select-field-multi-univariate-discr" class="hide-element select-deselect-buttons">
                                    <button type="button" select-field="select-field-multi-univariate-discr" class="btn btn-default select-all-button">Select all</button>
                                    <button type="button" select-field="select-field-multi-univariate-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                </div>
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-multi-univariate-discr" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-multi-univariate-discr" class="hide-element selectize-half-multi-value"  placeholder="Select one or more features...">
                                </select>
                            </div>

                            <div class="container-center">
                                <button type="button" id="generate-plots-multi-univariate-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                <button type="button" id="generate-stats-multi-univariate-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                            </div>
                            <div id="waiting-plots-multi-univariate-discr" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                            </div>
                            <div id="waiting-multi-univariate-discr-stats" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                            </div>
                            <div id="multi-univariate-discr-stats" class="container-center">

                            </div>

                            <div id="multi-univariate-discr-plots" class="container-center">

                            </div>
                        </div>

                        <hr class="hr-bold">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="section-bivariate">

                        <div id="bivariate-discr-stats container-center">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">compare_arrows</i>
                                    Bivariate statistics
                                </h4>
                                <p>
                                    <span class="fa fa-bar-chart icon-margin-right"></span>Stacked bar charts, grouped bar charts
                                </p>
                            </div>
                            <div class="div-select-features container-center">
                                <div id="all-select-field-bivariate-discr" class="hide-element select-deselect-buttons">
                                    <button type="button" select-field="select-field-bivariate-discr" class="btn btn-default select-all-button">Select all</button>
                                    <button type="button" select-field="select-field-bivariate-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                </div>
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-bivariate-discr" max-items="2" type="button">Click here to select two features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-bivariate-discr" class="hide-element selectize-half-multi-value"  placeholder="Select two features...">
                                </select>
                            </div>
                            <div class="container-center">
                                <button id="generate-plots-bivariate-discr" type="button" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                            </div>
                            <div id="waiting-plots-bivariate-discr" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                            </div>
                            <div id="bivariate-discr-plots" class="container-center">

                            </div>
                        </div>

                        <hr class="hr-bold">

                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="section-inferential">

                <div class="section-report-content">
                    <h3 class="section-report-title">Inferential statistics</h3>
                    <p class="container-center">
                        <span class="fa fa-edit icon-margin-right"></span>To edit the charts or export the charts with custom size, click on the <span class="fa fa-save icon-margin-right"></span>("Edit in chart studio") button in the chart.
                        <br>
                        <span class="fa fa-share icon-margin-right"></span>To export as CSV, and share the charts, follow these instructions: <a href="https://help.plot.ly/save-share-and-export-in-plotly/">https://help.plot.ly/save-share-and-export-in-plotly/</a>
                        <br>
                        <span class="fa fa-copy icon-margin-right"></span>To copy a scatter point value, just click on it. The value will be automatically copied to your clipboard.
                    </p>

                    <hr class="hr-bold">

                    <div id="inferential-stats container-center">
                        <div class="heading-section-statistics container-center">
                            <h4>
                                <span class="fa fa-arrows-h icon-fa-medium"></span>
                                Point estimate and confidence interval estimate
                            </h4>
                            <p>
                                To estimate population parameters (proportion)
                                <br>
                                <span class="fa fa-bar-chart icon-margin-right"></span>Confidence intervals estimates
                                <br>
                                <span class="fa fa-table icon-margin-right"></span>Point estimates, confidence intervals estimates
                            </p>
                        </div>

                        <div id="point-interval-estimates-distr">
                            <div class="div-select-features container-center">
                                <h4><span class="label label-info">Parameters</span></h4>

                                <button class="btn btn-default load-selectize-features" select-elem="select-field-point-interval-estimates-discr" max-items="1"  type="button">Click here to select one feature...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-point-interval-estimates-discr" class="hide-element select-field-to-load-values selectize-small" placeholder="Select one feature..."
                                        choose_value_elem="choose-value-point-interval-estimates-discr"
                                        selectize_value_elem="selectize-value-point-interval-estimates-discr"
                                        waiting_div_elem="waiting-values-point-interval-estimates-discr" analysis_run_elem="point-interval-estimates-discr-run">
                                </select>
                                <br>
                                <br>

                                <div id="choose-value-point-interval-estimates-discr" class="hide-element">
                                    <div id="waiting-values-point-interval-estimates-discr" class="container-center hide-element">
                                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                    </div>

                                    <div class="select-deselect-buttons">
                                        <button type="button" select-field="selectize-value-point-interval-estimates-discr" class="btn btn-default select-all-button">Select all</button>
                                        <button type="button" select-field="selectize-value-point-interval-estimates-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                    </div>

                                    <select id="selectize-value-point-interval-estimates-discr" class="selectize-half-multi-value" placeholder="Select one or more values...">
                                    </select>
                                </div>

                                <label>Confidence level:
                                    <input id="point-estimates-discr-confidence-level" type="number" min="0" max="99" value="95" /> %
                                </label>
                            </div>
                            <div id="point-interval-estimates-discr-run" class="hide-element">
                                <div class="container-center">
                                    <button type="button" id="generate-plots-point-interval-estimates-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                    <button type="button" id="generate-stats-point-interval-estimates-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                </div>
                                <div id="waiting-plots-point-interval-estimates-discr" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                </div>
                                <div id="waiting-stats-point-interval-estimates-discr" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                </div>
                                <div id="point-interval-estimates-discr-stats" class="container-center">

                                </div>

                                <div id="point-interval-estimates-discr-plots" class="container-center">

                                </div>
                            </div>
                        </div>

                        <hr class="hr-bold">


                        <div id="hypothesis-testing container-center" class="last-section-page">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <span class="fa fa-balance-scale"></span>
                                    Hypothesis testing
                                </h4>
                                <p><span class="fa fa-bar-chart icon-margin-right"></span>PDFs comparing the hypothesis distributions
                                    <br>
                                    <span class="fa fa-table icon-margin-right"></span>Hypothesis testing results (p-values)
                                </p>
                            </div>

                            <hr />

                            <div class="types-hypothesis-tests container-center">

                                <div id="compare-sample-mean-vs-population-discr" class="section-type-hypothesis-test">
                                    <h4>Compare population proportion mean vs hypothesis population proportion mean (from one sample proportion mean)</h4>
                                    <div id="hypothesis-one-sample-parameters">
                                        <h4><span class="label label-default">Null hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            Population proportion mean <span id="select-type-null-hypothesis-one-sample">=</span> Sample proportion mean
                                        </p>
                                        <label>Population proportion mean:
                                            <input id="hypothesis-population-mean" type="number" value="0" min="0" max="1" step="0.001" />
                                        </label>

                                        <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            Population proportion mean
                                            <span>
                                                <select id="select-type-hypothesis-one-sample-discr" class="selectize-hypothesis-type">
                                                    <option value="different">!=</option>
                                                    <option value="greater">></option>
                                                    <option value="lesser"><</option>
                                                </select>
                                                </span>
                                            Sample proportion mean
                                        </p>

                                        <div class="div-select-features container-center">
                                            <h4><span class="label label-info">Parameters</span></h4>

                                            <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-one-sample-discr" max-items="1" type="button">Click here to select one feature...<span class="caret icon-load-selectize"></span></button>
                                            <select id="select-field-hypothesis-one-sample-discr" class="hide-element select-field-to-load-values selectize-small"  placeholder="Select one feature..."
                                                    choose_value_elem="choose-value-hypothesis-one-sample-discr"
                                                    selectize_value_elem="selectize-value-hypothesis-one-sample-discr"
                                                    waiting_div_elem="waiting-values-hypothesis-one-sample-discr" analysis_run_elem="hypothesis-one-sample-discr-run">
                                            </select>
                                            <br>
                                            <br>

                                            <div id="choose-value-hypothesis-one-sample-discr" class="hide-element">
                                                <div id="waiting-values-hypothesis-one-sample-discr" class="container-center hide-element">
                                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                                </div>

                                                <div class="select-deselect-buttons">
                                                    <button type="button" select-field="selectize-value-hypothesis-one-sample-discr" class="btn btn-default select-all-button">Select all</button>
                                                    <button type="button" select-field="selectize-value-hypothesis-one-sample-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                                </div>

                                                <select id="selectize-value-hypothesis-one-sample-discr" class="selectize-half-multi-value" placeholder="Select one or more values...">
                                                </select>
                                            </div>

                                            <label>Significance level:
                                                <input id="hypothesis-one-sample-discr-significance-level" type="number" min="0" max="99" value="5" /> %
                                            </label>

                                        </div>
                                        <div id="hypothesis-one-sample-discr-run" class="hide-element">
                                            <div class="container-center">
                                                <button type="button" id="generate-plots-hypothesis-one-sample-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                                <button type="button" id="generate-stats-hypothesis-one-sample-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                            </div>
                                            <div id="waiting-plots-hypothesis-one-sample-discr" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                            </div>
                                            <div id="waiting-stats-hypothesis-one-sample-discr" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                            </div>
                                            <div id="hypothesis-one-sample-discr-stats" class="container-center">

                                            </div>

                                            <div id="hypothesis-one-sample-discr-plots" class="container-center">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <div id="compare-sample-means-discr" class="section-type-hypothesis-test">
                                    <h4>Compare two independent population proportion means from samples proportion means</h4>
                                    <div id="hypothesis-two-independent-samples-discr-select-subgroups" class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-right">
                                            <h4 class="underline">Sample 1:</h4>
                                            {% include "display_modal_filter_subgroup.html" with fields_by_categories=fields_by_categories subgroup_id=1 %}

                                            <div class="sample-1-unselected">
                                                <p class="p-no-margin">
                                                    <button id="half-first-sample-mean" type="button" class="btn btn-default">Take the half of your neurons set</button>
                                                </p>
                                                <p class="p-no-margin">or</p>
                                                <p class="p-no-margin">
                                                    <button id="filter-first-sample-mean" type="button" class="btn btn-default filter-sample-mean" subgroup-id=1 >Filter</button>
                                                </p>
                                                <div id="waiting-select-sample-1-independent" class="container-center hide-element">
                                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                                                </div>
                                            </div>

                                            <div class="sample-1-selected hide-element">
                                                <div id="sample-1-filter-selected" class="hide-element">
                                                    {% include "display_summary_filters.html" with subgroup_id=1 %}
                                                </div>

                                                <div id="sample-1-half-selected" class="hide-element">
                                                    <p class="p-no-margin">Half of the neurons set taken</p>
                                                </div>
                                                <p><strong id="sample-1-number-neurons-new-sample"></strong></p>
                                                <p class="p-no-margin">
                                                    <button id="sample-1-remove" type="button" class="btn btn-danger">Remove sample taken</button>
                                                </p>
                                            </div>

                                            <div id="sample-1-selected-error" class="hide-element">
                                                <p>
                                                    <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                                                    <span class="error-color"><strong>Error:</strong></span>
                                                    <span class="error-color" id="sample-1-error-message"></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <h4 class="underline">Sample 2:</h4>
                                            {% include "display_modal_filter_subgroup.html" with fields_by_categories=fields_by_categories subgroup_id=2 %}

                                            <div class="sample-1-unselected">
                                                <p><span class="fa fa-clock-o icon-margin-right"></span>Select sample 1 first</p>
                                            </div>

                                            <div id="hypothesis-two-independent-samples-discr-select-second" class="hide-element sample-2-unselected sample-1-selected">

                                                <p class="p-no-margin">
                                                    <button id="others-second-sample-mean" type="button" class="btn btn-default">Take all the other neurons</button>
                                                </p>
                                                <p class="p-no-margin">or</p>
                                                <p class="p-no-margin">
                                                    <button id="filter-second-sample-mean" type="button" class="btn btn-default filter-sample-mean" subgroup-id=2 >Filter</button>
                                                </p>
                                                <div id="waiting-select-sample-2-independent" class="container-center hide-element">
                                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                                                </div>

                                            </div>

                                            <div class="sample-2-selected hide-element">
                                                <div id="sample-2-filter-selected" class="hide-element">
                                                    {% include "display_summary_filters.html" with subgroup_id=2 %}
                                                </div>

                                                <div id="sample-2-other-values" class="hide-element">
                                                    <p class="p-no-margin">All the other instances taken</p>
                                                </div>
                                                <p><strong id="sample-2-number-neurons-new-sample"></strong></p>
                                                <p class="p-no-margin">
                                                    <button id="sample-2-remove" type="button" class="btn btn-danger">Remove sample taken</button>
                                                </p>
                                            </div>

                                            <div id="sample-2-selected-error" class="hide-element">
                                                <p>
                                                    <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                                                    <span class="error-color"><strong>Error:</strong></span>
                                                    <span class="error-color" id="sample-2-error-message"></span>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="hypothesis-two-independent-samples-discr-parameters">
                                        <h4><span class="label label-default">Null hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            Sample 1 population proportion mean <span class="select-type-null-hypothesis-two-independent-samples-discr">=</span> Sample 2 population proportion mean
                                            =>  Sample 1 population proportion mean - Sample 2 population proportion mean
                                            <span class="select-type-null-hypothesis-two-independent-samples-discr">=</span> 0
                                        </p>

                                        <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            Sample 1 population proportion mean
                                            <span>
                                                <select id="select-type-hypothesis-two-independent-samples-discr" class="selectize-hypothesis-type">
                                                    <option value="different" value-string="!=">!=</option>
                                                    <option value="greater" value-string=">">></option>
                                                    <option value="lesser" value-string="<"><</option>
                                                </select>
                                            </span>
                                            Sample 2 population proportion mean

                                            =>  Sample 1 population proportion mean - Sample 2 population proportion mean
                                            <strong id="select-type-hypothesis-two-independent-samples-discr-text">!=</strong>
                                            0
                                        </p>


                                    </div>

                                    <div class="div-select-features container-center">
                                        <h4><span class="label label-info">Parameters</span></h4>

                                        <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-two-independent-samples-discr" max-items="1" type="button">Click here to select one feature...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-field-hypothesis-two-independent-samples-discr" class="hide-element select-field-to-load-values selectize-small"  placeholder="Select one feature..."
                                                choose_value_elem="choose-value-hypothesis-two-independent-samples-discr"
                                                selectize_value_elem="selectize-value-hypothesis-two-independent-samples-discr"
                                                waiting_div_elem="waiting-values-hypothesis-two-independent-samples-discr" analysis_run_elem="hypothesis-two-independent-samples-discr-run">
                                        </select>
                                        <br>
                                        <br>

                                        <div id="choose-value-hypothesis-two-independent-samples-discr" class="hide-element">
                                            <div id="waiting-values-hypothesis-two-independent-samples-discr" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                            </div>

                                            <div class="select-deselect-buttons">
                                                <button type="button" select-field="selectize-value-hypothesis-two-independent-samples-discr" class="btn btn-default select-all-button">Select all</button>
                                                <button type="button" select-field="selectize-value-hypothesis-two-independent-samples-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                            </div>

                                            <select id="selectize-value-hypothesis-two-independent-samples-discr" class="selectize-half-multi-value" placeholder="Select one or more values...">

                                            </select>
                                        </div>

                                        <label>Significance level:
                                            <input id="hypothesis-two-independent-samples-discr-significance-level" type="number" min="0" max="99" value="5" /> %
                                        </label>

                                    </div>

                                    <h4><span class="label label-success">Results</span></h4>

                                    <div id="hypothesis-two-independent-samples-discr-run" class="hypothesis-results hide-element">
                                        <div class="container-center sample-2-selected">
                                            <button type="button" id="generate-plots-hypothesis-two-independent-samples-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-two-independent-samples-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>
                                        <div id="waiting-plots-hypothesis-two-independent-samples-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                        </div>
                                        <div id="waiting-stats-hypothesis-two-independent-samples-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                        </div>
                                        <div id="hypothesis-two-independent-samples-discr-stats" class="container-center">

                                        </div>

                                        <div id="hypothesis-two-independent-samples-discr-plots" class="container-center">

                                        </div>
                                    </div>
                                </div>

                                </hr>

                                <div id="compare-sample-dependent-means-discr" class="section-type-hypothesis-test">
                                    <h4>Compare two dependent population proportion means from samples proportion means</h4>
                                    <p>This type of test is only possible with binary features (<a href="https://en.wikipedia.org/wiki/McNemar%27s_test" target="_blank">McNemar's test</a>).</p>
                                    <!--
                                    <div id="hypothesis-dependent-samples-discr-parameters">
                                        <h4><span class="label label-default">Null hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            1st feature population proportion mean <span class="select-type-null-hypothesis-dependent-samples-discr">=</span> 2nd feature population proportion mean
                                            =>  1st feature population proportion mean - 2nd feature population proportion mean
                                            <span class="select-type-null-hypothesis-dependent-samples-discr">=</span> 0
                                        </p>

                                        <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                        <p class="p-no-margin">
                                            1st feature population proportion mean
                                            <span>
                                                <select id="select-type-hypothesis-dependent-samples-discr" class="selectize-hypothesis-type">
                                                    <option value="different" value-string="!=">!=</option>
                                                    <option value="greater" value-string=">">></option>
                                                    <option value="lesser" value-string="<"><</option>
                                                </select>
                                            </span>
                                            2nd feature population proportion mean

                                            =>  1st feature population proportion mean - 2nd feature population proportion mean
                                            <strong id="select-type-hypothesis-dependent-samples-discr-text">!=</strong>
                                            0
                                        </p>
                                    </div>

                                    <div class="div-select-features container-center">
                                        <h4><span class="label label-info">Parameters</span></h4>

                                        <div id="hypothesis-dependent-samples-discr-select-subgroups" class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-right">
                                                <select id="select-field-hypothesis-dependent-samples-1-discr" choose_value_elem="choose-value-hypothesis-dependent-samples-1-discr"
                                                        selectize_value_elem="selectize-value-hypothesis-dependent-samples-1-discr" class="selectize-single-value select-field-to-load-values"
                                                        waiting_div_elem="waiting-values-hypothesis-dependent-samples-1-discr" analysis_run_elem="hypothesis-dependent-samples-discr-run" placeholder="Select one feature...">
                                                    {% for field in discrete_fields %}
                                                                            {%  if field not in columns_not_stats %}
                                                        <option value="{{ field }}">{{ field }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                                <div id="choose-value-hypothesis-dependent-samples-1-discr" class="hide-element">
                                                    <div id="waiting-values-hypothesis-dependent-samples-1-discr" class="container-center hide-element">
                                                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                                    </div>

                                                    <div class="select-deselect-buttons">
                                                        <button type="button" select-field="selectize-value-hypothesis-dependent-samples-1-discr" class="btn btn-default select-all-button">Select all</button>
                                                        <button type="button" select-field="selectize-value-hypothesis-dependent-samples-1-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                                    </div>

                                                    <select id="selectize-value-hypothesis-dependent-samples-1-discr" class="selectize-half-multi-value" placeholder="Select one or more values...">

                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-right">
                                                <select id="select-field-hypothesis-dependent-samples-2-discr" choose_value_elem="choose-value-hypothesis-dependent-samples-2-discr"
                                                        selectize_value_elem="selectize-value-hypothesis-dependent-samples-2-discr" class="selectize-single-value select-field-to-load-values"
                                                        waiting_div_elem="waiting-values-hypothesis-dependent-samples-2-discr" analysis_run_elem="hypothesis-dependent-samples-discr-run" placeholder="Select one feature...">
                                                    {% for field in discrete_fields %}
                                                        {%  if field not in columns_not_stats %}
                                                            <option value="{{ field }}">{{ field }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <div id="choose-value-hypothesis-dependent-samples-2-discr" class="hide-element">
                                                    <div id="waiting-values-hypothesis-dependent-samples-2-discr" class="container-center hide-element">
                                                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading values</strong></p>
                                                    </div>

                                                    <div class="select-deselect-buttons">
                                                        <button type="button" select-field="selectize-value-hypothesis-dependent-samples-2-discr" class="btn btn-default select-all-button">Select all</button>
                                                        <button type="button" select-field="selectize-value-hypothesis-dependent-samples-2-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                                    </div>

                                                    <select id="selectize-value-hypothesis-dependent-samples-2-discr" class="selectize-half-multi-value" placeholder="Select one or more values...">

                                                    </select>

                                                </div>
                                            </div>
                                        </div>


                                        <label>Significance level:
                                            <input id="hypothesis-dependent-samples-discr-significance-level" type="number" min="0" max="99" value="5" /> %
                                        </label>
                                    </div>

                                    <h4><span class="label label-success">Results</span></h4>

                                    <div id="hypothesis-dependent-samples-discr-run" class="hypothesis-results hide-element">
                                        <div class="container-center sample-2-selected">
                                            <button type="button" id="generate-plots-hypothesis-dependent-samples-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-dependent-samples-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>
                                        <div id="waiting-plots-hypothesis-dependent-samples-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                        </div>
                                        <div id="waiting-stats-hypothesis-dependent-samples-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                        </div>
                                        <div id="hypothesis-dependent-samples-discr-stats" class="container-center">

                                        </div>

                                        <div id="hypothesis-dependent-samples-discr-plots" class="container-center">

                                        </div>
                                    </div>
                                    -->
                                </div>

                                </hr>


                                <div id="check-distribution-discr" class="section-type-hypothesis-test">
                                    <h4>Check the distribution of the data</h4>

                                    <p><span class="fa fa-bar-chart icon-margin-right"></span>PDFs plot, CDFs plot, Q-Q plot, P-P plot
                                        <br>
                                        <span class="fa fa-table icon-margin-right"></span>p-values (Chi square)
                                    </p>

                                    <div id="hypothesis-distribution-type-discr" class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <div id="hypothesis-check-distribution-find">
                                                <div class="checkbox">
                                                    <p>
                                                        <label>
                                                            <input id="checkbox-find-distribution-discr" type="checkbox"
                                                                   value="">Find automatically the fittest distribution
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-left">
                                            <div id="hypothesis-check-distribution-hypothesis-discr">
                                                <h4><span class="label label-default">Null hypothesis</span></h4>
                                                <p class="p-no-margin">
                                                    Data follows a
                                                    <span>
                                                    <select id="select-distribution-hypothesis-distribution-discr" class="selectize-single-value-small">
                                                        <option value="bernoulli">Bernoulli</option>
                                                        <option value="binom">Binomial</option>
                                                        <option value="unif">Uniform</option>
                                                        <option value="geom">Geometric</option>
                                                        <option value="nbinom">Negative Binomial</option>
                                                        <option value="pois">Poisson</option>
                                                    </select>
                                                </span>
                                                    distribution
                                                </p>

                                                <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                                <p class="p-no-margin">
                                                    Data does <strong>not</strong> follow a <strong><span id="hypothesis-distribution-discr-selected">Binomial</span></strong> distribution
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <h4><span class="label label-info">Parameters</span></h4>
                                    <div class="div-select-features container-center">
                                        <div id="all-select-field-hypothesis-distribution-discr" class="hide-element select-deselect-buttons">
                                            <button type="button" select-field="select-field-hypothesis-distribution-discr" class="btn btn-default select-all-button">Select all</button>
                                            <button type="button" select-field="select-field-hypothesis-distribution-discr" class="btn btn-default deselect-all-button">Deselect all</button>
                                        </div>

                                        <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-distribution-discr" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-field-hypothesis-distribution-discr" class="hide-element selectize-half-multi-value"  placeholder="Select one or more features...">
                                        </select>

                                    </div>
                                    <label>Significance level:
                                        <input id="hypothesis-distribution-discr-significance-level" type="number" min="0" max="99" step="0.01" value="5" disabled /> %
                                    </label>

                                    <div class="container-center">
                                        <!--
                                        <button type="button" id="generate-plots-hypothesis-distribution-discr" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                        -->
                                        <button type="button" id="generate-stats-hypothesis-distribution-discr" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                    </div>

                                    <div id="hypothesis-distribution-discr-results" class="hypothesis-results">
                                        <h4><span class="label label-success">Results</span></h4>
                                        <div id="waiting-plots-hypothesis-distribution-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                        </div>
                                        <div id="waiting-stats-hypothesis-distribution-discr" class="container-center hide-element">
                                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                        </div>
                                        <div id="hypothesis-distribution-discr-stats" class="container-center">

                                        </div>

                                        <div id="hypothesis-distribution-discr-plots" class="container-center">

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

    </div>



</div>

<div id="modal-stats-field" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><span id="stats-title-field"></span> stats</h3>
            </div>
            <div class="modal-body-margins">

                <div class="">

                    <div id="univariate-stats-plots-modal" class="container-center">
                        <div class="panel panel-primary">
                            <div class="panel-heading clickable">
                                <h4 id="" class="">Univariate statistics</h4>
                                <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="panel-body neuron-overview-panel-body">
                                <div id="waiting-stats-modal" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                </div>
                                <div id="waiting-plot-modal" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots</strong></p>
                                </div>
                                <div id="univariate-stats-modal">

                                </div>
                                <div id="univariate-plots-modal">

                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>For multivariate statistics, go to the section below (Descriptive statistics)</h4>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


