{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}3DSomaMS Delimit the neuronal soma | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <meta name="description" content="This software provides a mathematical definition and an automatic segmentation method to delimit the neuronal soma.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/shiny_iframes.css" %}" rel="stylesheet" type="text/css" />
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_somaMS" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">3DSomaMS - Delimit the neuronal soma</h2>
            <br>
            <div class="container-center-limited-50">
                <p>The definition of the soma is fuzzy, as there is no clear line demarcating the soma of the labeled <br>
                    neurons and the origin of the dendrites and axon. Thus, the morphometric analysis of the neuronal <br>
                    soma is highly subjective.
                </p>

                <p>This software provides a mathematical definition and an automatic segmentation method to delimit the <br>
                    neuronal soma. We applied this method to the characterization of pyramidal cells, which are the most <br>
                    abundant neurons in the cerebral cortex. Thus, this software is a means of characterizing pyramidal <br>
                    neurons in order to objectively compare the morphometry of the somata of these neurons in different <br>
                    cortical areas and species.
                </p>
                <p>
                    <i>Luengo-Sanchez, S., Bielza, C., Benavides-Piccione, R., Fernaud-Espinosa, I., DeFelipe, J., & Larrañaga, P. (2015).
                        <br>
                        A univocal definition of the neuronal soma morphology using Gaussian mixture models.
                        <br>
                        Frontiers in Neuroanatomy, 9, 137.
                        <a href="https://doi.org/10.3389/fnana.2015.00137">https://doi.org/10.3389/fnana.2015.00137</a>
                    </i>
                </p>
                <p>
                    <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/3DSomaMS">3DSomaMS repository</a></span>
                    <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSomaMS/3DSomaMS_User_Guide.pdf" %}">3DSomaMS User's guide</a></span>
                    <span class="link-box-rounded"><a target="_blank" href="{%  static "neurosuite/docs/3DSomaMS/3DSomaMS_tutorial_v1.0.pptx" %}">3DSomaMS Tutorial</a></span>
                </p>
            </div>
            <a type="button" target="_blank" href="{{ url_shiny_app }}" class="btn btn-default button-margin-bottom float-right">Show in full screen</a>

            <iframe id="iframe_full_screen" src="{{ url_shiny_app }}"></iframe>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
