{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles value_from_index %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=0.7">
            <title>{% block title %}GabaClassifier | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "jquery_json_viewer/jquery_json_viewer.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_gabaclassifier.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/download_report_backend.js" %}"></script>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_gaba_classifier" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 style="text-align:center;">GabaClassifier</h2>
            <br>
            <p>Classifies the given interneuron morphology into one of the 7 possible classes.<br><br>
                The model has been trained with layer L2/3 to layer L6 interneurons and thus only
                interneurons from those layers are allowed as input.
                <br>
                <a href="https://github.com/ComputationalIntelligenceGroup/gabaclassifier">GabaClassifier documentation.</a>
            </p>

            <div class="section-report" id="section-gabaclassifier-datatable">

                <div class="section-report-content">
                    <h3 class="section-report-title">Interneuron classes</h3>
                    <table id="table-results-gabaclassifier" class="table-with-footer table-with-booleans table-with-nones">
                        <thead>
                        <tr>
                            {% for field in neurons_columns %}
                                <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for neuron in neurons_list %}
                            <tr id={{ neuron.0}}>
                                {% for value in neuron %}

                                    {% if neurons_columns|value_from_index:forloop.counter0 == "Image"%}
                                        <td><img class="neuron_png_cell_table neuron_png_thumbnail clickable" src=" {{ value }}"></td>
                                    {% elif neurons_columns|value_from_index:forloop.counter0 == "Test errors" %}
                                        <td>
                                            {% for test in value %}
                                                {% if test.result %}
                                                    <p class="hide-element">Pass:</p><span class="glyphicon glyphicon-ok"></span>
                                                {% else %}
                                                    <p class="hide-element">Fail:</p><span class="glyphicon glyphicon-remove"></span>
                                                {% endif%}

                                                {{ test.description }}

                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% else %}
                                        <td>{{ value | safe }}</td>
                                    {% endif %}

                                {% endfor %}
                                <td>
                                    <form action="/morpho/morpho_neuron_overview" target="_blank" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron.1 }}>
                                        <button type="submit" id='overview_{{ neuron.1 }}' class="btn btn-primary overvew" >Analyze</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <h4>Possible classes: </h4>
            <p>(Click <a href="https://doi.org/10.1038/nrn1519">here</a> to learn more about the interneuron classes)</p>
            <table class="table-scroll-y">
                <thead>
                <tr>
                    <th>Short name</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for short_name,name in possible_interneuron_classes.items %}
                    <tr>
                        <td>{{ short_name }}</td>
                        <td>{{ name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                <h3 class="error-color">WORK IN PROGRESS:</h3>
                <h4>Statistical visualization and summary (multiple plots)</h4>
                <h5>Statistics of univariate data</h5>
                <h5>Statistics of bivariate and multivariate data</h5>
            </div>


            <div>


            </div>

        </div>



        <div class="modal fade modal-center" id="neuron_png_modal" tabindex="-1" role="dialog" aria-labelledby="neuron_png_modal" aria-hidden="true">
            <div class="modal-dialog modal-center-dialog" data-dismiss="modal">
                <div class="modal-content"  >
                    <div class="modal-body container-center">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="neuron_png_full" >
                    </div>
                    <div class="modal-footer">
                        <p class="text_neuron_png_modal"></p>
                    </div>
                </div>
            </div>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}
