<div class="stats-section">
    <div class="section-report-content">

        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#section-descriptive" aria-controls="section-descriptive" data-toggle="tab" role ="tab">Descriptive statistics </a>
                </li>
                <li role="presentation">
                    <a href="#section-inferential" aria-controls="section-inferential" data-toggle="tab" role ="tab">Inferential statistics </a>
                </li>
            </ul>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="section-descriptive">

                <h3 class="section-report-title">Descriptive statistics</h3>
                <p class="container-center">
                    <span class="fa fa-edit icon-margin-right"></span>To edit the charts or export the charts with custom size, click on the <span class="fa fa-save icon-margin-right"></span>("Edit in chart studio") button in the chart.
                    <br>
                    <span class="fa fa-share icon-margin-right"></span>To export as CSV, and share the charts, follow these instructions: <a href="https://help.plot.ly/save-share-and-export-in-plotly/">https://help.plot.ly/save-share-and-export-in-plotly/</a>
                    <br>
                    <span class="fa fa-copy icon-margin-right"></span>To copy a scatter point value, just click on it. The value will be automatically copied to your clipboard.
                </p>

                <hr class="hr-bold">

                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#section-univariate" aria-controls="section-descriptive" data-toggle="tab" role ="tab">Univariate statistics </a>
                        </li>
                        <li role="presentation">
                            <a href="#section-bivariate" aria-controls="section-inferential" data-toggle="tab" role ="tab">Bivariate statistics </a>
                        </li>
                        <li role="presentation">
                            <a href="#section-trivariate" aria-controls="section-trivariate" data-toggle="tab" role ="tab">Trivariate statistics </a>
                        </li>
                        <li role="presentation">
                            <a href="#section-multivariate" aria-controls="section-multivariate" data-toggle="tab" role ="tab">Multivariate statistics </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="section-univariate">

                        <div id="univariate-stats container-center">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">show_chart</i>
                                    Univariate statistics
                                </h4>
                                <p><span class="fa fa-bar-chart icon-margin-right"></span>Histograms, Probability density functions (PDF), Box plots, Scatter plots
                                    <br>
                                    <span class="fa fa-table icon-margin-right"></span>Descriptive statistics (mean, variance, etc)
                                </p>
                            </div>
                            <div class="div-select-features container-center">
                                <div id="all-select-field-multi-univariate" class="hide-element select-deselect-buttons">
                                    <button type="button" select-field="select-field-multi-univariate" class="btn btn-default select-all-button">Select all</button>
                                    <button type="button" select-field="select-field-multi-univariate" class="btn btn-default deselect-all-button">Deselect all</button>
                                </div>
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-multi-univariate" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-multi-univariate" class="hide-element selectize-half-multi-value"  placeholder="Select one or more features...">
                                </select>
                                {% if data_have_discrete_fields %}
                                    <div class="select-label-plots container-sep-top-small">
                                        <p class="p-no-margin">(Optional) Text of scatter points: </p>
                                        <button class="btn btn-default load-selectize-discrete-features" select-elem="select-label-multi-univariate" type="button">Select one label...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-label-multi-univariate" class="hide-element selectize-small" placeholder="Select one label...">
                                        </select>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="container-center">
                                <button type="button" id="generate-plots-multi-univariate" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                <button type="button" id="generate-stats-multi-univariate" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                            </div>
                            <div id="waiting-plot-multi-univariate" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                            </div>
                            <div id="waiting-multi-univariate-stats" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                            </div>
                            <div id="multi-univariate-stats" class="container-center">

                            </div>

                            <div id="multi-univariate-plots" class="container-center">

                            </div>
                        </div>

                        <hr class="hr-bold">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="section-bivariate">
                        <div id="bivariate-stats container-center">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">compare_arrows</i>
                                    Bivariate statistics
                                </h4>
                                <p>
                                    <span class="fa fa-bar-chart icon-margin-right"></span>Correlation matrices (Pearson, Kendall, Spearman), Scatter plots matrix, 2D Histogram contours
                                    <br>
                                    <span class="fa fa-table icon-margin-right"></span>Correlation matrices (Pearson, Kendall, Spearman) in tabular form (to download in CSV)
                                </p>
                            </div>
                            <div class="div-select-features container-center">
                                <div id="all-select-field-bivariate" class="hide-element select-deselect-buttons">
                                    <button type="button" select-field="select-field-bivariate" class="btn btn-default select-all-button">Select all</button>
                                    <button type="button" select-field="select-field-bivariate" class="btn btn-default deselect-all-button">Deselect all</button>
                                </div>
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-bivariate" max-items="0" type="button">Click here to select two or more features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-bivariate" class="hide-element selectize-half-multi-value" placeholder="Select two or more features...">
                                </select>
                                {% if data_have_discrete_fields %}
                                    <div class="select-label-plots container-sep-top-small">
                                        <p class="p-no-margin">(Optional) Color of scatter points: </p>
                                        <button class="btn btn-default load-selectize-discrete-features" select-elem="select-label-bivariate" type="button">Select one label...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-label-bivariate" class="hide-element selectize-small" placeholder="Select one label...">
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="container-center">
                                <button id="generate-plots-bivariate" type="button" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                <button type="button" id="generate-stats-bivariate" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                            </div>
                            <div id="waiting-plot-bivariate" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                            </div>
                            <div id="waiting-stats-bivariate" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                            </div>
                            <div id="bivariate-stats" class="container-center">

                            </div>
                            <div id="bivariate-plots" class="container-center">

                            </div>
                        </div>

                        <hr class="hr-bold">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="section-trivariate">

                        <div id="trivariate-stats container-center">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">bubble_chart</i>
                                    Trivariate statistics
                                </h4>
                                <p><span class="fa fa-bar-chart icon-margin-right"></span>Scatter bubble plot, 3D Scatter plot</p>
                            </div>
                            <div class="div-select-features container-center">
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-trivariate" max-items="3" type="button">Click here to select three features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-trivariate" class="hide-element selectize-half-multi-value" placeholder="Select three features...">
                                </select>
                                {% if data_have_discrete_fields %}
                                    <div class="select-label-plots container-sep-top-small">
                                        <p class="p-no-margin">(Optional) Color of scatter points: </p>
                                        <button class="btn btn-default load-selectize-discrete-features" select-elem="select-label-trivariate" type="button">Select one label...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-label-trivariate" class="hide-element selectize-small" placeholder="Select one label...">
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="container-center">
                                <button id="generate-plots-trivariate" type="button" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                <div id="waiting-plot-trivariate" class="hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots</strong></p>
                                </div>
                            </div>
                            <div id="trivariate-plots" class="container-center">

                            </div>
                        </div>

                        <hr class="hr-bold">

                    </div>

                    <div role="tabpanel" class="tab-pane" id="section-multivariate">

                        <div id="multivariate-stats">
                            <div class="heading-section-statistics container-center">
                                <h4>
                                    <i class="material-icons center-google-icon heading-statistics-icon">grain</i>
                                    Multivariate statistics
                                </h4>
                                <p><span class="fa fa-bar-chart icon-margin-right"></span>Probability density functions (PDF), Parallel coordinates plots, RadViz, Chernoff faces, Radar charts, Scatter bubble plot, 3D Scatter plot</p>
                            </div>
                            <div class="div-select-features container-center">
                                <div id="all-select-field-multivariate" class="hide-element select-deselect-buttons">
                                    <button type="button" select-field="select-field-multivariate" class="btn btn-default select-all-button">Select all</button>
                                    <button type="button" select-field="select-field-multivariate" class="btn btn-default deselect-all-button">Deselect all</button>
                                </div>
                                <button class="btn btn-default load-selectize-features" select-elem="select-field-multivariate" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                <select id="select-field-multivariate" class="hide-element selectize-half-multi-value"   placeholder="Select one or more features...">
                                </select>
                                {% if data_have_discrete_fields %}
                                    <div class="select-label-plots container-sep-top-small">
                                        <p class="p-no-margin">(Optional) Color/symbol of scatter points: </p>
                                        <button class="btn btn-default load-selectize-discrete-features" select-elem="select-label-multivariate" type="button">Select one label...<span class="caret icon-load-selectize"></span></button>
                                        <select id="select-label-multivariate" class="hide-element selectize-small" placeholder="Select one label...">
                                        </select>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="container-center">
                                <button id="generate-plots-multivariate" type="button" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                <div id="waiting-plot-multivariate" class="hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots</strong></p>
                                </div>
                            </div>
                            <div id="multivariate-plots" class="container-center">

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div role="tabpanel" class="tab-pane" id="section-inferential">
                <div class="section-report-content">
                    <h3 class="section-report-title">Inferential statistics</h3>
                    <p class="container-center">
                        <span class="fa fa-edit icon-margin-right"></span>To edit the charts or export the charts with custom size, click on the <span class="fa fa-save icon-margin-right"></span>("Edit in chart studio") button in the chart.
                        <br>
                        <span class="fa fa-share icon-margin-right"></span>To export as CSV, and share the charts, follow these instructions: <a href="https://help.plot.ly/save-share-and-export-in-plotly/">https://help.plot.ly/save-share-and-export-in-plotly/</a>
                        <br>
                        <span class="fa fa-copy icon-margin-right"></span>To copy a scatter point value, just click on it. The value will be automatically copied to your clipboard.
                    </p>

                    <hr class="hr-bold">

                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#section-point" aria-controls="section-point" data-toggle="tab" role ="tab">Point estimates and confidence interval estimates </a>
                            </li>
                            <li role="presentation">
                                <a href="#section-hypothesis" aria-controls="section-hypothesis" data-toggle="tab" role ="tab">Hypothesis testing</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="section-point">

                            <div id="inferential-stats container-center">
                                <div class="heading-section-statistics container-center">
                                    <h4>
                                        <span class="fa fa-arrows-h icon-fa-medium"></span>
                                        Point estimates and confidence interval estimates
                                    </h4>
                                    <p>
                                        To estimate population parameters (mean, variance, standard deviation)
                                        <br>
                                        <span class="fa fa-bar-chart icon-margin-right"></span>Confidence intervals estimates
                                        <br>
                                        <span class="fa fa-table icon-margin-right"></span>Point estimates, confidence intervals estimates
                                    </p>
                                </div>
                                <div class="div-select-features container-center">
                                    <div id="all-select-field-point-interval-estimates" class="hide-element select-deselect-buttons">
                                        <button type="button" select-field="select-field-point-interval-estimates" class="btn btn-default select-all-button">Select all</button>
                                        <button type="button" select-field="select-field-point-interval-estimates" class="btn btn-default deselect-all-button">Deselect all</button>
                                    </div>

                                    <button class="btn btn-default load-selectize-features" select-elem="select-field-point-interval-estimates" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                    <select id="select-field-point-interval-estimates" class="hide-element selectize-half-multi-value" placeholder="Select one or more features...">
                                    </select>
                                    <br>
                                    <br>

                                    <label>Confidence level:
                                        <input id="point-estimates-confidence-level" type="number" min="0" max="99" value="95" /> %
                                    </label>

                                </div>
                                <div class="container-center">
                                    <button type="button" id="generate-plots-point-interval-estimates" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                    <button type="button" id="generate-stats-point-interval-estimates" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                </div>
                                <div id="waiting-plots-point-interval-estimates" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                </div>
                                <div id="waiting-stats-point-interval-estimates" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                </div>
                                <div id="point-interval-estimates-stats" class="container-center">

                                </div>

                                <div id="point-interval-estimates-plots" class="container-center">

                                </div>
                            </div>

                            <hr class="hr-bold">
                        </div>

                        <div role="tabpanel" class="tab-pane" id="section-hypothesis">

                            <div id="hypothesis-testing container-center" class="last-section-page">
                                <div class="heading-section-statistics container-center">
                                    <h4>
                                        <span class="fa fa-balance-scale"></span>
                                        Hypothesis testing
                                    </h4>
                                    <p><span class="fa fa-bar-chart icon-margin-right"></span>PDFs comparing the hypothesis distributions
                                        <br>
                                        <span class="fa fa-table icon-margin-right"></span>Hypothesis testing results (p-values)
                                    </p>
                                </div>

                                <hr />

                                <div class="types-hypothesis-tests container-center">

                                    <div id="compare-sample-mean-vs-population" class="section-type-hypothesis-test">
                                        <h4>Compare population mean vs hypothesis population mean (from one sample mean)</h4>
                                        <div id="hypothesis-one-sample-parameters">
                                            <h4><span class="label label-default">Null hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                Population mean <span id="select-type-null-hypothesis-one-sample">=</span> Sample mean
                                            </p>
                                            <label>Population mean:
                                                <input id="hypothesis-population-mean" type="number" value="0" step="0.001" />
                                            </label>

                                            <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                Population mean
                                                <span>
                                                        <select id="select-type-hypothesis-one-sample" class="selectize-hypothesis-type">
                                                            <option value="different">!=</option>
                                                            <option value="greater">></option>
                                                            <option value="lesser"><</option>
                                                        </select>
                                                        </span>
                                                Sample mean
                                            </p>

                                            <h4><span class="label label-info">Parameters</span></h4>
                                            <div class="div-select-features container-center">
                                                <div id="all-select-field-hypothesis-one-sample" class="hide-element select-deselect-buttons">
                                                    <button type="button" select-field="select-field-hypothesis-one-sample" class="btn btn-default select-all-button">Select all</button>
                                                    <button type="button" select-field="select-field-hypothesis-one-sample" class="btn btn-default deselect-all-button">Deselect all</button>
                                                </div>

                                                <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-one-sample" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                                <select id="select-field-hypothesis-one-sample" class="hide-element selectize-half-multi-value" placeholder="Select one or more features...">
                                                </select>
                                            </div>
                                            <label>Significance level:
                                                <input id="hypothesis-one-sample-significance-level" type="number" min="0" max="99" value="5" /> %
                                            </label>

                                        </div>

                                        <div class="container-center container-sep-top">
                                            <button type="button" id="generate-plots-hypothesis-one-sample" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-one-sample" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>

                                        <div id="hypothesis-one-sample-results" class="hypothesis-results">

                                            <h4><span class="label label-success">Results</span></h4>

                                            <div id="waiting-plot-hypothesis-one-sample" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                            </div>
                                            <div id="waiting-stats-hypothesis-one-sample" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                            </div>
                                            <div id="hypothesis-one-sample-stats" class="container-center">

                                            </div>

                                            <div id="hypothesis-one-sample-plots" class="container-center">

                                            </div>

                                        </div>
                                    </div>

                                    <hr />

                                    <div id="compare-sample-means" class="section-type-hypothesis-test">
                                        <h4>Compare two independent population means from samples means</h4>
                                        <div id="hypothesis-two-independent-samples-select-subgroups" class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-right">
                                                <h4 class="underline">Sample 1:</h4>
                                                {% include "display_modal_filter_subgroup.html" with fields_by_categories=fields_by_categories subgroup_id=1 %}

                                                <div class="sample-1-unselected">
                                                    <p class="p-no-margin">
                                                        <button id="half-first-sample-mean" type="button" class="btn btn-default">Take the half of your neurons set</button>
                                                    </p>
                                                    <p class="p-no-margin">or</p>
                                                    <p class="p-no-margin">
                                                        <button id="filter-first-sample-mean" type="button" class="btn btn-default filter-sample-mean" subgroup-id=1 >Filter</button>
                                                    </p>
                                                    <div id="waiting-select-sample-1-independent" class="container-center hide-element">
                                                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                                                    </div>
                                                </div>

                                                <div class="sample-1-selected hide-element">
                                                    <div id="sample-1-filter-selected" class="hide-element">
                                                        {% include "display_summary_filters.html" with subgroup_id=1 %}
                                                    </div>

                                                    <div id="sample-1-half-selected" class="hide-element">
                                                        <p class="p-no-margin">Half of the neurons set taken</p>
                                                    </div>
                                                    <p><strong id="sample-1-number-neurons-new-sample"></strong></p>
                                                    <p class="p-no-margin">
                                                        <button id="sample-1-remove" type="button" class="btn btn-danger">Remove sample taken</button>
                                                    </p>
                                                </div>

                                                <div id="sample-1-selected-error" class="hide-element">
                                                    <p>
                                                        <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                                                        <span class="error-color"><strong>Error:</strong></span>
                                                        <span class="error-color" id="sample-1-error-message"></span>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <h4 class="underline">Sample 2:</h4>
                                                {% include "display_modal_filter_subgroup.html" with fields_by_categories=fields_by_categories subgroup_id=2 %}

                                                <div class="sample-1-unselected">
                                                    <p><span class="fa fa-clock-o icon-margin-right"></span>Select sample 1 first</p>
                                                </div>

                                                <div id="hypothesis-two-independent-samples-select-second" class="hide-element sample-2-unselected sample-1-selected">

                                                    <p class="p-no-margin">
                                                        <button id="others-second-sample-mean" type="button" class="btn btn-default">Take all the other neurons</button>
                                                    </p>
                                                    <p class="p-no-margin">or</p>
                                                    <p class="p-no-margin">
                                                        <button id="filter-second-sample-mean" type="button" class="btn btn-default filter-sample-mean" subgroup-id=2 >Filter</button>
                                                    </p>
                                                    <div id="waiting-select-sample-2-independent" class="container-center hide-element">
                                                        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                                                    </div>

                                                </div>

                                                <div class="sample-2-selected hide-element">
                                                    <div id="sample-2-filter-selected" class="hide-element">
                                                        {% include "display_summary_filters.html" with subgroup_id=2 %}
                                                    </div>

                                                    <div id="sample-2-other-values" class="hide-element">
                                                        <p class="p-no-margin">All the other instances taken</p>
                                                    </div>
                                                    <p><strong id="sample-2-number-neurons-new-sample"></strong></p>
                                                    <p class="p-no-margin">
                                                        <button id="sample-2-remove" type="button" class="btn btn-danger">Remove sample taken</button>
                                                    </p>
                                                </div>

                                                <div id="sample-2-selected-error" class="hide-element">
                                                    <p>
                                                        <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                                                        <span class="error-color"><strong>Error:</strong></span>
                                                        <span class="error-color" id="sample-2-error-message"></span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div id="hypothesis-two-independent-samples-parameters">
                                            <h4><span class="label label-default">Null hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                Sample 1 population mean <span class="select-type-null-hypothesis-two-independent-samples">=</span> Sample 2 population mean
                                                =>  Sample 1 population mean - Sample 2 population mean
                                                <span class="select-type-null-hypothesis-two-independent-samples">=</span> 0
                                            </p>

                                            <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                Sample 1 population mean
                                                <span>
                                                        <select id="select-type-hypothesis-two-independent-samples" class="selectize-hypothesis-type">
                                                            <option value="different" value-string="!=">!=</option>
                                                            <option value="greater" value-string=">">></option>
                                                            <option value="lesser" value-string="<"><</option>
                                                        </select>
                                                    </span>
                                                Sample 2 population mean

                                                =>  Sample 1 population mean - Sample 2 population mean
                                                <strong id="select-type-hypothesis-two-independent-samples-text">!=</strong>
                                                0
                                            </p>

                                            <h4><span class="label label-info">Parameters</span></h4>
                                            <div class="div-select-features container-center">
                                                <div id="all-select-field-hypothesis-two-independent-samples" class="hide-element select-deselect-buttons">
                                                    <button type="button" select-field="select-field-hypothesis-two-independent-samples" class="btn btn-default select-all-button">Select all</button>
                                                    <button type="button" select-field="select-field-hypothesis-two-independent-samples" class="btn btn-default deselect-all-button">Deselect all</button>
                                                </div>

                                                <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-two-independent-samples" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                                <select id="select-field-hypothesis-two-independent-samples" class="hide-element selectize-half-multi-value" placeholder="Select one or more features...">
                                                </select>
                                            </div>
                                            <label>Significance level:
                                                <input id="hypothesis-two-independent-samples-significance-level" type="number" min="0" max="99" value="5" /> %
                                            </label>

                                        </div>

                                        <div class="container-center sample-2-selected hide-element">
                                            <button type="button" id="generate-plots-hypothesis-two-independent-samples" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-two-independent-samples" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>

                                        <div id="hypothesis-two-independent-samples-results" class="hypothesis-results">
                                            <h4><span class="label label-success">Results</span></h4>
                                            <div id="waiting-plot-hypothesis-two-independent-samples" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                            </div>
                                            <div id="waiting-stats-hypothesis-two-independent-samples" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                            </div>
                                            <div id="hypothesis-two-independent-samples-stats" class="container-center">

                                            </div>

                                            <div id="hypothesis-two-independent-samples-plots" class="container-center">

                                            </div>
                                        </div>
                                    </div>

                                    </hr>

                                    <div id="compare-sample-dependent-means" class="section-type-hypothesis-test">
                                        <h4>Compare two dependent population means from samples means</h4>
                                        <div id="hypothesis-dependent-samples-parameters">
                                            <h4><span class="label label-default">Null hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                1st feature population mean <span class="select-type-null-hypothesis-dependent-samples">=</span> 2nd feature population mean
                                                =>  1st feature population mean - 2nd feature population mean
                                                <span class="select-type-null-hypothesis-dependent-samples">=</span> 0
                                            </p>

                                            <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                            <p class="p-no-margin">
                                                1st feature population mean
                                                <span>
                                                        <select id="select-type-hypothesis-dependent-samples" class="selectize-hypothesis-type">
                                                            <option value="different" value-string="!=">!=</option>
                                                            <option value="greater" value-string=">">></option>
                                                            <option value="lesser" value-string="<"><</option>
                                                        </select>
                                                    </span>
                                                2nd feature population mean

                                                =>  1st feature population mean - 2nd feature population mean
                                                <strong id="select-type-hypothesis-dependent-samples-text">!=</strong>
                                                0
                                            </p>

                                            <h4><span class="label label-info">Parameters</span></h4>
                                            <div class="div-select-features container-center">
                                                <div id="all-select-field-hypothesis-dependent-samples" class="hide-element select-deselect-buttons">
                                                    <button type="button" select-field="select-field-hypothesis-dependent-samples" class="btn btn-default select-all-button">Select all</button>
                                                    <button type="button" select-field="select-field-hypothesis-dependent-samples" class="btn btn-default deselect-all-button">Deselect all</button>
                                                </div>

                                                <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-dependent-samples" max-items="2" type="button">Click here to select two features...<span class="caret icon-load-selectize"></span></button>
                                                <select id="select-field-hypothesis-dependent-samples" class="hide-element selectize-half-multi-value" placeholder="Select two features...">
                                                </select>
                                            </div>
                                            <label>Significance level:
                                                <input id="hypothesis-dependent-samples-significance-level" type="number" min="0" max="99" value="5" /> %
                                            </label>

                                        </div>

                                        <div class="container-center">
                                            <button type="button" id="generate-plots-hypothesis-dependent-samples" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-dependent-samples" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>

                                        <div id="hypothesis-dependent-samples-results" class="hypothesis-results">
                                            <h4><span class="label label-success">Results</span></h4>
                                            <div id="waiting-plots-hypothesis-dependent-samples" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                            </div>
                                            <div id="waiting-stats-hypothesis-dependent-samples" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                            </div>
                                            <div id="hypothesis-dependent-samples-stats" class="container-center">

                                            </div>

                                            <div id="hypothesis-dependent-samples-plots" class="container-center">

                                            </div>
                                        </div>
                                    </div>

                                    </hr>

                                    <div id="check-distribution" class="section-type-hypothesis-test">
                                        <h4>Check the distribution of the data</h4>

                                        <p><span class="fa fa-bar-chart icon-margin-right"></span>PDFs plot, CDFs plot, Q-Q plot, P-P plot
                                            <br>
                                            <span class="fa fa-table icon-margin-right"></span>AIC, p-values
                                        </p>

                                        <div id="hypothesis-distribution-type" class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <div id="hypothesis-check-distribution-find">
                                                    <div class="checkbox">
                                                        <p>
                                                            <label>
                                                                <input id="checkbox-find-distribution" type="checkbox"
                                                                       value="">Find automatically the fittest distribution
                                                            </label>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-border-left">
                                                <div id="hypothesis-check-distribution-hypothesis">
                                                    <h4><span class="label label-default">Null hypothesis</span></h4>
                                                    <p class="p-no-margin">
                                                        Data follows a                             <span>
                                                        <select id="select-distribution-hypothesis-distribution" class="selectize-single-value-small">
                                                            <option value="beta" >Beta</option>
                                                            <option value="cauchy">Cauchy</option>
                                                            <option value="chi2">Chi2</option>
                                                            <option value="expon">Exponential</option>
                                                            <option value="exponweib">Exponentiated Weibull</option>
                                                            <option value="gamma">Gamma</option>
                                                            <option value="logistic">Logistic</option>
                                                            <option value="lognorm">Lognormal</option>
                                                            <option value="maxwell">Maxwell</option>
                                                            <option value="norm">Normal (Gaussian)</option>
                                                            <option value="pareto">Pareto</option>
                                                            <option value="f">Snedecor's F</option>
                                                            <option value="t">Student’s T</option>
                                                            <option value="uniform">Uniform</option>
                                                            <option value="vonmises">Von Mises</option>
                                                        </select>
                                                    </span>
                                                        distribution
                                                    </p>

                                                    <h4><span class="label label-primary">Alternative hypothesis</span></h4>
                                                    <p class="p-no-margin">
                                                        Data does <strong>not</strong> follow a <strong><span id="hypothesis-distribution-selected">Normal (Gaussian)</span></strong> distribution
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4><span class="label label-info">Parameters</span></h4>
                                        <div class="div-select-features container-center">
                                            <div id="all-select-field-hypothesis-distribution" class="hide-element select-deselect-buttons">
                                                <button type="button" select-field="select-field-hypothesis-distribution" class="btn btn-default select-all-button">Select all</button>
                                                <button type="button" select-field="select-field-hypothesis-distribution" class="btn btn-default deselect-all-button">Deselect all</button>
                                            </div>

                                            <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-distribution" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
                                            <select id="select-field-hypothesis-distribution" class="hide-element selectize-half-multi-value" placeholder="Select one or more features...">
                                            </select>
                                        </div>
                                        <label>Significance level:
                                            <input id="hypothesis-distribution-significance-level" type="number" min="0" max="99" step="0.01" value="5" /> %
                                        </label>

                                        <div class="container-center">
                                            <button type="button" id="generate-plots-hypothesis-distribution" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
                                            <button type="button" id="generate-stats-hypothesis-distribution" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
                                        </div>

                                        <div id="hypothesis-distribution-results" class="hypothesis-results">
                                            <h4><span class="label label-success">Results</span></h4>
                                            <div id="waiting-plots-hypothesis-distribution" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
                                            </div>
                                            <div id="waiting-stats-hypothesis-distribution" class="container-center hide-element">
                                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                            </div>
                                            <div id="hypothesis-distribution-stats" class="container-center">
                                            </div>

                                            <div id="hypothesis-distribution-plots" class="container-center">

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--

        <hr />

        <div id="compare-multiple-means" class="container-center section-type-hypothesis-test" >
            <h4>Compare multiple sample means (ANOVA)</h4>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
                </div>
            </div>
        </div>

    -->

</div>

<div class="div-select-features container-center hide-element">
    <div id="all-select-field-hypothesis-testing" class="hide-element select-deselect-buttons">
        <button type="button" select-field="select-field-inference-fit-distributions" class="btn btn-default select-all-button">Select all</button>
        <button type="button" select-field="select-field-inference-fit-distributions" class="btn btn-default deselect-all-button">Deselect all</button>
    </div>

    <button class="btn btn-default load-selectize-features" select-elem="select-field-hypothesis-testing" max-items="0" type="button">Click here to select one or more features...<span class="caret icon-load-selectize"></span></button>
    <select id="select-field-hypothesis-testing" class="hide-element selectize-half-multi-value" placeholder="Select one or more features...">
    </select>

    <label>Significance level:
        <input id="point-estimates-confidence-level" type="number" min="0" max="99" value="5" /> %
    </label>
</div>

<div class="div-generate-buttons-hypothesis container-center hide-element">
    <div class="container-center">
        <button type="button" id="generate-plots-hypothesis-testing" class="btn btn-default generate-plots-button"><span class="fa fa-bar-chart icon-margin-right"></span>Generate plots</button>
        <button type="button" id="generate-stats-hypothesis-testing" class="btn btn-default generate-tabular-stats-button"><span class="fa fa-table icon-margin-right"></span>Generate tabular stats</button>
    </div>
    <div id="waiting-plot-hypothesis-testing" class="container-center hide-element">
        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots <span class="fa fa-arrow-down icon-margin-right"></span></strong></p>
    </div>
    <div id="waiting-stats-hypothesis-testing" class="container-center hide-element">
        <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
    </div>
    <div id="hypothesis-testing-stats" class="container-center">

    </div>

    <div id="hypothesis-testing-plots" class="container-center">

    </div>
</div>


<div id="modal-stats-field" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><span id="stats-title-field"></span> stats</h3>
            </div>
            <div class="modal-body-margins">

                <div class="">

                    <div id="univariate-stats-plots-modal" class="container-center">
                        <div class="panel panel-primary">
                            <div class="panel-heading clickable">
                                <h4 id="" class="">Univariate statistics</h4>
                                <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="panel-body neuron-overview-panel-body">
                                <div id="waiting-stats-modal" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading tabular stats</strong></p>
                                </div>
                                <div id="waiting-plot-modal" class="container-center hide-element">
                                    <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading plots</strong></p>
                                </div>
                                <div id="univariate-stats-modal">

                                </div>
                                <div id="univariate-plots-modal">

                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>For multivariate statistics, go to the section below (Descriptive statistics)</h4>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

