{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Neuroviewer | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_neuron3D_neuroviewer.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <title>Neuroviewer 3D</title>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="neuroviewer" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 style="text-align:center;">Neuroviewer</h2>
            <p>
                3D Neuron reconstruction visualization package<br>
                <a href="https://github.com/lrodriguezlujan/neuroviewer">NeuroViewer repository</a>
            </p>

            <h3>{{ neuron.name }}</h3>
            {% include "display_neuron_neuroviewer.html" with neuron=neuron %}
        </div>


        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
