{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}3DBasalRM view repaired neuron | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_neuron3D_neuroviewer.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_view_repaired_3DBasalRM.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <title>Morpho view repaired 3DBasalRM</title>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="li_3DBasalRM" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 style="text-align:center;">Repaired neuron - 3DBasalRM</h2>
            <p>Data-driven repairing model that detects cut-points in the basal arborization
                and then repairs them using a growth model built from complete three-dimensional
                neuron reconstructions<br>
                <a href="https://github.com/ComputationalIntelligenceGroup/3DBasalRM/blob/master/vignettes/2.Reparation.Rmd">3DBasalRM documentation.</a>
            </p>

            <p><span class="error-color">Warning:</span> This tool was trained with human neurons. Predictions with another species may not be completely accurate.</p>
            <p><strong>Tip:</strong>Use the arrow keys if you want to move both reconstructions at the same time</p>

            {% if download_error %}
                <h4 class="success-color">There are no cut-points in this neuron so it doesn't need to be repaired.</h4>
            {%  else %}
                <div class="horizontal-two-neuroviewers">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <h3>Original neuron:</h3>
                            <h4>{{ neuron_original.name }}</h4>
                            {% include "display_neuron_neuroviewer.html" with neuron=neuron_original %}
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            {%  if error %}
                                <h3>Repaired neuron:</h3>
                                <h4 class="success-color">There are no cut-points in this neuron so it doesn't need to be repaired.</h4>
                            {% else %}
                                <div id="neuroviewer_right_side" class="container">
                                    <h3>Repaired neuron:</h3>
                                    <h4>{{ neuron_repaired.name }}</h4>
                                    {% include "display_neuron_neuroviewer.html" with neuron=neuron_repaired %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>


        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
