{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Neurons list overview | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_overview.css" %}" rel="stylesheet" type="text/css" />


            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_overview.js" %}"></script>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="overview" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}



        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 style="text-align:center;">Overview</h2>
            <h3>Neurons selected:</h3>

            <div id="loading-overview-data" class="container-center">
                <img class="neuromorpho_loading_logo_standalone" src="{%  static "neurosuite/img/neuroSuite_loading_logo.gif" %}" alt="Loading..." />
                <br>
                <span><strong>Loading... Be patient.</strong></span>
            </div>
            <table id="table-neurons-overview" class="not-to-auto-datatable table-with-footer table-neurons-overview">

            </table>

        </div>


        <div class="modal fade modal-center" id="neuron_png_modal" tabindex="-1" role="dialog" aria-labelledby="neuron_png_modal" aria-hidden="true">
            <div class="modal-dialog modal-center-dialog" data-dismiss="modal">
                <div class="modal-content"  >
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="neuron_png_full" >
                    </div>
                    <div class="modal-footer">
                        <p class="text_neuron_png_modal"></p>
                    </div>
                </div>
            </div>
        </div>


        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}

