{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Dendrite arborization simulation - Generate synthetic dendrite arborization | Morphometric analyzer - NeuroSuites{% endblock title %}</title>
            <meta name="description" content="It enables synthetic neurons file generation via user interface">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/hbp_dendrite_arborization_simulation.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/morpho_analyzer/hbp_dendrite_arborization_simulation.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
        </head>

        <body>
        {% include "sidebar_morpho_analyzer.html" with li_active="li_hbp_dendrite_arborization_simulation" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />

        <!-- Page Content Holder -->
        <div class="column-content">

            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <div class="container-center">
                <h2>Dendrite arborization simulation</h2>

                <div id="tool-description">
                    <p class="p-no-margin">Generation of synthetic neurons with soma and dendrites.</p>
                    <img id="img-dendrite-arborization-demo-small" src="{%  static "neurosuite/img/hbp-dendrite-arborization-simulation-demo3D.png" %}" />
                </div>

                <p>
                    <span class="link-box-rounded"><a target="_blank" href="https://github.com/ComputationalIntelligenceGroup/hbp-dendrite-arborization-simulation">Dendrite arborization simulation repository</a></span>
                </p>
            </div>

            <hr class="hr-bold">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 container-center">
                        <h3 class="section-report-title h-margin-bottom">Step 1: Generate new neurons</h3>
                        <div class="form-group">
                            <label for="input_number_simulated_neurons">Number of simulated neurons:</label>
                            <div>
                                <input type="number" min="1" max="100" value="1" name="input_number_simulated_neurons" id="input_number_simulated_neurons">
                            </div>
                        </div>
                        <p class="p-margin-small"><span class="fa fa-warning warning-icon-orange icon-margin-right"></span>If you have previously selected a set of neurons, this will overwrite it.</p>
                        <button id="simulate-neurons-button" type="button" class="btn btn-primary"><span class="fa fa-code-fork icon-margin-right"></span>Simulate neurons</button>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 container-center column-arrow-next">
                        <span class="fa fa-arrow-right arrow-next-step"></span>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 container-center">
                        <h3 class="section-report-title h-margin-bottom">Step 2: Get results</h3>
                        <div id="results-done" class="hide-element">
                            <a type="button" href="/morpho/morpho_format_converter_neurostr" class="btn btn-default margin-medium"><span class="fa fa-download icon-margin-right"></span>Download simulated neurons</a>
                            <a type="button" href="/morpho/morpho_overview" class="btn btn-default margin-medium"><span><img class="neurosuites_logo_small icon-margin-right" src="{%  static "neurosuite/img/neuroSuite_logo.png" %}" /></span></span>Overview the neurons in NeuroSuites</a>
                        </div>

                        <div id="results-waiting">
                            <p><span class="fa fa-clock-o icon-margin-right"></span>Complete step 1 first</p>
                        </div>

                        <div id="results-waiting-response" class="hide-element">
                            <p><span class="fa fa-spinner fa-spin icon-margin-right"></span>Simulating neurons</p>
                        </div>

                        <div id="results-error" class="hide-element">
                            <p id="text-error" class="error-color"></p>
                        </div>

                    </div>

                </div>

            </div>


            <hr class="hr-bold">

            <div class="container-center">
                <h3 class="section-report-title h-margin-bottom">Models information</h3>
                <p>The models are <strong>Gaussian Bayesian Networks</strong> trained with
                    <a href="http://www.bnlearn.com/">bnlearn.</a><br>
                    The training database was made up of 80 <strong>pyramidal cortex human neurons</strong>
                    and the features were extracted using <a href="http://cng.gmu.edu:8080/Lm/">L-Measure</a>.
                </p>
                <p>The following Bayesian Networks were obtained by training the models (the desc_ variables are the ones
                    learned by the model):<br>
                    (Click on the images to enlarge them)
                </p>


                <div class="container">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-center">
                            <div class="item-flex-box panel panel-primary">
                                <div class="panel-heading">
                                    <h4 id="" class="">Bayesian Network model to decide whether to bifurcate</h4>
                                </div>
                                <div class="panel-body">
                                    <a href="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_decide_to_bifurcate.png" %}">
                                        <img src="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_decide_to_bifurcate.png" %}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-center">
                            <div class="item-flex-box panel panel-primary">
                                <div class="panel-heading ">
                                    <h4 id="" class="">Bayesian Network model for the first bifurcation</h4>
                                </div>
                                <div class="panel-body">
                                    <a href="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_first_bifurcation.png" %}">
                                        <img src="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_first_bifurcation.png" %}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-center">
                            <div class="item-flex-box panel panel-primary">
                                <div class="panel-heading ">
                                    <h4 id="" class="">Bayesian Network model when the branch continues</h4>
                                </div>
                                <div class="panel-body">
                                    <a href="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_simulate_continue_branch.png" %}">
                                        <img src="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_simulate_continue_branch.png" %}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 container-center">
                            <div class="item-flex-box panel panel-primary">
                                <div class="panel-heading ">
                                    <h4 id="" class="">Bayesian Network model when the branch bifurcates</h4>
                                </div>
                                <div class="panel-body">
                                    <a href="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_simulate_bifurcate_branch.png" %}">
                                        <img src="{%  static "neurosuite/docs/hbp-dendrite-arborization-simulation/bayesian_network_model_simulate_bifurcate_branch.png" %}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
