{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Neurons list overview| Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <title>Neurostr validate</title>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="neurostr_validator" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 style="text-align:center;">Neurostr validator</h2>
            <h3>{{ neuron_name }}</h3>

            <p><a href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#validator">NeuroSTR validator documentation.</a></p>

            <div class="section-report" id="section-neurostr-check-indiv">
                <div class="section-report-content">
                    <h3 class="section-report-title">Neuron checks</h3>
                    {% include "display_neuron_neurostr_validator.html" with neurostr_validator_output=neurostr_validator_output %}
                </div>
            </div>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
