{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width,initial-scale=0.7">
            <title>{% block title %}L-Measure | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_stats.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/morpho_l_measure.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/plots/global_plots.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.7/bootstrap-notify.min.js"></script>
            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/download_report_backend.js" %}"></script>
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <script src="{%  static "neurosuite/js/utils/notify_messages.js" %}"></script>
            <script src="{%  static "neurosuite/js/selectize_utils.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_l_measure.js" %}"></script>
            <script src="{%  static "neurosuite/js/utils/miscellaneous.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_stats.js" %}"></script>

            <!--Filter samples---->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.js"></script>


            <script src="{%  static "neurosuite/js/select_neurons/filter_session_neurons.js" %}"></script>
            <!-- Panel collapse must be after the .js of this html -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.3.0/Hyphenator.min.js"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

            <link href="{%  static "neurosuite/css/morpho_analyzer/select_neuromorpho_neurons.css" %}" rel="stylesheet" type="text/css" />
            <!--End Filter samples---->

        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="l_measure" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <input type="hidden" value="{{csrf_token}}" id="csrf_token">

        <input type="hidden" value="{{dataset_name}}" id="dataset_name">
        <input type="hidden" value="{{data_type}}" id="data-type">
        <input type="hidden" value="{{label_column_id}}" id="label_column_id">
        <input type="hidden" value="{{label_instances}}" id="label_instances">

        <!-- Page Content Holder -->
        <div class="column-content">
            <h2 class="container-center">L-Measure</h2>
            <br>
            <p>This tool allows researchers to extract quantitative morphological measurements from neuronal reconstructions<br>
                <a target="_blank" href="http://cng.gmu.edu:8080/Lm/help/index.htm">L-Measure documentation.</a>
            </p>

            {% if data_have_discrete_fields %}
                <p>
                    <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                    If neurons are from NeuroMorpho.org, it is also recommended to double check the measurements
                    shown here by viewing the "data continuous" section.
                </p>
            {% endif %}


            <div class="section-report" id="section-l-measure-datatable">
                <div class="section-report-content">
                    <h3 class="section-report-title">Neurons measures</h3>

                    <table id="table-results-l-measure" class="table-with-footer container-center table-with-stats">
                        <thead>
                        <tr>
                            {% for field in features_columns %}
                                <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for neuron_measure in features_data %}
                            <tr id={{ neuron_measure.0}}>
                                {% for value in neuron_measure %}
                                    <td>{{ value | safe }}</td>
                                {% endfor %}
                                <td>
                                    <form action="/morpho/morpho_neuron_overview" target="_blank" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron_measure.0 }}>
                                        <button type="submit" id='overview_{{ neuron_measure.0 }}' class="btn btn-primary overvew" >Analyze</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            {% for field in features_columns %}
                                {%  if field not in columns_not_stats %}
                                    <th class="container-center"><button id="stats-{{ field }}" field_stats={{ field }} type="button" class="btn btn-primary stats-button"><span class="fa fa-bar-chart icon-margin-right"></span>Stats</button></th>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </tfoot>
                    </table>

                    <br>
                    {%  if features_error %}
                        <div>
                            <h4>The following neurons could not be analyzed because they have some errors:</h4>
                            <p class="error">
                                {%  for neuron in features_error %}
                                    <span>{{ neuron }} </span>
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>


            {% include "morpho_continuous_stats.html" %}


            {% include "sidebar_show_hide_button.html" %}

        </div>
        </body>


    {% endblock %}
    {% placeholder "splashbox" %}



{% endblock %}
