{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}NeuroSTR validator list | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/morpho_validator_neurostr.js" %}"></script>
            <script src="{%  static "neurosuite/js/download_report_datatable.js" %}"></script>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="neurostr_validator" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <!--
            {% include "display_download_report.html" with
            dropdown=True
            text_export_button="Export all..."
            export_pdf_id="pdf-neurostr-datatable"
            %}
            -->
            <input type="hidden" value="{{csrf_token}}" id="csrf_token">

            <h2 style="text-align:center;">NeuroSTR validator</h2>

            <p>NeuroSTR is a neuroanatomy toolbox for C++. It reads and processes three-dimensional neuron reconstructions<br>
                in the most common file formats and offers a huge set of functions and utilities to work with them.<br>
                <a href="https://computationalintelligencegroup.github.io/neurostr/doc/tools.html#validator">NeuroSTR validator documentation.</a>
            </p>

            <div id="all_valid_neurons">
                <h4>Valid neurons:</h4>
                {% if neurostr_validator_neurons.valid_neurons %}
                    <p class="error">Number of valid neurons: {{ neurostr_validator_neurons.valid_neurons|length }}</p>
                {% else %}
                    <p class="error">No valid neurons (Maybe the restrictions were too strong)</p>
                {% endif %}

                <div class="section-report" id="section-neurostr-datatable">
                    <!--
                    {% include "display_download_report.html" with
                    app_id="neurostr_validator_neurons"
                    section_report_id="checks_neurons"
                    export_excel_id="excel-neurostr-datatable"
                    export_csv_id="csv-neurostr-datatable"
                    export_pdf_id="pdf-neurostr-datatable"
                    export_image_id="image-neurostr-datatable"
                    %}
                    -->
                    <div class="section-report-content">
                        <h3 class="section-report-title">Neurons checks</h3>
                        {{ neurostr_validator_neurons.checks_neurons | safe }}
                    </div>
                </div>
            </div>
            <hr>


            <div class="section-report" id="section-neurostr-check-indiv">
                <div class="section-report-content">
                    <h3 class="section-report-title">Check neurons with all results</h3>
                    <table id="table-neurons-neurostr-validator" class="table-with-footer">
                        <thead>
                        <tr><th>Neuron</th><th>Validate</th></tr>
                        </thead>
                        <tbody>
                        {% for neuron in neurons_user %}
                            <tr>
                                <td>{{ neuron.name }}</td>
                                <td>
                                    <form id="validate_neurostr_form" action="/morpho/morpho_validate_neuron_neurostr/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                        <button type="submit" id='validate_neurostr_{{ neuron.name }}' class="btn btn-primary" >Validate</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
