{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Neuroviewer list | Morphometric analyzer - NeuroSuites{% endblock title %}</title>

            <!-- Our Custom CSS -->
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js "></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/morpho_analyzer/table_to_datatable.js" %}"></script>
        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="neuroviewer" has_input_dataset=has_input_dataset empty_input_data=empty_input_data  %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <h3>Neuroviewer</h3>
            <p>3D Neuron reconstruction visualization</p>
            <p>Note that some neurons may not work due to their irregular form<br>
                <a target="_blank" href="https://github.com/lrodriguezlujan/neuroviewer">NeuroViewer repository</a>
            </p>

            <table id="table-neurons-neuroviewer" class="table-with-footer">
                <thead>
                <tr><th>Neuron</th><th>View 3D</th></tr>
                </thead>
                <tbody>
                {% for neuron in neurons_user %}
                    <tr>
                        <td>{{ neuron.name }}</td>
                        <td>
                            <form id="view_3D_form" action="/morpho/morpho_neuron3D_neuroviewer" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="neuron_selected" value={{ neuron.name }}>
                                <button type="submit" id='view_3D_{{ neuron.name }}' class="btn btn-primary view_neuron_3D" >View 3D</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
