{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Morphometric analyzer of Neuromorpho.org neurons | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="Search through the NeuroMorpho.org database to get the neurons.
            Then you can use our multiple online tools to analyze the neurons.">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sortable/0.9.13/jquery-sortable-min.js"></script> -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.js"></script>


            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/select_neurons/select_neuromorpho_neurons.js" %}"></script>
            <!-- Panel collapse must be after the .js of this html -->
            <script src="{%  static "neurosuite/js/panel_collapse.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Hyphenator/5.3.0/Hyphenator.min.js"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.css">
            <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/select_neuromorpho_neurons.css" %}" rel="stylesheet" type="text/css" />


        </head>

        <body>

        {% include "sidebar_select_neurons.html" with li_active="neuromorpho" %}

        <!-- Page Content Holder -->
        <div class="column-content">

            <form id="form-search-neuromorpho-query" method="POST" action="/morpho/search_neuromorpho_query" >
                {% csrf_token %}
                <input type="hidden" id="query-values-json" name="query-values-json" />
                <input type="hidden" id="custom-options-json" name="custom-options-json" />
                <div class="container-center">
                    <h3>Select NeuroMorpho neurons</h3>
                    <a href="http://neuromorpho.org/">
                        <img class="neuromorpho_logo" src="{%  static "neurosuite/img/neuromorpho_logo.png" %}" alt="neuromorpho logo" />
                    </a>
                </div>

                <div class="container-sep-top container-center-limited">
                    <p class="text-in-center"><strong>NeuroMorpho.Org</strong> is a centrally curated inventory of <strong>digitally reconstructed neurons</strong> associated with peer-reviewed publications. It contains contributions from over 400 laboratories worldwide and is continuously updated as new morphological reconstructions are collected, published, and shared. To date, NeuroMorpho.Org is the largest collection of publicly accessible 3D neuronal reconstructions and associated data.</p>
                </div>

                {% if neuromorpho_down %}

                    <div class="container-center">
                        <h3><a href="http://neuromorpho.org">NeuroMorpho.org</a> is <span class="error-color">down</span>.</h3>
                        <p>Please try again later.</p>
                        <p>Try checking out their twitter for any new: <a href="https://twitter.com/neuromorphoorg">https://twitter.com/neuromorphoorg</a></p>
                    </div>

                {% else %}

                    <div class="container-sep-top container-center">
                        <p class="text-in-center">Thanks to the <a href="http://www.neuromorpho.org/acknowl.jsp#NMO">NeuroMorpho.org team</a> for providing the <a href="http://www.neuromorpho.org/apiReference.html">API</a> that allows this interface to get the data.</p>
                        <p>Note that if you do not filter by any field, you will retrieve all the available neurons (+100.000).<br>
                            It is recommended to limit the number of result (at the bottom of the page) in order to speed up the process.</p>
                        <button type="button" class="continue-button btn btn-success">Continue</button>
                    </div>

                    <div class="container-flex-box">
                        {% for category in fields_by_categories %}

                            <div id="search-panel-{{ category.name }}" class="item-flex-box panel panel-primary">
                                <div id="panel-heading-{{ category.name }}" class="category-{{ category.name }} panel-heading clickable ">
                                    <h3 id="panel-title-{{ category.name }}" class="panel-title">{{ category.verbose_name }}</h3>
                                    <span class="pull-right glyphicon-chevron-span glyphicon-chevron-span-head"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                </div>
                                <div class="panel-body neuromorpho-panel-body">
                                    <ul class="list-group items-search-panel">

                                        {% for field in category.fields %}
                                            {%  if field.custom_option %}
                                                <li id="{{ field.name }}" custom_option="true" name="{{ field.name }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                                                    {% else %}
                                                <li id="{{ field.name }}" custom_option="false" name="{{ field.name }}" class="list-group-item item-search-panel clickable" data-toggle="collapse" >
                                            {% endif %}
                                        <span class="glyphicon-chevron-span" id="label-li-{{ field.name }}">{{ field.verbose_name }}</span>
                                        <span class="pull-right glyphicon-chevron-span"><i class="glyphicon glyphicon-chevron-down"></i></span>
                                        </li>
                                            <div id="{{ field.name }}" class="collapse list-group-submenu">
                                                <div id="loading-{{ field.name }}" class="loading-submenu container-center">
                                                    <img class="neuromorpho_loading_logo" src="{%  static "neurosuite/img/neuroSuite_loading_logo.gif" %}" alt="Loading..." />
                                                    <span>Loading...</span>
                                                </div>
                                                <div id="error-{{ field.name }}" class="error-submenu">
                                                    <p>Error loading the field values...</p>
                                                </div>
                                                <div id="content-{{ field.name }}" id-field="{{ field.name }}" field-verbose-name="{{ field.verbose_name }}" category-class="category-{{ category.name }}" category-verbose-name="{{ category.verbose_name }}" class="content-submenu">
                                                    {%  if field.name == "limit_number_results" %}
                                                        <div class="wrap-{{ field.name }} container-sep-left" id="wrap-{{ field.name }}">
                                                            <label>Get only the first <input class="input-{{ field.name }}" type="number" min="0" value="10" id="input-{{ field.name }}"> results</label>
                                                        </div>
                                                    {%  elif field.name == "sort_results" %}
                                                        <div class="wrap-{{ field.name }}" id="wrap-{{ field.name }}">
                                                            <div class="container-sep-left">
                                                                <label>Order:</label>
                                                            </div>
                                                            <select class="select-values-field" id="select-values-order-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                            <div class="container-sep-left">
                                                                <label>Sort by field:</label>
                                                            </div>
                                                            <select class="select-values-field" id="select-values-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                        </div>
                                                    {% else %}
                                                        <div class="radio-numeric-values-field radio-group-inline" id="radio-numeric-values-{{ field.name }}">
                                                            <!--
                                                        <label class="radio-inline radio-range-numeric-field"><input checked type="radio" id="radio-range-numeric-{{ field.name }}" name="radio-numeric-values-{{ field.name }}">Range</label>
                                                        <label class="radio-inline radio-exact-numeric-field"><input type="radio" id="radio-exact-numeric-{{ field.name }}" name="radio-numeric-values-{{ field.name }}">Exact value</label>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.neuromorpho.org/apiReference.html">NeuroMorpho.org API</a></span>
                                                        </div>
                                                        <div class="radio-date-values-field radio-group-inline" id="radio-date-values-{{ field.name }}">
                                                            <!--
                                                        <label class="radio-inline radio-range-date-field"><input checked type="radio" id="radio-range-date-{{ field.name }}" name="radio-date-values-{{ field.name }}">Range</label>
                                                        <label class="radio-inline radio-exact-date-field"><input type="radio" id="radio-exact-date-{{ field.name }}" name="radio-date-values-{{ field.name }}">Exact date</label>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.neuromorpho.org/apiReference.html">NeuroMorpho.org API</a></span>
                                                        </div>
                                                        <div class="wrap-select-values-field" id="wrap-select-values-{{ field.name }}">
                                                            <select class="select-values-field" id="select-values-{{ field.name }}" placeholder="Select or type a value..."></select>
                                                        </div>
                                                        <div class="wrap-range-numeric-values-field" id="wrap-range-numeric-values-{{ field.name }}">
                                                            <!--
                                                        <div class="range-numeric-values-field" id="range-numeric-values-{{ field.name }}"></div>
                                                        <div class="input-range-numeric-group container-center">
                                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-1-{{ field.name }}">
                                                            <input class="input-range-numeric" type="number" min="0" id="input-range-numeric-2-{{ field.name }}" >
                                                        </div>
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.neuromorpho.org/apiReference.html">NeuroMorpho.org API</a></span>
                                                        </div>
                                                        <div class="wrap-datepicker-range-field" id="wrap-datepicker-range-field-{{ field.name }}">
                                                            <!--
                                                        <span class="datepicker-range-value" id="datepicker-range-value-{{ field.name }}">From the beggining</span>
                                                        <input type="text" class="datepicker-values-field" id="datepicker-values-{{ field.name }}" />
                                                        -->
                                                            <span>Range fields are not supported by the <a href="http://www.neuromorpho.org/apiReference.html">NeuroMorpho.org API</a></span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        {% endfor %}
                    </div>


                    <div id="modal-order-neuromorpho" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Query confirmation</h3>
                                </div>
                                <div class="modal-body-order-neuromorpho">
                                    <p id="warning-empty-query">
                                        <br>
                                        <i class="fa fa-warning warning-icon warning-icon-neuromorpho-query"></i>
                                        <span><strong>WARNING:</strong> no filters selected. <br>
                                        If you continue, the whole NeuroMorpho.org database will be selected (>30 minutes).
                                    </span>
                                    </p>

                                    <div id="select-query-order">
                                        <h4>How are the filters applied?</h4>
                                        <p>The values of a fields are filtered with an OR operator, so you will get all the neurons that belong to at least one of these values.<br>
                                            When you have multiple fields, the results will be filtered with an AND operator, so you will get all the neurons that belong to all of these values at the same time.<br><br>
                                            <strong>Example:</strong> the query "archive:ascoli AND species:cat,rat AND brain_region:CA1" <br>
                                            will return all neurons which belong to the Ascoli archive and belong to the rat or cat species and brain region CA1.
                                        <p>It is recommended to limit the number of result (at the bottom of the page) in order to speed up the process.</p>

                                        <div id="neuromorpho-query-filters">
                                            <h4>Filters</h4>
                                            <table class="table" id="neuromorpho-query-table">
                                                <thead>
                                                <tr><th>Filter</th><th>Category</th><th>Field</th><th>Values</th><th> </th></tr>
                                                </thead>
                                                <tbody id="neuromorpho-query-list">
                                                </tbody>
                                            </table>
                                        </div>

                                        <div id="neuromorpho-query-custom-options">
                                            <h4>Custom options</h4>
                                            <table class="table" id="neuromorpho-query-custom-options-table">
                                                <thead>
                                                <tr><th>Filter</th><th>Field</th><th>Value</th><th> </th></tr>
                                                </thead>
                                                <tbody id="neuromorpho-query-custom-options-list">
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button id="send-neuromorpho-query" type="button" class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container-sep-top container-center">
                        <p>Note that if you do not filter by any field, you will retrieve all the available neurons (+100.000)<br>
                            It is recommended to limit the number of result (at the bottom of the page) in order to speed up the process.</p>
                        <button type="button" class="continue-button btn btn-success">Continue</button>
                    </div>

                {%  endif %}
            </form>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
