{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Demo morphometric analyzer of neurons | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="This is a demo to analyze some random neurons in order to understand how NeuroSuites works.
            Then you can use our multiple online tools to analyze the neurons.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/morpho_analyzer/select_demo_neurons.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>

        {% include "sidebar_select_neurons.html" with li_active="demo" %}

        <!-- Page Content Holder -->
        <div class="column-content container-center">
            <h3>This is a demo with some random neurons</h3>
            <p class="p-no-margin">
                <img id="img-neuroviewer-demo-small" src="{%  static "neurosuite/img/neuroviewer_demo.png" %}"/>
            </p>

            <a href="./process_demo_neurons" type="button" class="btn btn-success">Continue</a>
        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
