{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Upload neurons to the morphometric analyzer | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="Upload your own neuron files. The following file types are supported: swc, dat, asc or json.
            Then you can use our multiple online tools to analyze the neurons.">

            <!-- Our Custom CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer/theme.min.css" media="all" rel="stylesheet" type="text/css" />
            <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" type="text/css" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/loading_worker_task.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/morpho_analyzer/select_upload_neurons.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/piexif.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/purify.min.js" type="text/javascript"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer/theme.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/es.js"></script>
            <script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/vendor/jquery.ui.widget.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/jquery.iframe-transport.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.21.0/js/jquery.fileupload.min.js"></script>
            <script src="{%  static "progress_bar_upload/progress_bar_upload.js" %}"></script>
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/select_neurons/select_upload_neurons.js" %}"></script>
        </head>

        <body>
        {% include "sidebar_select_neurons.html" with li_active="upload_neurons" %}

        <input type="hidden" id="csrftoken" value="{{ csrf_token }}" />
        <input type="hidden" id="tus_upload_url_api_js" value="{{ tus_upload_url_api_js }}" />

        <!-- Page Content Holder -->
        <div class="column-content">

            <div id="upload-csv-div">
                <h3>Upload a dataset</h3>
                <p>Upload a dataset in CSV or Apache Parquet format.
                    (<a href="{%  static "neurosuite/datasets_examples/allen_570_all_features.csv" %}" target="_blank" download>CSV dataset example</a>
                    from the <a href="http://celltypes.brain-map.org/data" target="_blank">Allen Brain Atlas</a>)
                </p>
                <div class="container-sep-top">
                    <div class="form-group form-inline">
                        <label for="checkbox-has-column-id" class="on-mouse-show-hand icon-margin-right">
                            Has column id: </label>
                        <input id="checkbox-has-column-id" type="checkbox" class="form-control input-form-label" />
                        <div id="input-select-column-id" class="icon-margin-left form-group form-inline hide-element">
                            <label for="label-column-id">Label column ID:</label>
                            <input type="text" class="form-control input-form-label" id="label-column-id">
                            <span class="margin-small-left"><p class="p-no-margin">(If no label is given, the first column will be the ID of the rows)</p></span>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="label-column-id">Label instances:</label>
                        <input type="text" class="form-control input-form-label" id="label-instances">
                        <span class="margin-small-left"><p class="p-no-margin"> What are your instances? (e.g. neuron morphologies, gene expression levels, etc). If no label is given, the instances will be named "Instances".</p></span>
                    </div>

                    <div class="container-sep-top" id="upload-csv-div">

                        <div class="container-sep-top" id="upload-csv-dataset">
                            <!------------JQUERY UI UPLOAD------------------------------------------------>
                            <!--
                            {% csrf_token %}
                            <input id="chunked-upload-csv" type="file" name="the_file">
                            <div id="uploading-csv" class="container-center hide-element">
                                <p id="status-upload-csv" class="p-no-margin">
                                    <span id="status-text-upload-csv"></span><i class="fa fa-spinner fa-spin icon-margin-left"></i>
                                </p>
                                <p id="status-extra-upload-csv" class="p-no-margin hide-element"></p>

                                <div id="progress-bar-status-upload-csv" class="progress hide-element">
                                    <div id="progress-bar-upload-csv" class="bar progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                                        <span id="progress-bar-text-upload-csv" class="bar-text"></span>
                                    </div>
                                </div>
                            </div>

                            <p id="upload-csv-error" class="error-color hide-element"></p>
                            <p id="upload-csv-text-complete" class="hide-element"></p>
                            -->
                            <div id="upload-csv-uppy"></div>


                            <div id="waiting-continue-upload-csv" class="container-center hide-element">
                                <p><span class="fa fa-spinner fa-spin icon-margin-right"></span><strong>Loading</strong></p>
                            </div>

                            <p id="upload-csv-error" class="error-color hide-element"></p>
                            <p id="upload-csv-text-complete" class="success-color hide-element"></p>
                        </div>
                    </div>
                </div>

                <hr>
                <h4 class="container-center">OR</h4>
                <hr>

                <div id="upload-neurons-reconstructions-div">
                    <h3>Upload neurons reconstructions</h3>
                    <p>The following file types are supported: swc, dat, asc or json.</p>
                    <p>(All the neurons will be internally converted to swc)</p>
                    <div class="container-sep-top" id="upload-neurons">
                        <div class="file-loading">
                            {{ csrf_token }}
                            <input id="input-ke-upload" name="uploaded_files" type="file" multiple>
                        </div>
                    </div>
                </div>

            </div>

            {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
