{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">
            <title>{% block title %}Continue without neurons to morphometric analyzer | NeuroSuites{% endblock title %}</title>
            <meta name="description" content="Continue to the morphometric analyzer without selecting neurons.
            Only some of the tools will be available if you don't select any neuron.">
            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/flex-3-columns.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>

        {% include "sidebar_select_neurons.html" with li_active="continue_without_neurons" %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <div class="container-center">
                <h3>Continue without selecting a data set</h3>
                <p>You can use the following software without selecting a dataset:</p>
            </div>
            <div class="container-center"><a href="/morpho/index_morpho_analyzer" type="button" class="btn btn-success">Continue</a></div>

            {% include "list_morpho_tools.html" with display="only_without_neurons" %}

        </div>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}
