<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar-select-neurons">

        <div class="sidebar-header">
            <h4>Step 1</h4>
            <h3>Select the source of the dataset</h3>
        </div>

        <ul class="list-unstyled components not-collapse">
                <li id="neuromorpho">
                <a href="/morpho/select_neuromorpho_neurons">NeuroMorpho.org</a>
            </li>
             <li id="upload_neurons">
                <a href="/morpho/select_upload_neurons">Upload dataset from your computer</a>
            </li>
             <li id="continue_without_neurons">
                <a href="/morpho/select_without_neurons">Continue without selecting a dataset</a>
            </li>
            <li id="demo">
                <a href="/morpho/select_demo_neurons">Demo</a>
            </li>




        </ul>

        <ul class="list-unstyled CTAs  not-collapse">
            <li id="instructions"><a href="/morpho/" >Instructions</a></li>
        </ul>
    </nav>
</div>

<script>
    <!-- jQuery CDN -->
    var fixed_menu = true;
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $({{li_active}}).toggleClass('active');
    });
</script>
