<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar">

        <div class="sidebar-header">
            <h4>Step 2</h4>
            <h3>Select a software analyzer</h3>
        </div>

        <ul class="list-unstyled components not-collapse">
            {% if has_morpho_reconstructions and not empty_input_data %}
                <li id="overview">
                    <a href="/morpho/morpho_overview">Overview</a>
                </li>
                <li id="l_measure">
                    <a href="/morpho/morpho_l_measure">L-Measure</a>
                </li>
            {% endif %}
            {% if has_input_dataset %}
                <li id="data-stats-li">
                    <a href="#data-stats-submenu" data-toggle="collapse" aria-expanded="false">Data stats</a>
                    <ul class="collapse collapse-li list-unstyled " id="data-stats-submenu">
                        <li id="data_stats_discrete" parent-li-id="data-stats-li">
                            <a href="/morpho/morpho_data_stats_discrete">Discrete stats</a>
                        </li>
                        <li id="data_stats_continuous" parent-li-id="data-stats-li">
                            <a href="/morpho/morpho_data_stats_continuous">Continuous stats</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li id="machine-learning-li">
                <a href="#machine-learning-submenu" data-toggle="collapse" aria-expanded="false">Machine learning</a>
                <ul class="collapse collapse-li list-unstyled " id="machine-learning-submenu">
                    <!--For another sectoins that require data:
                    {% if has_input_dataset %}
                    {% endif %}
                    -->
                    <li id="ml_bayesian_networks" parent-li-id="machine-learning-li">
                        <a href="/morpho/ml_bayesian_networks">Bayesian networks</a>
                    </li>
                    <li id="ml_probabilistic_clustering" parent-li-id="machine-learning-li">
                        <a href="/morpho/ml_probabilistic_clustering">Probabilistic clustering</a>
                    </li>
                    <li id="ml_non_probabilistic_clustering" parent-li-id="machine-learning-li">
                        <a href="/morpho/ml_non_probabilistic_clustering">Non-Probabilistic clustering</a>
                    </li>
                    <li id="ml_supervised_classification" parent-li-id="machine-learning-li">
                        <a href="/morpho/ml_supervised_classification">Supervised classification</a>
                    </li>
                </ul>
            </li>
            <li id="neuro-apps-li">
                <a href="#neuro-apps-submenu" data-toggle="collapse" aria-expanded="false">Neuro apps</a>
                <ul class="collapse collapse-li list-unstyled " id="neuro-apps-submenu">
                    {% if not empty_input_data %}
                        {% if has_morpho_reconstructions %}
                            <li id="neuroviewer">
                                <a href="/morpho/morpho_neuroviewer">NeuroViewer</a>
                            </li>
                            <li id="neurostr-li">
                                <a href="#neurostr-submenu" data-toggle="collapse" aria-expanded="false">NeuroSTR</a>
                                <ul class="collapse collapse-li list-unstyled " id="neurostr-submenu">
                                    <li id="neurostr_validator" parent-li-id="neurostr-li">
                                        <a href="/morpho/morpho_validator_neurostr">Validator</a>
                                    </li>
                                    <!-- <li id="neurostr_morpho_analyzer"><a href="/morpho/morpho_analyzer_neurostr">Morphometric analyzer</a></li> -->
                                    <!-- <li id="neurostr_branch_features"><a href="/morpho/morpho_branch_features_neurostr">Branch features</a></li> -->
                                    <li id="neurostr_format_converter" parent-li-id="neurostr-li">
                                        <a href="/morpho/morpho_format_converter_neurostr">Format converter and downloader</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="li_3DBasalRM">
                                <a href="/morpho/morpho_3DBasalRM">3DBasalRM</a>
                            </li>
                            <li id="li_gaba_classifier">
                                <a href="/morpho/morpho_gabaclassifier">GabaClassifier</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li id="li_spineSimulation">
                        <a href="/morpho/morpho_spineSimulation">3DspineS</a>
                    </li>
                    <li id="li_somaMS">
                        <a href="/morpho/morpho_somaMS">3DSomaMS</a>
                    </li>
                    <li id="li_synapsesSA">
                        <a href="/morpho/morpho_synapsesSA">3DSynapsesSA</a>
                    </li>
                    <li id="li_hbp_dendrite_arborization_simulation">
                        <a href="/morpho/morpho_hbp_dendrite_arborization_simulation">Dendrite arborization simulation</a>
                    </li>
                </ul>
            </li>

            {% if not empty_input_data %}
                {% if has_morpho_reconstructions %}
                    <li id="li_download_your_data">
                        <a href="/morpho/morpho_download_your_data">Download your neurons</a>
                    </li>
                {% endif %}
            {% endif %}
            <li id="li_export_datasets">
                <a href="/morpho/morpho_export_datasets">Export datasets</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs not-collapse">
            <li id="go_back_select_neurons" class="on-mouse-show-hand" ><a data-toggle="modal" data-target="#modal-confirmation-go-back">Go back to select another set of neurons</a></li>
            <li id="instructions"><a href="/morpho/index_morpho_analyzer" >Instructions</a></li>
        </ul>
    </nav>

</div>


<div id="modal-confirmation-go-back" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Confirmation</h3>
            </div>
            <div class="modal-body container-center">
                <h4><span class="fa fa-warning warning-icon"></span> You will lose this set of neurons.</h4>
                <br>
                <h4 class="">Are you sure to go back?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="/morpho/" type="button" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>

<script>
    <!-- jQuery CDN -->
    window.jQuery = window.$ = jQuery;

    $(document).ready(function () {
        $("#{{li_active}}").toggleClass('active');
        if ($("#{{li_active}}").parent().hasClass("collapse-li")) {
            var parent_li_id = $("#{{li_active}}").attr("parent-li-id");
            $("#" + parent_li_id).addClass('active');
            $("#{{li_active}}").parent().collapse('show');
        }
    });



</script>
