<div class="column-sidebar">

    <nav class="sidebar-neurosuite" id="sidebar_neuron_overview">

        <div class="sidebar-header">
            <input id="neuron_name" type="hidden" value="{{ neuron.name }}">
            <h3>Neuron:</h3>
            <h5>{{ neuron.name }}</h5>
            <img src="{{ neuron.additional_data.png_url }}" class="neuron_png_full clickable" >
        </div>

        <ul class="list-unstyled components not-collapse nav">
            <li id="li-section-details">
                <a href="#section_details">Details</a>
            </li>
            <li id="li-section-l-measure">
                <a href="#section_l_measure">L-Measure</a>
            </li>
            <li id="neuroviewer">
                <a href="#section_neuroviewer">NeuroViewer</a>
            </li>
            <li id="li-section-neurostr">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">NeuroSTR</a>
                <ul class="collapse collapse-li list-unstyled " id="homeSubmenu">
                    <li id="neurostr_validator"><a href="#section_neurostr_validator">Validator</a></li>
                    <li id="neurostr_format_converter"><a href="#section_neurostr_format_converter">Format converter</a></li>
                </ul>
            </li>
            <li id="li-section-gabaclassifier">
                <a href="#section_gabaclassifier">GabaClassifier - Interneuron classifier</a>
            </li>
            <li id="li-section-3DBasalRM">
                <a href="#section_3DBasalRM">3DBasalRM - Repair basal arborization</a>
            </li>


        </ul>

        <ul class="list-unstyled CTAs not-collapse">
            <li id="instructions"><a href="/morpho/morpho_overview" >Go back to view all your neurons</a></li>
        </ul>

    </nav>

</div>


<div class="modal fade modal-center" id="neuron_png_modal" tabindex="-1" role="dialog" aria-labelledby="neuron_png_modal" aria-hidden="true">
    <div class="modal-dialog modal-center-dialog" data-dismiss="modal">
        <div class="modal-content"  >
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="neuron_png_full" >
            </div>
            <div class="modal-footer">
                <p class="text_neuron_png_modal"></p>
            </div>
        </div>
    </div>
</div>

<script>




</script>
