.panel-multimap {
    width: 85%;
}


.reference-multimap {
    font-style: italic;
}

.link-multiline {
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .panel-multimap {
        width: 100%;
    }
}

