
#multimap_app {
    width: 80%;
}

#tools-points-options input {
    width: 100px;
}

#tools-points-options .selectize-input {
    width: 150px !important;
}

.image-heading-recommended-sources{
    margin-left: 20px;
    width: 15%;
    height: 15%;
}

#panel-heading-image-allen {
    width: 20%;
    height: 20%;
}

.question-multimap {
    font-weight: 600;
    color: #000080;
}

.image-question-multimap {
    width: 18%;
    height: 18%;
}

#banner-multimap-desktop-app {
    margin-top: 70px;
}

#map-filename {
    font-weight: 600;
    font-size: 21px;
    margin-right: 30px;
}

#premap {
    margin-top: 75px;
    z-index: 0;
}

#main_map {
    width: 100%;
    height: 500px;
    z-index: 0;
}

#video-multimap-desktop-demo {
    width: 1000px;
}

@media (max-width: 1283px) {
    #video-multimap-desktop-demo {
        width: 400px;
    }
}