
#tool-description {
    margin-top: 25px;
}

#img-dendrite-arborization-demo-small{
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#input_number_simulated_neurons {
    width: 200px;
}

.arrow-next-step {
    font-size: 45px;
    padding-top: 80px;
    padding-left: 100px;
}

.column-arrow-next {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}

.margin-medium {
    margin-bottom: 20px;
    margin-right: 10px;
}

.h-margin-bottom {
    margin-bottom: 20px;
}

#load-simulated-neurosuites {
    color: #FFFFFF;
    background-color: #0a6aa1;
}

.neurosuites_logo_small {
    width: 50px;
    height: 40px;
}

