.label-set-neurons-loaded{
    color: green;
    font-size: 1.3em;
    font-weight: 600;
}

.panel-set-neurons-loaded {
    border: 1px solid #7386d5;
    border-radius: 4px;
}

.containter-center-vertically {
    margin-top: 20px;
}