
#hbp-acknowledgments {
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 100px;*/
    /*z-index: 999;*/
    font-size: 11px;
    vertical-align: center;
    margin-top: 50px;
}

#hbp-logo {
    width: 150px;
    vertical-align: middle;
    margin-top: -100px;
}

#hbp-acknowledgments-text {
    width: 500px;
    margin-left: 10px;
}

#section-select-db-bn {
    /*margin-top: 100px;*/
}

#bayesian-network-graph {
    margin-top: 50px;
    width: 100%;
    height: 600px;
//background-color: #deddee;
    background-color: #f9fafc;
    border: 1px solid #90d0ff;
    border-radius: 25px;
}

#discretize-methods {
    margin-left: 5px;
}

.additional-parameters-after-upload {
    padding-bottom: 20px;
}

.file-input-small.file-preview {
    height: 100px !important;
    width: 370px !important;
    margin: auto !important;
    padding-bottom: 10px;
}
.file-input-small .file-drop-zone {
    height: 70px !important;
}
.file-input-small .file-drop-zone-title {
    font-size: 18px !important;
    margin-top: -60px !important;
}
.file-input-browse-small {
    width: 370px !important;
    margin: auto !important;
    margin-top: 10px !important;

}
.file-input-button-small.file-caption {
    display: none !important;
}

.structure-learning-algorithm-parameters {
    display: none;
}

.buttons-options-draw-bn {
    float:right;
    margin-right: 5px;
}

.buttons-options-draw-bn-last {
    float:right !important;
    margin-right: 30px !important;
}

.dropdown-menu-option {
    font-size: 17px;
}

.dropdown-menu-option .export-icon {
    margin-right: 20px;
}

.backend-selection-div {
    margin-top: 15px;
}

.backend-select {
    margin-left: 15px;
}

#bn-tools-info {
    margin-left: 10px;
    margin-bottom: 10px;
}

.fa-icon-right-margin {
    margin-left: 5px;
}

.slider-single-numeric {
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#section-discretize-method {
    line-height: 0px !important;
    margin-bottom: 0px !important;
}

.discretize-parameters {
    margin-top: 0px;
    margin-left: 140px;
    text-align: center;
}

#discretize-parameters-fayyad_irani {
    margin-left: 250px;
}

.parameters-container {
    width: 220px;
    background: #fff;
    overflow: hidden;
    border: 1px solid #999;
    z-index: 999;
    margin-bottom: 3px;
}

.parameters-container-large {
    width: 300px;
    background: #fff;
    border: 1px solid #999;
    z-index: 999;
    margin-bottom: 3px;
}

.parameters-container-very-large {
    width: 400px;
    background: #fff;
    border: 1px solid #999;
    z-index: 999;
    margin-bottom: 3px;
}



.node-name-plot-class {
    font-weight: bold;
    margin-bottom: 3px;
}

.node-probability-bar-charts{
    width: 95%;
    margin: 5px;
}

.progress-bar-params {
    width: 110px;
    padding: 2px;
    margin:4px;
    float: none !important;
}

.progress-track-params {
    background: #ebebeb;
}

.progress-fill-params {
    background: #666;
    width: 50%;
    text-align: center;
}

.progress-track-params,
.progress-bar-params ,
.progress-fill-params {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}



.node-parameters-selection {
    margin: 0 5px 10px 5px;
}

.node-parameters-number-selection {
    margin-right:5px;
    margin-left:5px;
}

.node-parameters-discrete-checkbox {
    margin-top: 1px;
    vertical-align:middle;
}

.node-param-state-name {
    margin-left: 3px;
    width: 50px;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.waiting-param-node {
    margin-bottom: 10px;
}

#evidence-buttons {
    margin-top: 3px;
    margin-bottom: 3px;
}

.input-evidence {
    width: 60% !important;
}

.selectize-with-min-width .selectize-control {
    min-width: 160px;
}

.selectize-input {
    overflow: visible;
}

#create-custom-group-error {
    font-size: 16px;
}

#filter-edges-by-weight-title {
    margin-right: 30px;
}

#filter-edges-by-weight-section {
    margin-top: 60px;
}

#slider-filter-edges-by-weight-span {
    min-width: 100px;
    margin-right: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}
