

#select-bn-structure-sort {
    margin-left: 160px;
}


.selectize-bn-structure-sort .selectize-input  {
    width: 110px !important;
    font-weight: 500;
}

#filter-columns-clustering-table {
    margin-bottom: 50px;
}

#info-cols-showing {
    margin-bottom: -32px;
}

#prob-clustering-table {
    z-index: 999 !important;
    width: 100% !important;
}

#prob-clustering-table td {
    padding:0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0px !important;
}


#prob-clustering-table tr {
    padding:0px !important;
    text-align: center !important;
    vertical-align: middle !important;
    margin: 0px !important;
}

th {
    text-align: center !important;
    min-width: 175px !important;
}

tfoot th {
    background-color: white !important;
}

tfoot tr {
    height: 60px;
}

/*.slider-inputs-div {
    width: 100px !important;
}

.input-below-slider {
    width: 50%;
}*/

.search-field-table-range-num {
    width: 130px !important;
    margin-top: 40px !important;
    height: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px !important;
    text-align: center !important;
}

.noUi-connect {
    background: #2980b9;
}


.search-field-table-range-num .noUi-handle {
    background: #FFFFFF;
    height: 25px;
    width: 15px !important;
    border: 1px solid black;
    left: -10px !important;
}

.search-field-table-range-num .noUi-handle:before, .noUi-handle:after {
    content: none !important;
    display: none !important;
}

.search-field-table-range-num .noUi-base {
    border: 0.1px solid #009999;
    border-radius: 3px;
    background: #e6ffff;
}

/*
.search-field-table-range-num .noUi-handle:before {
    left: 6px !important;
}

.search-field-table-range-num  .noUi-handle:after {
    left: 11px !important;
}
*/

.noUi-pips{
    font-weight: 300;
    color: #505050;
}

.noUi-tooltip {
    padding: 0px !important;
    margin: 0px !important;
    font-weight: 700;
}

/*
.search-field-table-range-num .noUi-active .noUi-tooltip {
    display: block;
    bottom: 0px;
    font-size: 12px;
    font-weight: 300;
}
*/

.input-below-slider {
    width: 65px;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
}

.slider-single-numeric-span {
    min-width: 100px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.p-below-slider {
    margin-top: 40px;
    margin-left: 30px;
}

#update-params-glasso {
    margin-top: -100px;
    margin-left: -10px;
}

#glasso-params-title {
    margin-top: 50px;
}

#glasso-params {
    margin-top: -100px;
    margin-bottom: 10px;
    margin-left: 250px;
}
