
#hbp-acknowledgments {
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 100px;*/
    /*z-index: 999;*/
    font-size: 11px;
    vertical-align: center;
    margin-top: 50px;
}

#hbp-logo {
    width: 150px;
    vertical-align: middle;
    margin-top: -100px;
}

#hbp-acknowledgments-text {
    width: 500px;
    margin-left: 10px;
}

#section-select-class-features {
    margin-bottom: 20px;
}