
#statistics-section {
    margin-top: 50px;
}

#univariate-stats {
    margin-top: 15px;
    margin-bottom: 30px;
}


#bivariate-stats {
    margin-bottom: 60px;
}


#multivariate-stats {
    margin-bottom: 60px;
}

.div-select-features {
    margin-top: 35px;
    margin-bottom: 30px;
}

.selectize-hypothesis-type {
    width: 55px !important;
    font-weight: 400;
}

.middle-section {
    padding-top: 10px;
}

.generate-plots-button {
    margin-bottom: 15px;
}

.select-all-button {
    margin-right: 1px;
}

.select-deselect-buttons {
    margin-bottom: 5px;
}

.heading-statistics-icon {
    font-size:36px;
}

.generate-tabular-stats-button {
    margin-bottom: 15px;
    margin-left: 1px;
}

.section-type-hypothesis-test {
    margin-bottom: 100px;
}

.hypothesis-results {
    margin-top: 25px;
}

.do-hypothesis-button{
    margin-top: 25px;
}

.category-discrete {
    background-color: #2d4373;
}

.category-continuous {
    background-color: #0B7500;
}

.load-selectize-features {
    background-color: rgba(249,249,249, 1);
    font-size: 14px;
    height: 35px !important;
    text-align: center;
    border: 1px solid rgb(184, 184, 184) !important;
    border-radius: 3px !important;
    font-weight: 400 !important;
}

.load-selectize-discrete-features {
    background-color: rgba(249,249,249, 1);
    font-size: 14px;
    height: 35px !important;
    text-align: center;
    border: 1px solid rgb(184, 184, 184) !important;
    border-radius: 3px !important;
    font-weight: 400 !important;
}

.icon-load-selectize {
    margin-left: 5px !important;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #575757;
}
