

.renderCanvas {
    width: 100%;
    height: 600px;
}

.half-screen .renderCanvas{
    width: 750px;
    height: 600px;
}


/* ---------------------------------------------------
 MEDIAQUERIES
 For small screens (mobile)
----------------------------------------------------- */
@media (max-width: 768px) {

    .renderCanvas {
        width: 100%;
    }

    .controlPanel {
        width: 35% !important;
    }

    .neuronPanel {
        margin-left: 200px !important;
    }

}