.section-neuron-overview {
    /*padding-top: 80px; */
    padding-top: 80px;
    margin-top: -100px;
}


.container-flex-box {
    margin-top:30px;
    padding: 10px;
    /*background-color: #E7EAFF; */
    /*border: 1px solid blue; */
    border-radius: 25px;
    display: -webkit-box;     /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;        /* Firefox 19- */
    display: -ms-flexbox;     /* IE 10 */
    display: -webkit-flex;    /* Chrome */
    display: flex;            /* Opera 12.1, Firefox 20+ */

    /* iOS 6-, Safari 3.1-6 */
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-lines: multiple;  /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Firefox 19- */
    -moz-flex-flow: row wrap;
    -moz-justify-content: space-between;
    -moz-box-lines: multiple; /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Chrome */
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;

    /* IE10 */
    -ms-flex-flow: row wrap;
    -ms-justify-content: space-between;

    /* Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
}

.item-flex-box{
    margin: 10px;
    width: 40%;
    height: 100%;
    border: 1px solid red;
    -webkit-box-flex: auto;    /* iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.0;        /* Firefox 19- */
    -webkit-flex: auto;        /* Chrome */
    -ms-flex: auto;            /* IE10 */
    flex: auto;                /* Opera 12.1, Firefox 20+ */
}

.list-group-item{
    font-weight: 600;
    background-color: #FFD0D0;
    border-bottom: 2px solid white;
}


.neuron-overview-panel-body {
    margin-left: auto;
    margin-right: auto;
    padding:0px 0px 0px 0px;
    margin-bottom: 5px;
}

.collapse{
    padding:0px 0px 0px 0px;
}


td.neuron-data-field-name{
    font-weight: 700;
}

.panel p{
    margin-bottom:1.0em;
}


#panel-neuroviewer{
    width: 60%;
    height: auto;
}

.modal-body{
    text-align: center;
}


#result_class_gabaclassifier {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
    For small screens (mobile)
----------------------------------------------------- */
@media (max-width: 768px) {
    .panel {
        width: auto;
    }

    .container-flex-box {
        width: auto;
    }

    .glyphicon-chevron-span {
        text-align: center;
        margin-top: -7px;
    }


}
