

.neuron_png_cell_table {
    width: 75%;
    height: 75%;
    max-width: 130px;
    max-height: 103px;
}

.neuron_png_full {
    width: auto;
    height: auto;
}

.modal-body{
    text-align: center;
}

