
.container-flex-box {
    margin-top:30px;
    padding: 10px;
    background-color: #E7EAFF;
    /* border: 1px solid blue; */
    border-radius: 25px;
    display: -webkit-box;     /* iOS 6-, Safari 3.1-6 */
    display: -moz-box;        /* Firefox 19- */
    display: -ms-flexbox;     /* IE 10 */
    display: -webkit-flex;    /* Chrome */
    display: flex;            /* Opera 12.1, Firefox 20+ */

    /* iOS 6-, Safari 3.1-6 */
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-lines: multiple;  /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Firefox 19- */
    -moz-flex-flow: row wrap;
    -moz-justify-content: space-between;
    -moz-box-lines: multiple; /* Only here for informative purpose, this line is what should have made it work, it has never been implemented */

    /* Chrome */
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;

    /* IE10 */
    -ms-flex-flow: row wrap;
    -ms-justify-content: space-between;

    /* Opera 12.1, Firefox 20+ */
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-flex-box{
    margin: 10px;
    width: 30%;
    height: 100%;
    border: 1px solid red;
    -webkit-box-flex: auto;    /* iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1.0;        /* Firefox 19- */
    -webkit-flex: auto;        /* Chrome */
    -ms-flex: auto;            /* IE10 */
    flex: auto;                /* Opera 12.1, Firefox 20+ */
}





.list-group-item{
    font-weight: 600;
    background-color: #FFD0D0;
    border-bottom: 2px solid white;
}


.neuromorpho-panel-body {
    padding:0px 0px 0px 0px;
    margin-bottom: -19px;
}

.collapse{
    padding:0px 0px 0px 0px;
}


.loading-submenu {
    display: none;
}

.error-submenu {
    display: none;
}

.content-submenu {
    display: none;
}



.wrap-range-numeric-values-field {
    display: none;
    margin-bottom: 10px;
}

.range-numeric-values-field{
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.noUi-handle{
    background-color: #67b168;
    border: 1px solid black;
}

.noUi-connect {
    background: #2980b9;
}

.noUi-pips{
    height: 50%;
    font-weight: 600;
    color: #505050;
}

.wrap-select-values-field{
    select: none;
}


.wrap-datepicker-range-field {
    display:none;
}

.wrap-limit_number_results {
    display: none;
}

.wrap-sort_results {
    display: none;
}

.datepicker-values-field{
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.datepicker-range-value {
    text-align: center;
    width: 100%;
    font-weight: 600;
    font-size: 1.1em;
    color: #000080;
}

.radio-numeric-values-field {
    display: none;
    text-align: center;
}

.radio-date-values-field {
    display: none;
    text-align: center;
}

.radio-group-inline {
    margin-bottom: 10px;
}


.category-animal, #panel-heading-animal {
    background-color: #0077e2;
}

.category-anatomy, #panel-heading-anatomy {
    background-color: #008855 !important;
}

.category-completeness, #panel-heading-completeness {
    background-color: #CC3434;
}

.category-experiment, #panel-heading-experiment {
    background-color: #505050;
}

.category-source, #panel-heading-source {
    background-color: #226600;
}

.category-morphometry, #panel-heading-morphometry {
    background-color: #a47e3c;
}

.category-l-measure, #panel-heading-l-measure {
    background-color: #669999;
}

.category-other_fields, #panel-heading-other_fields {
    background-color: #00994d;
}


.category-custom_options, #panel-heading-custom_options {

}

.modal-body-order-neuromorpho {
    margin-left: 15px;
}


.ui-sortable tr {
    cursor:pointer;
}

.ui-sortable tr:hover {
    background: #e6ebff;
}

.selectize-control.multi .selectize-input > div {
    font-weight: 500;
}

.name-category-order {
    font-weight: 500;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    color: #ffffff;
    border: 1px solid #0073bb;
    box-sizing: border-box;
    border-radius: 3px;
}

.name-field-order {
    font-weight: 500;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #ffd0d0;
    color: #000000;
    border: 1px solid #0073bb;
    box-sizing: border-box;
    border-radius: 3px;
}

.value-field-order {
    font-weight: 500;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #1da7ee;
    color: #ffffff;
    border: 1px solid #0073bb;
    box-sizing: border-box;
    border-radius: 3px;
}

.warning-icon-neuromorpho-query {
    margin-right: 15px;
}

/*
body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

#neuromorpho-query-list li.placeholder {
  position: relative;
}
#neuromorpho-query-list li.placeholder:before {
  position: absolute;
}

*/


/* ---------------------------------------------------
    MEDIAQUERIES
    For small screens (mobile)
----------------------------------------------------- */
@media (max-width: 768px) {
    .panel {
        min-width: 170px;
    }

    .container-flex-box {
        min-width: 170px;
    }

    .glyphicon-chevron-span {
        text-align: center;
        margin-top: -7px;
    }
}
/* ---------------------------------------------------
    MEDIAQUERIES
    For laptop screens (mobile)
----------------------------------------------------- */
@media (max-width: 1024px) {
    .input-range-numeric {
        width: 100%;
        max-width: inherit;
    }

    .range-numeric-values-field {
        width: 85%;
    }

    .input-limit_number_results {
        width: 100%;
        max-width: inherit;
        max-width: 170px;
    }
}