{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}NeuroSuites{% endblock title %}</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=yes" />
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static "favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static "favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static "favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{%  static "favicons/manifest.json" %}">
    <link rel="mask-icon" href="{%  static "favicons//safari-pinned-tab.svg" %}" color="#4b0ad0">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:site_name" content="NeuroSuites">
    <meta property="og:title" content="NeuroSuites" />
    <meta property="og:url" content="NeuroSuites.com" />
    <meta property="og:description" content="Online neuroscience tools" />
    <meta property="og:image" itemprop="image" content="{%  static "neurosuite/img/neurosuites_logo_blank_small.png" %}">
    <meta property="og:type" content="website" />
    <meta property="og:updated_time" content="1440432930" />


    <!-- CSS -->
    <link href="{%  static "django_cms_base/style.css" %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />

    {% render_block "css" %}

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>



    <script>
        //cookie-consent-config: (INLIN
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#383b75"
                    },
                    "button": {
                        "background": "#f1d600"
                    }
                },
                "content": {
                    "message": "This website uses cookies to ensure you get the best experience on our website. By navigating this site, you agree to allow us to use cookies.",
                    "dismiss": "Ok",
                    "href": "https://neurosuites.com/cookie-policy"
                }
            })});
    </script>
</head>

<body>
{% cms_toolbar %}
<div id="wrapper">
    <div id="content">
        <div id="page">

            <div class="content-div">
                <div class="navbar navbar-default" id="navbar-top-neurosuite" role="navigation">

                    <div class="menu_block">
                        <div id="menu-neurosuites" class="container clearfix">
                            <div class="logo pull-left">
                                <a class="link-no-decorated" href="/" >
                                    <span>
                                        <img id="neuroSuite_logo_withText" src="{%  static "neurosuite/img/neurosuites_logo_withText_small.png" %}" alt="NeuroSuites logo" />
                                    </span>
                                </a>
                                <span id="version-number-menu"><a class="link-no-decorated" id="version-number-menu-link" href="/#what_is_new">v1.3 - 22/06/2020</a></span>
                            </div>



                            <div class="pull-right">
                                <nav class="navmenu center">
                                    <ul>
                                        {% show_menu 0 100 100 100 "menu.html" %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- {% show_breadcrumb %} -->
        <div id="content-neurosuite">
            {% block content %}{% endblock content %}
        </div>

        <footer>
            {% static_placeholder 'footer' %}
        </footer>

    </div>

    <script type="text/javascript">

        function loadScript(src) {
            var element = document.createElement("script");
            element.src = src;
            document.body.appendChild(element);
        }


        // Add a script element as a child of the body
        function downloadJSAtOnload() {
            //loadScript("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");
            //loadScript("script3.js");
        }

        // Check for browser support of event handling capability
        if (window.addEventListener)
            window.addEventListener("load", downloadJSAtOnload, false);
        else if (window.attachEvent)
            window.attachEvent("onload", downloadJSAtOnload);
        else window.onload = downloadJSAtOnload;

    </script>

    {% render_block "js" %}



</div>




</body>

</html>
