/* Circles and links */
.nodecircle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    stroke: #999;
    stroke-opacity: .6;
}

/* Node adaptative text*/
.nodetext {
    font: 24px"Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
}

.node{
    cursor: pointer;
}

.node:hover{
  -webkit-filter: contrast(1.5) saturate(6);
}