{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}

{% block content %}
    {% placeholder "feature" %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.7">
        <title>{% block title %}Error 404 | NeuroSuites{% endblock title %}</title>

        <!-- Our Custom CSS -->
        <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
    </head>

    <body>

    <div class="container-center">
        <h2 class="text-primary">Error 404</h2>
        <br>
        <h4>The page <strong>{{ url_error }}</strong> can not be found. Check the url and try again.</h4>
        <button type="button" class="btn btn-default" onclick="history.back(-1)" >Go back</button>
    </div>


    </body>

    {% placeholder "splashbox" %}

{% endblock %}
