{% extends 'django_cms/base.html' %}
{% load cms_tags staticfiles %}



{% block content %}
    {% placeholder "feature" %}
    {% block morpho_analyzer__content %}
        <head>
            <meta charset="utf-8">

            <script src="{%  static "neurosuite/js/navbar_side.js" %}"></script>
            <script src="{%  static "neurosuite/js/loading_worker_task.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.1/moment-duration-format.min.js"></script>

            <!-- Our Custom CSS -->
            <link href="{%  static "neurosuite/css/global.css" %}" rel="stylesheet" type="text/css" />
            <link href="{%  static "neurosuite/css/loading_worker_task.css" %}" rel="stylesheet" type="text/css" />

        </head>

        <body>

        {% include "sidebar_morpho_analyzer.html" with li_active="instructions" has_input_dataset=has_input_dataset empty_input_data=empty_input_data metadata_available=metadata_available %}

        <!-- Page Content Holder -->
        <div class="column-content">
            <input type="hidden" value="{{ data }}" id="data">
            <input type="hidden" value="{{task.id}}" id="task_id">
            <input type="hidden" value="{{ task.url_on_loading }}" id="task_url_on_loading">
            <input type="hidden" value="{{csrf_token}}" id="csrf_token">
            <input type="hidden" value="{{cancel_possible}}" id="cancel_possible">

            <div class="container-center">
                <h2 class="text-primary">{{ task.name }}</h2>
                <h4 class="text-primary">{{ task.description }}</h4>

                <p>
                    Your Task is <span id="user-count"></span>
                </p>
                <p class="warning">
                    <i class="fa fa-warning warning-icon"></i>
                    <span>Warning: If you close this window, this task will be canceled</span>
                </p>

                {% if task.id %}
                    <div class="progress">
                        <div class="bar progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
                            <span class="bar-text"></span>
                        </div>
                    </div>
                    <p>Estimated time to finish:
                        <span id="estimated-time-finish"></span><i class="fa fa-spinner fa-spin"></i>
                    </p>
                    <p>In the meantime you can open a new tab and continue using the application by clicking <a target="_blank" href="{{ send_to_background_url }}">here</a>.
                        <br>
                        The task will still be running on this tab.
                    </p>
                {% endif %}
                {% if cancel_possible %}
                    <button id="button-cancel-task" type="button" class="btn btn-danger">Cancel</button>
                {% endif %}
            </div>
        </div>

        <form id="form-task-done-frontend" method="POST" action="{{ task.url_on_loading }}" >
            {% csrf_token %}
            <input type="hidden" id="task_done_frontend" name="task_done_frontend" value="1" />
            <input type="hidden" id="task_id" name="task_id" value={{ task.id }} />
        </form>

        {% include "sidebar_show_hide_button.html" %}

        </body>

    {% endblock %}
    {% placeholder "splashbox" %}

{% endblock %}

