{% load cms_tags staticfiles %}

<div class="progress">
    <div id="{{ progress_id }}-bar" class="bar progress-bar progress-bar-success progress-bar-striped active" role="progressbar">
        <span id="{{ progress_id }}-bar-text" class="bar-text"></span>
    </div>
</div>

<p>Estimated time to finish:
    <span id="{{ progress_id }}-estimated-time-finish" class="estimated-time-finish"></span><i class="fa fa-spinner fa-spin icon-margin-left"></i>
</p>

<button id="{{ progress_id }}-cancel-task" type="button" class="btn btn-danger cancel-task">Cancel</button>


